  </div><!--/.col-->
</div><!--/.row-->

<div class="row row-wide justify-content-center">
  {{#if maxWidth}}
    <div class="col" style="max-width: {{ maxWidth }}px">
  {{else}}
    <div class="col">
  {{/if}}
    {{> @partial-block}}
  </div>
</div>

<div class="row justify-content-center">
  <div class="col">