<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-2 mb-4 mb-md-0">
        <img class="truffle-logo" src="/img/truffle-logo-light.svg" alt="Truffle Logo" />
      </div>

      <div class="col-12 col-md-5 mb-3 mb-md-0">
        <ul>
          <li><a href="mailto:inquiry@trufflesuite.com">CONTACT US</a></li>
          <li><a href="/policy">PRIVACY POLICY</a></li>
          <li><a href="/press-releases">PRESS RELEASES</a></li>
          <li><a href="/staff">STAFF</a></li>
          <li><a href="/dashboard">DASHBOARD</a></li>
          <li><a href="https://github.com/trufflesuite">GITHUB</a></li>
          <li><a href="/branding">BRANDING</a></li>
          <li><a class="trufflecon-link" href="https://www.trufflesuite.com/trufflecon2020">TRUFFLEC<img src="/img/truffle-logomark.svg" alt="Truffle Logo" /><span>O</span>N 2020</a></li>
          <li><strong>&copy; ConsenSys Software Inc. 2021</strong></li>
        </ul>

        <ul class="list-inline h4 ">
          <li class="list-inline-item mb-0"><a href="https://www.reddit.com/r/truffle"><i class="fab fa-reddit-square"></i></a></li>
          <li class="list-inline-item mb-0"><a href="https://twitter.com/trufflesuite"><i class="fab fa-twitter-square"></i></a></li>
          <li class="list-inline-item mb-0"><a href="https://www.facebook.com/trufflesuite/"><i class="fab fa-facebook-square"></i></a></li>
          <li class="list-inline-item mb-0"><a href="https://www.instagram.com/truffledevsuite/"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item mb-0"><a href="https://www.linkedin.com/company/trufflesuite/"><i class="fab fa-linkedin"></i></a></li>
          <li class="list-inline-item mb-0"><a href="https://www.youtube.com/channel/UCo2cy2Z7_91zPJSrb6NWfSw"><i class="fab fa-youtube-square"></i></a></li>
        </ul>
      </div>

      <div class="col-12 col-md-5">
        <h4>SIGN UP FOR THE TRUFFLE MAILING LIST</h4>
        <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "4795067",
            formId: "d18995c8-32bb-4b2d-bde9-3f49fb3d2837"
          });
        </script>
      </div>
    </div>
  </div>
</footer>
