<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-2 mb-4 mb-md-0">
        <img class="truffle-logo" src="/img/truffle-logo-light.svg" alt="Truffle Logo" />
      </div>

      <div class="col-12 col-md-5 mb-3 mb-md-0">
        <ul>
          <!--<li><a href="/careers">CAREERS</a></li>-->
          <li><a href="mailto:inquiry@trufflesuite.com">CONTACT US</a></li>
          <li><a href="/policy">PRIVACY POLICY</a></li>
          <li><a href="/dashboard">DASHBOARD</a></li>
          <li><a href="https://github.com/trufflesuite">GITHUB</a></li>
          <li><a href="https://twitter.com/trufflesuite">TWITTER</a></li>
          <li><a class="trufflecon-link" href="/trufflecon2019">TRUFFLEC<img src="/img/truffle-logomark.svg" alt="Truffle Logo" /><span>O</span>N 2019</a></li>
          <li><strong>&copy; Truffle Blockchain Group 2019</strong></li>
        </ul>
      </div>

      <div class="col-12 col-md-5">
        <h4>SIGN UP FOR THE TRUFFLE MAILING LIST</h4>
          <form action="https://truffleframework.us11.list-manage.com/subscribe/post?u=947c9b18fc27e0b00fc2ad055&amp;id=97cfd4251b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <div class="form-group">
              <input type="email" name="EMAIL" class="form-control" placeholder="Email Address" id="footerMailingEmail" required>
            </div>
            <div class="form-group">
              <input type="text" name="FNAME" class="form-control" placeholder="First Name" id="footerMailingFirstName">
              <small id="firstNameHelp" class="form-text text-muted">So we know how to address you.</small>
            </div>
            <button type="submit" class="btn btn-truffle">SUBSCRIBE</button>
          </form>
      </div>
    </div>
  </div>
</footer>