<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-2 mb-4 mb-md-0">
        <img class="truffle-logo" src="/img/truffle-logo-light.svg" alt="Truffle Logo" />
      </div>

      <div class="col-12 col-md-5 mb-3 mb-md-0">
        <ul>
          <!--<li><a href="/careers">CAREERS</a></li>-->
          <li><a href="mailto:inquiry@trufflesuite.com">CONTACT US</a></li>
          <li><a href="/policy">PRIVACY POLICY</a></li>
          <li><a href="/dashboard">DASHBOARD</a></li>
          <li><a href="https://github.com/trufflesuite">GITHUB</a></li>
          <li><a href="https://twitter.com/trufflesuite">TWITTER</a></li>
          <li class="text-truffle">
            <a href="https://new.consensys.net/">
              <img class="consensys-logomark" src="/img/consensys-logomark.svg" alt="ConsenSys Logo" />
              &copy; CONSENSYS 2018
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-5">
        <h4>SIGN UP FOR THE TRUFFLE MAILING LIST</h4>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="footerMailingEmail" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="footerMailingFirstName" placeholder="First Name">
            <small id="firstNameHelp" class="form-text text-muted">So we know how to address you.</small>
          </div>
          <button type="submit" class="btn btn-truffle">SUBSCRIBE</button>
        </form>
      </div>
    </div>
  </div>
</footer>