// Vendor
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./vendor/prism.scss";

// Global
@import "./global/banners.scss";
@import "./global/buttons.scss";
@import "../fonts/century-gothic.scss";
@import "./global/colors.scss";
@import "./global/forms.scss";
@import "./global/general.scss";
@import "./global/modals.scss";
@import "./global/navbar.scss";
@import "./global/footer.scss";
@import "./global/utilities.scss";

// Pages
@import "./pages/blog.scss";
@import "./pages/boxes.scss";
@import "./pages/home.scss";
@import "./pages/docs.scss";
@import "./pages/tutorials.scss";
@import "./pages/truffle.scss";
@import "./pages/ganache.scss";
@import "./pages/drizzle.scss";
