// Overrides
@import "./overrides.scss";

// Vendor
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./vendor/prism.scss";

// Global
@import "./global/alerts.scss";
@import "./global/banners.scss";
@import "./global/buttons.scss";
@import "./global/colors.scss";
@import "./global/forms.scss";
@import "./global/general.scss";
@import "./global/modals.scss";
@import "./global/navbar.scss";
@import "./global/footer.scss";
@import "./global/utilities.scss";

// Pages
@import "./pages/blog.scss";
@import "./pages/boxes.scss";
@import "./pages/home.scss";
@import "./pages/docs.scss";
@import "./pages/guides.scss";
@import "./pages/truffle.scss";
@import "./pages/ganache.scss";
@import "./pages/drizzle.scss";
@import "./pages/support.scss";
@import "./pages/trufflecon.scss";
@import "./pages/policy.scss";
@import "./pages/university.scss";
@import "./pages/events.scss";
@import "./pages/teams.scss";
@import "./pages/press-releases.scss";
@import "./pages/onepagers.scss";
@import "./pages/case-studies.scss";

// Staff

@import "./pages/staff.scss";