.btn {
  border: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.btn-truffle:hover,
.btn-ganache:hover,
.btn-watermelon:hover,
.btn-youtube:hover,
.btn-drizzle:hover,
.btn-eventbrite:hover {
  background: #fff;
  color: #33262a;
}

.btn-truffle {
  background: #3fe0c5;
  color: #33262a;
}

.btn-ganache {
  background: #e4a663;
  color: #33262a;

  &.btn-download {
    font-size: 1.2rem;

    p {
      float: left;
      line-height: 1.2rem;
      margin: .6rem 0 0 0;
    }
  
    img {
      height: 60px;
      float: right;
      margin-left: 1rem;
      width: 60px;
    }
  
    .os {
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
    }
  }
}

.btn-drizzle {
  background: #e911bd;
  color: #fff;
}

.btn-watermelon {
  background: #e86591;
  color: #fff;
}

.btn-eventbrite {
  background: #f6682F;
  color: #fff;
}

.btn-youtube {
  background: #3fe0c5;
  color: #33262a;
}

.btn-outline-white {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;

  &:hover {
    background: #fff;
    color: #5e464d;
  }
}

.btn-consensys {
  background: #2c56dd;
  color: #fff;

  &:hover {
    background: #fff;
    color: #2c56dd;
  }
}

.btn-wrap {
  white-space: normal;
}

.btn-drizzle-tcon {
  background: #e911bd;
  color: #fff;
}

.btn-tcon {
  border: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
