.form-control {
  background-color: #efe5dc;
  border: none;

  &:focus {
    border-color: #3fe0c5;
    box-shadow: 0 0 0 0.2rem rgba(63, 224, 197, 0.5);
  }
}

.bd-dark-cream {
  .form-control {
    background-color: #f8f5f0;
    border: none;
  
    &:focus {
      border-color: #3fe0c5;
      box-shadow: 0 0 0 0.2rem rgba(63, 224, 197, 0.5);
    }
  }
}

/* HubSpot Matching */

.hs-form {
  label {
    margin-bottom: .25rem;

    .hs-form-required {
      color: #d80b0b;
    }
  }

  input[type="text"], input[type="email"] {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f5f0;
    border: none;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;

    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #3fe0c5;
      box-shadow: 0 0 0 0.2rem rgba(63, 224, 197, 0.5);
      outline: none;
    }
  }

  input[type="checkbox"] {
    margin-right: .5em;
  }

  input[type="submit"] {
    display: inline-block;
    font-weight: 400;
    background: #3fe0c5;
    color: #5e464d;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
    &:hover {
      background: #fff;
      color: #5e464d;
    }
  }

  .legal-consent-container {
    font-size: .85rem;
  }

  ul.hs-error-msgs {
    margin-top: -.75rem;
    color: #d80b0b;
  }
}

footer .hs-form {
  label {
    margin-bottom: .25rem;

    .hs-form-required {
      color: #e35353;
    }
  }

  ul.hs-error-msgs {
    margin-top: -.75rem;
    color: #e35353;
  }
}

.hs-form-inline .hs-form {
  .hs-form-field {
    display: inline-block;
  }

  .hs-email {
    margin-right: .5rem;
  }

  .hs-fieldtype-booleancheckbox {
    display: block;
  }

  .inputs-list {
    list-style-type: none;
    padding-left: 0;
  }

  @media screen and (max-width: 767.98px) {
    .hs-form-field {
      display: block;
    }
  }
}

.hs-form-docs {
  input[type="text"], input[type="email"] {
    background-color: #f8f5f0;
    color: #495057; 
  }
}