.navbar {
  font-family: 'Oswald', sans-serif;
  background: #33262a;
  border-bottom: 2px solid #5e464d;

  .dropdown-menu {
    min-width: 14.5rem;
  }
}

.navbar a, .navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav {
  @media (max-width: 767.98px) {
   padding-top: 1rem;
  }
}

// Left Side

.navbar a.navbar-brand {
  line-height: 2rem;

  img {
    display: block;
    float: left;
  }
}

.navbar-brand {
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.navbar .suite-logo {
  height: 2rem;
  margin-right: .75rem;
}

.trufflecon-link {
  letter-spacing: .14em;

  span {
    display: none;
  }

  img {
    height: 1em;
    margin-top: -.25em;
    margin-right: .14em;
  }
}

// Right Side

.navbar .navbar-collapse {
  flex-grow: 0;
  margin-left: auto;
}

// Dropdown

.navbar .dropdown-menu {
  background: #33262a;
  border-bottom: 2px solid #5e464d;
  border-left: 2px solid #5e464d;
  border-radius: 0 0 .25rem .25rem;
  border-right: 2px solid #5e464d;
  border-top: none;
  margin: 8.5px 0 0 -4px;
  padding: 1rem;

  a {
    display: block;

    &:hover {
      text-decoration: none;
      opacity: .75;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .suite-logo {
    height: auto;
    width: 2rem;
  }

  .text-ganache {
    // Ganache's font is just way smaller than Truffle and Drizzle's
    font-size: 1.5rem;
  }

  @media (max-width: 767.98px) {
    margin: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}

// Hamburger Button

.navbar-toggler {
  position: relative;
  height: 32px;
  width: 42px;
  border: none;
  
  &:focus {
    outline-color: transparent;
  }

  .icon-bar {
    position: absolute;
    height: 3px;
    width: 25px;
    transition: all .25s ease-in-out;
    background: #fff;
    transform: none;
  }
}

.icon-bar:nth-of-type(1) {
  top: 7px;
  left: 10px;
}

.icon-bar:nth-of-type(2) {
  top: 15px;
  left: 10px;
}

.icon-bar:nth-of-type(3) {
  bottom: 6px;
  left: 10px;
}

.navbar-toggler[aria-expanded="true"] {
  &:hover {
    opacity: 1;
  }

  .icon-bar:nth-of-type(1) {
    top: calc(50% - 2px);
    left: 11px;
    transform: rotate(45deg);
  }

  .icon-bar:nth-of-type(2) {
    opacity: 0;
  }

  .icon-bar:nth-of-type(3) {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
  }
}

// Subnav

.subnav {
  position: fixed;
  top: 58px;
  width: 100%;
  padding: .5rem .5rem .5rem 0;
  background: transparent;
  z-index: 2;
  transition: all .125s ease-in-out;
  -ms-transition: all .125s ease-in-out;
  -moz-transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;

  a {
    color: #fff;
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    text-transform: uppercase;

    &:hover {
      opacity: .8;
    }
  }

  .btn {
    flex-grow: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 1rem;
    opacity: 0;
    visibility: hidden;  
  }

  &.scroll {
    background: #5e464d;
    padding: 0 .5rem 0 0;

    .btn {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 767.98px) {
    .nav-link {
      padding: .5rem;
      font-size: .8rem;
    }

    .btn-eventbrite {
      margin-right: .5rem;
    }
  }
}
