.Ballotin {
  > main {
    padding: 100px 0 50px 0;
  }

  .label-truffle {
    display: inline-block;
    background: #f8f7f7;
    color: #545452;
    font-weight: normal;
    font-size: 1.2rem;

    svg {
      max-height: 20px;
      margin-bottom: -3px;
      width: auto;
    }
  }

  .FeatureCard {
    background: #FFFFFF;
    border: 1px solid rgba(212,212,212,0.28);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);
    border-radius: 4px;

    h6 {
      @extend .m-b-2;
    }


    .FeatureBody {
      padding: 1rem 1.8rem;

      > p {
        @extend .m-b-2;
        line-height: 1.6rem;
      }

      &.FeatureImage {
        height: 0;
        padding: 0 0 100% 0;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
      }
    }

    footer {
      text-align:center;
      background: #f8f7f7;
      min-height: 60px;

      p {
        margin: 0;
        @extend .p-b-2;
      }

      img {
        width: 60px;
        @extend .p-t-2;
      }

      &.BoxRundown {
        padding: 25px 15px;
        text-align: left;

        h3 {
          margin-top: 0;
        }

        .BoxRundownList {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          font-family: "Open Sans", sans-serif;
          font-weight: normal;

          hr {
            margin: 5px 0;
          }

          strong {
            text-transform: uppercase;
            font-family: "Oswald", "Arial Narrow", sans-serif;
            font-weight: normal;
          }

          .label {
            font-family: "Open Sans", sans-serif;
            font-weight: normal;
          }
        }
      }
    }
  }
}
