.Ballotin {
  /* General */

  p {
    line-height: 1.75rem;
  }

  .row-flex {
    display: flex;
    align-items: center;
    justify-content: left;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  /* Containers */

  .BallotinIndexContainer {
    background: #F8F5F0;
    padding-top: 23px;
  }

  .BallotinSingleContainer {
    padding-top: 23px;
    padding-bottom: 50px;

    .WithDash {
      @extend .m-b-2;
    }
  }

  .CommunityBoxes {
    position: relative;
    background-color: #D8D8D8;
    padding: 60px 0;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25%;
      height: 90%;
      background-color: #fff;
      opacity: .2;
      transform: skew(0, -20deg);
    }

    ul {
      font-family: "Open Sans", sans-serif;
    }

    @media screen and (max-width: 767px) {
      h2 {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  > main {
    padding: 100px 0 0 0;

    @media screen and (max-width: 767px) {
      padding: 60px 0 0 0;
    }
  }

  > .container {
    padding-bottom: 50px;
  }

  /* Elements */

  .label-truffle {
    display: inline-block;
    background: #f8f7f7;
    color: #545452;
    font-weight: normal;

    svg {
      float: left;
      height: 1.2em;
      margin-bottom: -.333333333333333em;
      margin-left: -.333333333333333em;
      margin-right: .2em;
      width: auto;
    }
  }

  h1 .label-truffle {
    font-size: 1.2rem;
  }

  .GitHubStars {
    float: right;
    margin-top: 7px;
  }

  .GitHubStarIcon {
    color: #e4b93e;
  }

  .Sidebar {
    @media screen and (max-width: 991px) {
      margin-top: 2rem;
    }

    @media screen and (max-width: 767px) {
      margin-top: 1rem;
    }

    [class^="col-"]:nth-child(2) .FeatureCard {
      @media screen and (min-width: 992px) {
        margin-top: 4rem;
      }
    }
  }

  .BoxTagsList {
    list-style: none;
    margin: -5px 0 0 0;
    padding: 0;
    width: 100%;

    li {
      display: inline-block;
      margin-top: 5px;

      a {
        @extend .label;
        @extend .label-default;

        display: block;
        padding: .5em .7em .5em;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
      }
    }
  }

  /* Cards */

  .FeatureCard {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);
    border-radius: 4px;

    h6 {
      @extend .m-b-2;
    }

    .FeatureBody {
      padding: 1rem 1.8rem;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      > p {
        @extend .m-b-2;
        line-height: 1.6rem;
      }

      &.FeatureImage {
        height: 0;
        padding: 0 0 100% 0;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;

        @media screen and (max-width: 767px) {
          background-size: cover !important;
        }

        &.visible-xs {
          height: 100px;
          padding: 0;
          background-position: left center !important;
        }
      }

      &.Status {
        background-size: cover !important;
        background-position: left center !important;
      }
    }

    footer {
      text-align:center;
      background: #f8f7f7;
      min-height: 60px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      p {
        margin: 0;
        @extend .p-b-2;
      }

      img {
        width: 60px;
        @extend .p-t-2;
      }

      &.BoxRundown {
        padding: 2rem;
        text-align: left;

        h3 {
          margin-top: 0;
        }

        .BoxRundownList {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          font-family: "Open Sans", sans-serif;
          font-weight: normal;

          li {
            margin-bottom: 0;
          }

          hr {
            margin: 5px 0;
          }

          strong {
            text-transform: uppercase;
            font-family: "Oswald", "Arial Narrow", sans-serif;
            font-weight: normal;
          }

          > li:nth-child(odd):not(:first-child) {
            margin-top: 2rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .FeatureCard {
      margin-top: 5px;
    }

    .CommunityBoxes .FeatureCard {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .FeatureCard {
      margin-top: 30px;
    }

    .CommunityBoxes .FeatureCard {
      margin: 1rem 0 3rem 0;
    }
  }

  /* Markdown Area (Documentation) */

  .BoxMarkdown {
    h1, h2, h3, h4, h5, h6 {
      @extend .m-t-3;
      @extend .m-b-2;
    }

    ul li,
    ol li {
      margin-bottom: 1.5rem;
      line-height: 1.75rem;
      font-family: "Open Sans", sans-serif;
    }
  }
}
