.Ballotin {
  .BallotinIndexContainer {
    background: #F8F5F0;
    padding-top: 23px;
  }

  .CommunityBoxes {
    background-color: #D8D8D8;
    padding: 60px 0;
  }

  > main {
    padding: 100px 0 50px 0;
  }

  .label-truffle {
    display: inline-block;
    background: #f8f7f7;
    color: #545452;
    font-weight: normal;

    svg {
      float: left;
      height: 1.2em;
      margin-bottom: -.333333333333333em;
      margin-left: -.333333333333333em;
      margin-right: .2em;
      width: auto;
    }
  }

  h1 .label-truffle {
    font-size: 1.2rem;
  }

  .FeatureCard {
    background: #FFFFFF;
    border: 1px solid rgba(212,212,212,0.28);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);
    border-radius: 4px;

    h6 {
      @extend .m-b-2;
    }

    .FeatureBody {
      padding: 1rem 1.8rem;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      > p {
        @extend .m-b-2;
        line-height: 1.6rem;
      }

      &.FeatureImage {
        height: 0;
        padding: 0 0 100% 0;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
      }

      &.Status {
        background-size: cover !important;
        background-position: left center !important;
      }
    }

    footer {
      text-align:center;
      background: #f8f7f7;
      min-height: 60px;

      p {
        margin: 0;
        @extend .p-b-2;
      }

      img {
        width: 60px;
        @extend .p-t-2;
      }

      &.BoxRundown {
        padding: 25px 15px;
        text-align: left;

        h3 {
          margin-top: 0;
        }

        .BoxRundownList {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          font-family: "Open Sans", sans-serif;
          font-weight: normal;

          hr {
            margin: 5px 0;
          }

          strong {
            text-transform: uppercase;
            font-family: "Oswald", "Arial Narrow", sans-serif;
            font-weight: normal;
          }

          .label {
            font-family: "Open Sans", sans-serif;
            font-weight: normal;
          }
        }
      }
    }
  }
}
