.body-docs {
  background: #F8F5F0;
}

.Documentation {
  .MainContent {
    background: #F8F5F0;
    padding-top: 100px;
  }

  @media screen and (max-width: 767px) {
    .MainContent {
      padding-top: 60px;
    }
  }

  .DocSearchForm {
    margin-left: 0;
    margin-right: 0;

    .btn {
      height: 53px;
      border: 1px solid #3FE0C5;
    }

    input[type='text'] {
      background: transparent;
      border-color: #3FE0C5;
      padding: 1.58rem 1rem;
      color: #3FE0C5;
    }
  }

  @media (max-width: 1390px) {
    .DocSearchForm {
      margin-right: 0;

      input[type='text'] {
        margin: 0;
      }
    }
  }

  @media (min-width: 992px) {
    .SubNav {
      position: fixed;
      top: 100px;
      left: 0;
      bottom: 0;
      z-index: 1000;
      display: block;
      background-color: #CCCCCC;
    }
  }

  .SubNav {
    background: #33262a;
    color: #3fe0c5;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;

    @media screen and (max-width: 767px) {
      padding: 2rem 15px;
    }

    h2 {
      text-shadow: none;
      text-transform: uppercase;
      color: #3FE0C5;
      padding-top: 1rem;

      &:nth-of-type(3) {
        color: #e4a663;
      }

      &:nth-of-type(4) {
        color: #e911bd;
      }
    }

    ul {
      margin: 0;

      li {
        &:not(:last-child) {
          margin-bottom: .5rem;
        }

        &.active {
          background: #5e464d;
          padding: .5rem;
        }
      }
    }

    > ul > li:nth-of-type(3) {
      a {
        color: #e4a663;

        &:hover {
          color: #fff;
        }
      }
    }

    > ul > li:nth-of-type(4) {
      a {
        color: #e911bd;

        &:hover {
          color: #fff;
        }
      }
    }  

    a {
      color: desaturate(#3FE0C5, 30%);
      transition: all .2s;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }

    ul > li > ul {
      margin-left: 0;
    }
  }

  .ContentPage {
    padding: 2rem 4rem;

    @media screen and (max-width: 991px) {
      padding: 2rem;
    }

    @media screen and (max-width: 767px) {
      padding: 2rem 15px;
    }

    h1,
    h2,
    h3,
    h5
    {
      text-transform: uppercase;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7 {
      position: relative;

      .anchor {
        // The padding-top is needed to keep the anchor on screen given the large nav bar.
        // The rest of this is simply fallout from that; for instance, the anchor is
        // vertically larger now so we need to make sure it doesn't cover up anchors
        // that came before it if there's not much spacing or content between headers.
        padding-top: 160px;
        position: absolute;
        height: 100%;
        width: 40px;
        left: -40px;
        bottom: 40px;
        cursor: default;
        text-decoration: none;

        .header-link {
          display: inline-block;
          position: absolute;
          width: 40px;
          bottom: -40px;
          left: 0;

          &:hover {
            visibility: visible !important;
            background-image: url(/images/anchor.png);
            background-size: 20px 20px;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }

        &:hover {
          .header-link {
            visibility: hidden;
          }
        }
      }

      &:hover {
        .header-link {
          background-image: url(/images/anchor.png);
          background-size: 20px 20px;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }

    p {
      margin-bottom: 2rem;
      line-height: 1.75rem;
    }

    pre {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    ul {
      margin-top: 2rem;
      margin-bottom: 2rem;

      li {
        font-weight: normal;
        font-family: $font-family-serif;
        margin-bottom: 1rem;
        word-wrap: break-word;
        line-height: 1.75rem;
      }

      @media screen and (max-width: 767px) {
        padding-left: 20px;
      }
    }

    img {
      max-width: 100%;
    }
  }

  footer {
    margin-top: 2rem;
    padding: 2rem;
    background: white;
    border-radius: 10px;

    p {
      margin: 0 !important;
      padding: 0;
    }
  }

  .BetaSignup {
    background: transparent;
    border: none;
    padding-bottom: 0 !important;
    padding-top: 0 !important;

    &::before {
      display: none;
    }

    .FormWrapper {
      margin-bottom: 1rem;
    }
  }
}
