
.LandingPage {

  .navbar {
    background: transparent;
    border-color: transparent;
    transition: all .25s ease-in-out;

    &.scroll,
    &.nav-shown {
      background: #fff;
      border-color: #e7e7e7;

      .navbar-brand {
        opacity: 1;
      }
    }
  }

  p, li {
    line-height: 1.75rem;

    &.hint {
      font-size: .9em;
    }
  }

  ul,
  ol {
    font-family: $font-family-serif;
    line-height: 1.5rem;
    margin-left: 0;
    padding-left: 0;

    li {
      margin-bottom: 1.2em;
    }
  }

  header {
    height: 80vh;
    background: url('../images/header_bg.jpg') no-repeat;
    background-size: cover;

    h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    p {
      line-height: 1.5rem;
    }

    div > iframe:first-of-type {
      margin-right: 1em;
    }

    div > a > img {
      margin-top: -10px;
      margin-left: 1em;
    }

    .container {
      position: absolute;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

		.github-button {
			display: none;
		}

    .btn {
      width: 200px;
    }

    .InstallInstruction {
      @extend .m-t-2;
      @extend .m-b-1;
      text-align: center;

      .Box {
        @extend .p-a-1;

        margin: 0 auto;
        background-color: #5E464D;
        border-radius: 2px;

        code {
          background: transparent;
          color: white;
        }
      }
    }
  }

  @media screen and (max-width: 767px),
  screen and (max-height: 739px) {
    header {
      min-height: auto;
      height: auto;
      padding: 83px 0 30px 0;

      .container {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        margin: 30px auto;
      }
    }
  }

  .Features {
    background: white;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -780px;
      height: 1070px;
      background: #fbfbfb;
      transform: skew(0,-45deg);
    }

    .FeatureList {
      li {
        @extend .m-b-3;
        counter-increment: step-counter;

        &:before {
          content: "0" counter(step-counter) ".";
          margin-left: -26px;
          margin-top: -1px;
          font-size: 20px;
          padding: 0px 12px;
          position: absolute;
          left: -10px;
          line-height: 1.2;
        }

        h4 {
          font-weight: bold;
        }

        .LinkSection {
          margin-top: 1rem;
          a {
            margin-right: 1rem;
            font-family: $font-family-serif;
          }
        }
      }
    }

    @media (max-width: 590px) {
      .FeatureList {
        li {
          &:before {
            display: none;
          }
        }
      }
    }

    .FeatureCard {
      background: #FFFFFF;
      border: 1px solid rgba(212,212,212,0.28);
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);
      border-radius: 4px;

      h6 {
        @extend .m-b-2;
      }


			.FeatureBody {
        > p {
          @extend .m-b-2;
          line-height: 1.6rem;
        }


				padding: 1rem 1.8rem;
			}

      footer {
        text-align:center;
        background: #f8f7f7;
        display: flex;
        justify-content: center;
        align-items: center;

        min-height: 60px;

        p {
          margin: 0;
          @extend .p-b-2;
        }

        img {
          width: 60px;
          @extend .p-t-2;
        }
      }
    }
  }

  .Tutorials {
    background-color: #D8D8D8;
    position: relative;
    overflow: hidden;

    .container {
      position: relative;
      overflow: hidden;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1000px;
      height: 1000px;
      background: #e2e2e2;
      transform: skew(0,45deg);
    }

    li {

      a {
        display: block;
        background-color: #94D6E2;
        color: #545452;
        border-bottom: none;
        text-transform: uppercase;
        @extend .p-a-3;
        @extend .m-b-4;
        transition: all .3s;

        h2 {
          margin: 0 0 5px 0;
          padding: 0;
          letter-spacing: 1px;
          text-shadow: none;
        }

        div {
          margin-top: 1.2rem;
          font-weight: bold;
        }

        h2 {
          font-family: $font-family-sans-serif;
          transition: all .3s;
        }

        &:hover {
          color: white;
          text-decoration: none;
          transform: scale(1.02);

          h2 {
            color: white;
          }
        }
      }
    }
  }

  .Blog {
    background-color: #F5F5F5;
    position: relative;
    overflow: hidden;
    border-top: solid 1px #E8E8E8;

    .container {
      position: relative;
      overflow: hidden;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1000px;
      height: 800px;
      background: #E8E8E8;
      transform: skew(0,45deg);
    }

    li {

      a {
        display: block;
        background-color: #fff;
        color: #545452;
        border-bottom: solid 2px #3FE0C5;
        text-transform: uppercase;
        @extend .p-a-3;
        transition: all .3s;

        h2 {
          margin: 0 0 5px 0;
          padding: 0;
          letter-spacing: 1px;
          text-shadow: none;
        }

        div {
          margin-top: 1.2rem;
          font-weight: bold;
        }

        h2 {
          font-family: $font-family-sans-serif;
          transition: all .3s;
        }

        &:hover {
          background-color: #3FE0C5;
          color: white;
          text-decoration: none;
          transform: scale(1.02);

          h2 {
            color: white;
          }
        }
      }

      &:not(:last-child) {
        a {
          @extend .m-b-4;
        }
      }
    }
  }

  .Contributing {
    background: #3fe0c5;

    ol {
      margin-left: 1rem;
    }

    .col-github-logo svg {
      max-width: 300px;
    }
  }

  .NotableUsers {
    li {
      margin-left: 2rem;
      margin-right: 2rem;

      img {
        width: 200px;
        padding-bottom: 2rem;
      }
    }


    @media (max-width: 590px) {
      li {
        margin: 2rem auto;
        display: block;
      }
    }
  }

  .BuiltWith {
    background-color: #fff;
    .Left {
      background-color: #D8D8D8;

      text-transform: uppercase;
      text-shadow: none;

      img {
        border: 4px solid white;
        border-radius: 50%;
        margin-left: 1em;
        margin-right: 1em;
      }

      @media (max-width: 590px) {
        img {
          margin: 0px auto;
        }
      }
    }
    .Right {
      background-color: #fff;
    }
  }

}

.trufflecon-note {
  position: absolute;
  top: 90px;
  right: 100px;
  width: 200px;
  height: auto;

  @media screen and (max-width: 997px) {
    display: none;
  }
}