.Ganache {
  padding-top: 100px;

  background-color: #2a2825;
  background-repeat: none;
  background-size: cover;

  font-family: "Roboto Condensed", sans-serif;

  h2,
  h3,
  h4,
  h5 {
    color: white;
    text-shadow: none;
  }

  p {
    color: #a6aaa8;

    font-weight: 100;
  }

  h2 {
    color: white;

    line-height: 1.2;
  }

  .Flourish {
    display: block;

    max-width: 300px;
    margin: 0 auto;
  }

  main {
    header {
      background-image: url("/images/suite/ganache/header_bg.png");
      background-size: cover;

      .Logo {
        margin-top: 2.5rem;
      }

      h1 {
        margin-top: 2.5rem;

        letter-spacing: 2.5px;

        color: #eff6f4;

        font-size: 36px;
        font-weight: bold;
        line-height: 42px;
      }

      p {
        text-align: center;

        color: white;

        &.text-muted {
          color: #d0d0d0;
        }
      }

      .DownloadVersions {
        letter-spacing: 2.5px;
        text-transform: uppercase;

        color: #a5a9a7;

        font-size: 12px;
      }

      .Emoji {
        font-size: 3rem;
      }
    }
  }

  .DownloadButton {
    display: block;

    width: 290px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1.2rem;

    cursor: pointer;
    text-transform: uppercase;

    color: #202c2a;
    border-radius: 8px;
    background: #e5a35d;
    background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, .18) 0%,
    rgba(0, 0, 0, .20) 100%
    );

    font-weight: bold;
  }

  .PosRel {
    position: relative;
  }

  .Foil {
    position: absolute;
    z-index: -1;
    bottom: 0;

    width: calc(100% + 30px);
    height: 430px;
    margin-left: -15px;
    padding-bottom: 3rem;

    background: #e9b349;
    background-image: linear-gradient(-180deg, rgba(255,255,255,.33) 0%, rgba(0,0,0,.17) 100%);

    &:before {
      display: block;

      width: 100%;
      height: 12px;

      content: "";

      background-image: linear-gradient(
      135deg,
      #2a2825 50%, rgba(255,255,255,0) 50%
      ),
      linear-gradient(
      -135deg,
      #2a2825 50%, rgba(255,255,255,0) 0%
      );
      background-position: top center, top center;
      background-size: .75rem .75rem, .75rem .75rem;
    }

    &:after {
      position: absolute;
      bottom: 0;

      display: block;

      width: 100%;
      height: 12px;

      content: "";

      background-image: linear-gradient(
      45deg,
      #2a2825 50%, rgba(255,255,255,0) 50%
      ),
      linear-gradient(
      -45deg,
      #2a2825 50%, rgba(255,255,255,0) 0%
      );
      background-position: bottom center, bottom center;
      background-size: .75rem .75rem, .75rem .75rem;
    }
  }

  .Features {
    text-align: center;

    h2 {
      color: white;
    }

    h5 {
      letter-spacing: 2.5px;
      text-transform: uppercase;

      color: #4d4c48;

      font-size: 32px;
      font-weight: bold;
    }

    .FeatureList {
      counter-reset: counter;
      text-align: left;

      li {
        display: flex;
        align-items: center;

        margin-bottom: 5rem;

        &:before {
          position: absolute;

          font-size: 120px;
          font-weight: bold;
          letter-spacing: -.5rem;
          z-index: -1;
          color: #454130;

          content: counter(counter, decimal-leading-zero);
          counter-increment: counter;
        }

        .FeatureText {
          padding: 0 4rem;

          flex-grow: 1;
        }

        h4 {
          color: white;
        }
        p {
          color: #a6aaa8;
        }
      }
    }
  }
}

.OpenSource {
  margin: 1rem auto;
  margin-bottom: 6rem;
  padding: 4rem;

  border: 1px dashed #d1a372;
  border-radius: 8px;
}

.BuiltWith {
  border-top: 10px;
  border-bottom: 10px;
  border-image: url(/images/suite/ganache/jaggy_edge.png);
  background-color: #746f67;

  img {
    height: 130px;
  }

  svg,
  .Logo {
    height: 180px;
  }

  .Flourish {
    position: absolute;
    top: 40%;
    right: 0;
  }
}

.Footer {
  h5 {
    color: #545452;
  }
}

@media (max-width: 768px) {
  .Ganache {
    main {
      header {
        height: auto;

        h1 {
          font-size: 15vw;
          line-height: 13vw;
        }
      }
    }
  }
}
