.Support {
  .MainContent {
    padding-top: 123px;
    border-bottom: solid 1px #e7e7e7;

    ul {
      max-width: 600px;

      li {
        font-family: $font-family-serif;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .MainContent {
      padding-top: 83px;
    }
  }

  .custom-box {
    position: relative;
    max-width: 750px;
  }

  .livesaver {
    width: 120px;
    float: right;
  }

  @media screen and (max-width: 767px) {
    ul {
      margin-top: 2rem !important;
    }

    .livesaver {
      display: none;
    }
  }
}
