.TruffleCon {
  .navbar {
    background: #34262a;
    border-color: #5f474e;

    .navbar-nav > li > a {
      color: #fff;
      transition: opacity .125s ease-in-out;

      &:hover {
        opacity: .6;
      }
    }

    .navbar-toggle .icon-bar {
      background-color: #fff;
    }

    @media screen and (max-width: 767px) {
      .navbar-collapse {
        background: #34262a;
      }
    }
  }

  .Footer {
    background: #34262a;
    border-color: #5f474e;
    color: #fff;

    a {
      color: #27aae1;
      transition: opacity .125s ease-in-out;

      &:hover {
        opacity: .6;
        text-decoration: none;
      }
    }

    .copyright svg path,
    .copyright svg ellipse {
      fill: #fff;
    }

    h5 {
      color: #fff;
      text-shadow: none;
    }
  }

  .MainContent {
    position: relative;
    height: calc(100vh - 100px);
    margin-top: 100px;
    background: url("/images/trufflecon18/portland-skyline-recolor.jpg");
    background-position: center center;
    background-size: cover;
    color: #fff;
    transition: all .125s ease-in-out;

    .groovy-logo {
      display: none;
    }
    
    &.groovy {
      background: radial-gradient(#3fe0c5, #e4a663, #e911bd);
      background-size: 600%;
      background-position: center center;

      -webkit-animation: GroovyGradient 2s ease;
      -moz-animation: GroovyGradient 2s ease;
      animation: GroovyGradient 2s ease;

      animation-fill-mode: forwards;

      @-webkit-keyframes GroovyGradient {
        0%{background-size:600%}
        100%{background-size:100%}
      }

      @-moz-keyframes GroovyGradient {
        0%{background-size:600%}
        100%{background-size:100%}
      }

      @keyframes GroovyGradient { 
        0%{background-size:600%}
        100%{background-size:100%}
      }

      .groovy-logo {
        display: inline-block;
      }

      #LetsGetGroovy {
        display: none;
      }

      h1 {
        font-family: "Shrikhand";
        letter-spacing: normal;

        img {
          margin-right: 0;
          margin-left: .075em;
          height: .8em;
          margin-top: -.1em;
        }
      }
    }

    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 734px;
      width: 100%;
    }

    h1, h3, p {
      color: #fff;
      text-shadow: 0 3px 4px #33262a;
    }

    h1 {
      font-size: 4rem;
      letter-spacing: .25em;
      text-align: center;

      img {
        height: 1em;
        width: auto;
        margin-top: -.25em;
        margin-right: .25em;

        &:hover {
          cursor: pointer;
        }
      }

      @media screen and (max-width: 767px) {
        font-size: 2.75rem;
        letter-spacing: .2em;
      }    
    }

    h3 {
      margin-bottom: 2.5rem;
      letter-spacing: .06em;
      text-align: center;
    }

    p {
      font-weight: bold;
      font-size: 1.05rem;
    }

    .BetaSignup {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      background: none;
      border: none;

      &:before, &:after {
        display: none;
      }

      h5 {
        color: #fff;
      }

      .FormWrapper {
        margin: 0;
        border-color: #5f474e;

        .mc-field-group:first-child {
          border-color: #5f474e;
        }
  
        .mc-field-group {
          border-color: #5f474e;
        }
  
        label {
          color: #fff;
        }
  
        input {
          height: 50px;

          &[type="text"],
          &[type="email"] {
            background: #34262a;
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      height: calc(100vh - 60px);
      margin-top: 60px;
    }
  }
}

.text-truffle {
  color: #3FE0C5;
}

.link-truffle {
  color: #3FE0C5;

  &:hover {
    color: #3FE0C5;
    opacity: .6;
  }
}