.Tutorials {
  &.TutorialIndexContainer {
    background: #F8F5F0;
  }

  .nav {
    a {
      text-transform: uppercase;
    }

  }

  .MainContent {
    @extend .p-b-4;

    padding-top: 123px;

    > .container-fluid > .row > h1,
    > .container-fluid > .row > h2,
    > .container-fluid > .row > h3,
    > .container-fluid > .row > h4,
    > .container-fluid > .row > p {
      @extend .container;
    }

    h1 {
      margin: 1.5rem auto 3rem auto;
      text-transform: uppercase;

      &:first-child {
        @extend .container;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7 {
      position: relative;

      .anchor {
        position: absolute;
        height: 100%;
        width: 40px;
        left: -40px;
        bottom: 0;
        cursor: default;
        text-decoration: none;
        border: 0;

        .header-link {
          display: inline-block;
          position: absolute;
          width: 40px;
          bottom: 0;
          left: 0;

          &:hover {
            background-image: url(/images/anchor.png);
            background-size: 20px 20px;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }

      &:hover {
        .header-link {
          background-image: url(/images/anchor.png);
          background-size: 20px 20px;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }

    p {
      line-height: 1.9rem;
      margin-bottom: 1.9rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      cursor: pointer;
      border-bottom: 1px solid;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      @extend .m-t-3;
      width: auto;
      max-width: 100%;
    }

    table {
      @extend .table;
      @extend .col-xs-12;
      @extend .col-md-6;
      @extend .col-md-offset-6;
      @extend .col-md-pull-5;
    }

    ul,
    ol {
      @extend .container;

      max-width: 100%;
      margin-bottom: 1.9rem;
      padding-left: 30px;
      font-family: $font-family-serif;

      &.list-unstyled {
        padding-left: 15px;
      }

      li {
        line-height: 1.9rem;
        pre {
          code {
            @extend .col-xs-12;
            @extend .col-md-6;
            @extend .col-md-offset-5;
            @extend .col-md-pull-5;
          }
        }
      }
    }

    hr {
      margin: 3rem auto;
      border: none;
      border-bottom: 1px dotted;
      display: block;
      height: 1px;
      width: 1140px;

      @media screen and (max-width: 1199px) {
        width: 940px;
      }

      @media screen and (max-width: 1023px) {
        width: 720px;
      }

      @media screen and (max-width: 767px) {
        width: calc(100% - 30px);
      }
    }

    pre {
      margin: 1rem 0 3rem 0;
      padding: 3rem 0;
      border-radius: 0;
      background: #f7f7f7;
      width: 100%;
      word-break: break-word;
      border-left: none;
      border-right: none;
      float: left;

      code {
        @extend .container;

        display: block;
        margin: 0 auto;
        padding: 0 15px;
      }

      &.language-shell {
        background-color: #272727;

        code {
          color: white;
          text-shadow: none;
        }
      }
    }

    footer {
      p {
        margin-bottom: 0;

        &:before {
          content: '';
          display: block;
          border-top: 1px dotted;
          margin-top: 3rem;
          padding-top: 0;
          padding-bottom: 3rem;
        }
      }
    }

  }

  @media screen and (max-width: 767px) {
    .MainContent {
      padding-top: 83px;
    }
  }

  .TutorialIndex {

    ol {
      margin-bottom: 1rem;
    }

    li {

      a {
        display: block;
        background-color: #94D6E2;
        color: #545452;
        border-bottom: none;
        text-transform: uppercase;
        @extend .p-a-3;
        transition: all .3s;

        h2 {
          margin: 0 0 5px 0;
          padding: 0;
          letter-spacing: 1px;
          text-shadow: none;
        }

        div {
          margin-top: 1.2rem;
          font-weight: bold;
        }

        h2 {
          font-family: $font-family-sans-serif;
          transition: all .3s;
        }

        &:hover {
          color: white;
          text-decoration: none;
          transform: scale(1.02);

          h2 {
            color: white;
          }
        }
      }

      &:not(:last-child) {
        a {
          @extend .m-b-4;
        }
      }
    }

    &.Blog li {

      a {
        background-color: #fff;
        color: #545452;
        border-bottom: solid 2px #3FE0C5;

        &:hover {
          background-color: #3FE0C5;
          color: white;
        }
      }
    }
  }
}
