.Tutorials {
  &.TutorialIndexContainer {
    background: #F8F5F0;

    .MainContent {
      ol {
        padding-left: 0;
      }
    }
  }

  .nav {
    a {
      text-transform: uppercase;
    }

  }

  .MainContent {
    @extend .p-b-4;

    padding-top: 123px;
    overflow-x: hidden;

    h1 {
      margin: 1.5rem auto 3rem auto;
      text-transform: uppercase;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;

      .anchor {
        position: absolute;
        height: 100%;
        width: 40px;
        left: -40px;
        bottom: 0;
        cursor: default;
        text-decoration: none;
        border: 0;

        .header-link {
          display: inline-block;
          position: absolute;
          width: 40px;
          bottom: 0;
          left: 0;

          &:hover {
            background-image: url(/images/anchor.png);
            background-size: 20px 20px;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }

      &:hover {
        .header-link {
          background-image: url(/images/anchor.png);
          background-size: 20px 20px;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }

    p {
      line-height: 1.75rem;
      margin-bottom: 1.9rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      cursor: pointer;
      border-bottom: 1px solid;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      @extend .m-t-3;
      width: auto;
      max-width: 100%;
    }

    .pet-shop-header img {
      display: block;
      height: calc(50vh - 100px);
      width: auto;
      margin: 1.5rem auto 1rem auto !important;
    }

    table {
      @extend .table;
      @extend .col-xs-12;
      @extend .col-md-6;
      @extend .col-md-offset-6;
      @extend .col-md-pull-5;
    }

    ul,
    ol {
      max-width: 100%;
      margin: 2rem auto;
      padding-left: 20px;
      font-family: $font-family-serif;

      &.list-unstyled {
        li {
          margin-bottom: 0;
        }
      }

      li {
        margin-bottom: 1rem;
        line-height: 1.75rem;
      }

      @media screen and (max-width: 767px) {
        padding-left: 30px;
      }
    }

    hr {
      margin: 3rem auto;
      border: none;
      border-bottom: 1px dotted;
      display: block;
      height: 1px;
    }

    pre {
      position: relative;
      margin: 1rem 0 3rem 0;
      padding: 3rem 0;
      border-radius: 0;
      background: #f7f7f7;
      width: 100%;
      word-break: break-word;
      border-left: none;
      border-right: none;
      overflow: visible;

      code {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: calc(50vw + 250px);
        overflow-x: auto;

        @media screen and (max-width: 599px) {
          width: 100%;
          min-width: auto;
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 200vw;
        top: -1px;
        right: auto;
        bottom: -1px;
        left: -100vw;
        z-index: -1;
        background: #f7f7f7;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }

      &.language-shell {
        background-color: #272727;

        code {
          color: white;
          text-shadow: none;
        }

        &::after {
          background-color: #272727;
        }
      }
    }

    footer {
      p {
        margin-bottom: 0;

        &:before {
          content: '';
          display: block;
          border-top: 1px dotted;
          margin-top: 3rem;
          padding-top: 0;
          padding-bottom: 3rem;
        }
      }
    }

    .container-steps {
      margin-bottom: 4rem;

      img {
        max-height: 300px;
        margin-bottom: 20px;
      }
    }

    .caption {
      font-size: .9rem;
      font-style: italic;
      margin-top: 2rem;
    }

  }

  @media screen and (max-width: 767px) {
    .MainContent {
      padding-top: 83px;
    }
  }

  .TutorialIndex {

    ol {
      margin-bottom: 1rem;
    }

    li {

      a {
        display: block;
        background-color: #94D6E2;
        color: #545452;
        border-bottom: none;
        text-transform: uppercase;
        @extend .p-a-3;
        transition: all .3s;

        h2 {
          margin: 0 0 5px 0;
          padding: 0;
          letter-spacing: 1px;
          text-shadow: none;
        }

        div {
          margin-top: 1.2rem;
          font-weight: bold;
        }

        h2 {
          font-family: $font-family-sans-serif;
          transition: all .3s;
        }

        &:hover {
          color: white;
          text-decoration: none;
          transform: scale(1.02);

          h2 {
            color: white;
          }
        }
      }

      &:not(:last-child) {
        a {
          @extend .m-b-4;
        }
      }
    }

    &.Blog li {

      a {
        background-color: #fff;
        color: #545452;
        border-bottom: solid 2px #3FE0C5;

        &:hover {
          background-color: #3FE0C5;
          color: white;
        }
      }
    }
  }

  /*
   * Single Tutorial
   */

  /*&:not(.TutorialIndexContainer) {
    .MainContent {
      > .container-fluid > .row > h1,
      > .container-fluid > .row > h2,
      > .container-fluid > .row > h3,
      > .container-fluid > .row > h4,
      > .container-fluid > .row > ul,
      > .container-fluid > .row > ol,
      > .container-fluid > .row > hr,
      > .container-fluid > .row > pre code,
      > .container-fluid > .row > p {
        @extend .container;
        max-width: 600px;
      }

      > .container-fluid > .row > ul,
      > .container-fluid > .row > ol {
        padding-left: 35px;
      }

      > .container-fluid > .row > hr {
        max-width: 540px;
      }
    }
  }*/
}
