body.case-studies {
  background: #ffffff;
}

.case-studies {
  .media {
    border-left: none;
    padding-left: 0;
  }

  .media-body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 900;
    padding-left: 0;
    text-decoration: underline;
    text-decoration-color: #3fe0c5;
  }

  .author {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;

    .author-title {
      font-size: .8em;
    }
  }

  .container-heading {
    color: #33262a;
    padding-top: calc(4rem + 56px);
  }

  .case-study-logo {
    display: block;
    margin: 0 auto;
    width: 75%;
  }

  .container-post {
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
      margin-top: 0;
    }
  }

  .case-study-footer [class^="col"] {
    display: flex;
    flex-direction: column;

    .btn {
      margin-top: auto;
    }

    ul li:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.case-study-subnav {
  background: #5e464d;
}