.docs-sidebar, .docs-content {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.docs-sidebar {
  padding: 0;
  z-index: 200;
  background: #33262a;

  > a {
    &:hover {
      opacity: .75;
      text-decoration: none;
    }
  }

  h2 {
    font-size: 1.25rem;
  }

  .docs-top-nav {
    padding: 0.5rem 1rem;
    background-color: #5e464d;

    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }

    .docs-back-button {
      display: inline-block;
      vertical-align: middle;
      color: white;
      font-size: 2.5rem;
      margin-right: 0.5rem;
      text-overflow: ellipsis;

      .fa-arrow-square-left:after {
        color: #3fe0c5;
        opacity: 1;
      }
    }
  }

  .docs-wrapper {
    padding: 1rem;
  }

  .toggle-teams h2 {
    line-height: 2.5rem;
  }

  .toggle-truffle h2 {
    line-height: 2.5rem;
  }

  .toggle-ganache h2 {
    line-height: 2.8rem;
  }

  .toggle-drizzle h2 {
    line-height: 2.3rem;
  }

  form {
    margin-top: 1rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li:not(:last-child) {
      margin-bottom: .25rem;
    }
  }

  .suite-logo {
    display: block;
    float: left;
    height: auto;
    margin-right: .75rem;
    width: 2.5rem;
  }

  .suite-link {
    color: #fff;
    display: block;
    margin-bottom: 1.25rem;
  }

  a:first-of-type {
    margin-top: 2rem;
  }

  .teams {
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }

  .truffle {
    color: #3fe0c5;

    a {
      color: #3fe0c5;
    }
  }

  .ganache {
    color: #e4a663;

    a {
      color: #e4a663;
    }
  }

  .drizzle {
    color: #e911bd;

    a {
      color: #e911bd;
    }
  }

  @media (max-width: 991.98px) {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    border-top: 2px solid #5e464d;
    transition: all .125s ease-in-out;
    overflow: hidden;

    &.open {
      height: 100%;
      padding-top: 60px;
      border-top: none;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;

      > h2 {
        position: static;
        width: auto;
        margin: 0 auto;
      }

      form {
        margin-top: 1rem;
      }
    }

    > h2 {
      position: absolute;
      top: 0;
      left: 0;
      height: 58px;
      width: 100vw;
      padding-top: 1rem;
      cursor: pointer;
    }

    form {
      margin-top: 3.5rem;
    }
  }
}

.docs-content {
  padding: 2rem 4rem;
  z-index: 199;

  .banner-trufflecon {
    margin: -2rem -4rem 2rem -4rem;

    img:first-of-type {
      top: -67px;
      left: -100px;
    }

    img:last-of-type {
      top: -79px;
      right: -70px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h1:first-child,
  p:first-child h1,
  p:first-child img {
    margin-top: 0;
  }

  p {
    margin-bottom: 1rem;
  }

  ol li:not(:last-child), ul li:not(:last-child) {
    margin-bottom: 1rem;
  }

  pre {
    margin: 1rem 0;
  }

  img {
    display: block;
    margin: 2rem auto;

    &.threequarter-width {
      width: 75%;

      @media (max-width: 767.98px) {
        width: 100%;
      }
    }

    &.half-width {
      width: 50%;

      @media (max-width: 767.98px) {
        width: 100%;
      }
    }
  }

  .img-caption {
    margin-bottom: 2rem;
    font-style: italic;
    text-align: center;
  }

  video {
    display: block;
    width: 100%;
    height: auto;
    margin: 2rem auto;
  }

  @media (max-width: 991.98px) {
    padding: 2rem 4rem 5rem 4rem;
  }

  @media (max-width: 767.98px) {
    padding: 2rem 15px 5rem 15px;
  }
}

// Pages

.docs-home {
  .card {
    .card-title {
      color: #5e464d;
      margin-bottom: 0;
      display: inline-block;
    }

    .card-img-top {
      display: inline-block;
      margin: 0 .5em 0 0;
      width: 2.5rem;
      max-height: 2.5rem;

      > * {
        display: inline-block;
        margin: 0;
        width: 2.5rem;
        max-height: 2.5rem;
      }

      // Let icons be whatever width they render as
      > i {
        width: initial;
      }
    }

    div.card-img-top {
      width: initial;
    }

    &.docs-teams-card {
      .card-title {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    &.docs-truffle-card {
      .card-title {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    &.docs-ganache-card {
      .card-title {
        font-size: 2rem;
      }
    }

    &.docs-drizzle-card {
      .card-title {
        font-size: 2rem;
      }
    }

    &.docs-blockchain-card {
      .card-title {
        font-weight: bold;
        font-size: 1.25rem;
      }
    }
  }
}

.docs-badges {
  a {
    display: inline-block;
    height: auto;
    transform: translateY(-5px);
    margin-right: .5rem;
  }

  img {
    margin: 0;
    display: inline-block;
  }

  iframe:not(:last-child) {
    margin-right: .5rem;
  }
}

.docs-search-results {
  a {
    p {
      color: #33262a;
    }

    &:hover {
      text-decoration: none;

      h3 {
        text-decoration: underline;
      }
    }
  }
}

//
// Truffle Teams Controls
//

.inline-button {
  color: #33262a;
  background: #3fe0c5;
  padding: .25em .5em;
  border-radius: .25em;
  font-size: .9em;
  line-height: 2em;
  white-space: nowrap;

  &.red {
    color: #ffffff;
    background: #a61200;
  }
}

.inline-menu-item {
  line-height: 2em;
  font-weight: bold;
  white-space: nowrap;

  i {
    background: #ffffff;
    border: 2px solid #47BAA7;
    border-radius: 50%;
    margin-right: .25em;
    padding: .33em;
  }
}

.screenshot {
  img {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  }

  figcaption {
    font-style: italic;
  }
}