.drizzle-heading-row {
  position: relative;
  max-height: calc(100vh - 60px);

  .drizzle-banner-image {
    margin-top: -40%;

    @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: 0;
    }

    @media (max-width: 767.98px) {
      margin-top: -60%;
    }
  }

  .drizzle-down-arrow {
    font-size: 2rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    line-height: .1rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 767.98px) {
    height: auto;
    margin-bottom: 5rem;
  }
}

.drizzle-libs-list {
  margin-bottom: 2rem;

  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}