.ganache-heading-row {
  position: relative;

  .ganache-banner-image {
    margin: -6rem auto 0 auto;
    width: 80%;
    max-width: 912px;

    @media (min-width: 768px) and (max-height: 767.98px) {
      width: 60%;
    }
  }
  
  .ganache-down-arrow {
    font-size: 2rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    line-height: .1rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 767.98px) {
    height: auto;

    [class^="col"] {
      margin-top: 0;
      max-height: none;
    }

    .ganache-banner-image {
      position: static;
      left: auto;
      top: auto;
      transform: none;
      max-height: none;
      width: 100%;
      margin-top: -15%;
    }

    .btn {
      margin-top: 1rem;
    }
  }
}


.ganache-window-rule {
  border-top: 3px solid #e4a663;
  margin: 0 0 0 -50%;
  width: 150vw;
}

.ganache-other-os {
  margin-top: .5rem;
  font-size: .75rem;

  &.first {
    text-indent: 1rem;
  }
}

.ganache-features-h {
  font-size: 4rem;
}