.home-heading-container {
  width: 43vh;
  max-width: 332px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  @media (max-height: 676px) {
    h1 {
      font-size: 2rem;
    }
  }

  @media (max-width: 767.98px) {
    position: initial;
    left: auto;
    top: auto;
    width: 100%;
    transform: none;
    max-width: none;
    margin-bottom: 2rem;
  }
}

.home-subheading {
  top: 120px;
}

.home-down-arrow {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  line-height: .1rem;
  margin-bottom: 0;

  @media (max-width: 767.98px) {
    display: none;
  }
}

.home-heading-row {
  max-height: calc(100vh - 60px);
  padding: 3rem 0 2rem 0;
  flex-wrap: nowrap;

  img, svg {
    max-height: 100%;
  }
  
  @media (max-width: 767.98px) {
    height: auto;
  }
}

.home-github-row {
  h1 {
    margin-bottom: 1rem;
  }
  
  ol {
    padding-left: 20px;
  }

  img {
    max-height: 300px;

    @media (max-width: 767.98px) {
      margin-top: 1rem;
    }
  }
}

.home-ml-form {
  @media (max-width: 767.98px) {
    flex-flow: column;

    input[type="submit"] {
      display: block;
    }

    .form-group {
      margin-bottom: 1rem;
    }
  }
}

.home-container {
  background: #210554;
  padding: 0 0 4rem 0;

  .github-button-wrapper {
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle
  }

  h5 {
    display: inline-block;
  }
}

.home-container2 {
  background: #210554;
  padding: 0 0 0 0;

  .github-button-wrapper {
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle
  }

  h5 {
    display: inline-block;
  }
}

/* New stuff below */

.home-hero-banner{
  background: #ca37ae;
  background: radial-gradient(closest-side at 60% 50%, #ca37ae, #210554);
}

.home-casestudy-banner{
  background: #ca37ae;
  background: radial-gradient(closest-side at 50% 50%, #ffffff, #DBD2CA);
}

.home-banner-truffle{
  background: #210554;
  background: linear-gradient(-90deg, #2ed9be, #210554);
  padding-top: 4rem;
  margin-top: -4rem;
}

.home-banner-drizzle{
  background: #210554;
  background: linear-gradient(90deg, #ca37ae, #210554);
}

.home-banner-ganache{
  background: #210554;
  background: linear-gradient(-90deg, #e4a663, #210554);
}

.home-banner-teams{
  background: #210554;
  background: linear-gradient(90deg, #a359ea, #210554);
}

.home-banner-drizzle .row, .home-banner-ganache .row, .home-banner-teams .row, .home-banner-truffle .row {
  margin: 8rem -15px;
}

@media screen and (max-width: 767.98px) {
  .home-banner-truffle .row {
    margin: 4rem -15px 26rem -15px;
  }
  
  .home-banner-drizzle .row {
    margin: 8rem -15px 26rem -15px;
  }

  .home-banner-ganache .row {
    margin: 6rem -15px 26rem -15px;
  }

  .home-banner-teams .row {
    margin: 2rem -15px 8rem -15px;
  }
}

.stripe {
  transform: skewY(6deg);
}

.stripe-inner {
  transform: skewY(-6deg);
}

.stripe-rev {
  transform: skewY(-6deg);
}

.stripe-rev-inner {
  transform: skewY(6deg);
}

.container.container-btw {
  overflow: visible;

  img {
    position: absolute;
  }
}

.container-social-proof {
  overflow: visible;
  background: #000000;
  height: 150px;
  z-index: 1;

  img {
    display: block;
    height: 100px;
    margin: 0 auto;
  }
}

.container2 {
  overflow: visible;
  z-index: 7;

  img {
    position: absolute;
  }
}

/* Factory Images */

.factory-step-2 {
  top: -24rem;
  width: 70%;
  left: 68%;
  transform: translateX(-50%);

  @media (min-width: 576px) and (max-width: 767.98px) {
    top: -26rem;
    width: 90%;
    left: 65%;
    transform: translateX(-40%);
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    top: -25rem;
    width: 130%;
    left: 32%;
    transform: translateX(-20%);
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    top: -23.5rem;
    width: 95%;
    left: 50%;
    transform: translateX(-32%);
  }

  @media (min-width: 1199.98px) {
    top: -25rem;
    width: 80%;
    left: 68%;
  }
}

.factory-step-2-belt {
  top: -11.5rem;
  width: 50%;
  left: 4%;
  transform: translateX(-15%);
  z-index: 6;

  @media (min-width: 576px) and (max-width: 767.98px) {
    top: -9.5rem;
    width: 58%;
    left: -5%;
    transform: translateX(-12%);
    z-index: 6;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    top: -9.5rem;
    width: 85%;
    left: -28%;
    transform: translateX(-30%);
    z-index: 6;
  }


  @media (min-width: 992px) and (max-width: 1199.98px) {
    top: -8.5rem;
    width: 66%;
    left: 2%;
    transform: translateX(-46%);
    z-index: 6;
  }

  @media (min-width: 1199.98px) {
    top: -10rem;
    width: 55%;
    left: 5%;
    transform: translateX(-30%);
    z-index: 6;
  }
}

.factory-step-3 {
  top: -22rem;
  width: 85%;
  left: -15%;

  @media (min-width: 576px) and (max-width: 767.98px) {
    top: -22rem;
    width: 110%;
    left: 26%;
    transform: translateX(-30%);
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    top: -22rem;
    width: 130%;
    left: 2%;
    transform: translateX(-30%);
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    top: -24rem;
    width: 100%;
    left: 20%;
    transform: translateX(-30%);
  }

  @media (min-width: 1199.98px) {
    top: -24rem;
    width: 110%;
    left: 10%;
    transform: translateX(-30%);
  }
}

.factory-step-4 {
  top: -30rem;
  width: 164%;
  left: 8%;

  @media (min-width: 576px) and (max-width: 767.98px) {
    top: -32rem;
    width: 150%;
    left: 36%;
    transform: translateX(-30%);
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    top: -26rem;
    width: 170%;
    left: 36%;
    transform: translateX(-30%);
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    top: -30rem;
    width: 150%;
    left: 26%;
    transform: translateX(-30%);
  }

  @media (min-width: 1199.98px) {
    top: -30rem;
    width: 130%;
    left: 36%;
    transform: translateX(-30%);
  }
}

.home-logos {
  background: #000000;
  overflow: hidden;
  padding: 1rem 15px;
  position: relative;
  z-index: 5;

  .row {
    max-height: 150px;
    flex-wrap: nowrap;

    @media screen and (max-width: 767.98px) {
      flex-wrap: wrap;
    }
  }
}

/* Slider Nav */

.slides-nav {
  bottom: 0;
  position: absolute;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  transform: translateX(-50%);

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .cd-hero__content.cd-hero__content--half-width {
    opacity: 0;
    transform: translateX(40px);
  }

  .cd-hero__slide--move-left .cd-hero__content.cd-hero__content--half-width {
    transform: translateX(-40px);
  }

  .cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width {
    /* this is the visible slide */
    opacity: 1;
    transform: translateX(0);
  }

  .cd-hero__slide--is-moving .cd-hero__content.cd-hero__content--half-width {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }

  .cd-hero__slide--from-left.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:nth-of-type(2),
  .cd-hero__slide--from-right.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:first-of-type {
    /* this is the selected slide - different animation if it's entering from left or right */
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }

  .cd-hero__slide--from-left.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:first-of-type,
  .cd-hero__slide--from-right.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:nth-of-type(2) {
    /* this is the selected slide - different animation if it's entering from left or right */
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
  }
}



/* slick */

/*.slide {
  width: 100vw;
  height: auto;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  
  &.slick-active {
    opacity: 1;
  }
}


.slide-social-proof {
  width: 100vw;
  height: 150px;
  opacity: 100;
  transition: opacity .3s ease-in-out;
  
  &.slick-active {
    opacity: 1;
  }
}*/

.flickity-page-dots {
  bottom: -4rem;
}

.flickity-page-dots .dot {
  background: #ffffff;
  border-radius: .125rem;
  height: 15px;
  width: 15px;
}

.slides-control {
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  li {
    display: inline-block;

    &.slick-active button::before {
      font-weight: 900;
    }

    button {
      position: relative;
      border: none;
      background: transparent;
      color: transparent;
      outline: none;

      &:hover, &:active, &:focus {
        outline: none;
      }
    }

    button::before {
      font-family: 'Font Awesome 5 Pro';
      font-size: 1rem;
      font-weight: 400;
      line-height: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 1rem;
      content: '\f0c8';
      text-align: center;
      opacity: 1;
      color: white;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.btn-text-alt {
  line-height: 95%;
}

.container-social-proof .flickity-viewport {
  top: 50%;
  transform: translateY(-50%);
}

.flickity-prev-next-button {
  background: black;
  color: #fff;
  border-radius: 0;
  height: 100%;
  padding: 0 1rem;

  &.next {
    right: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+76 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  }

  &.previous {
    left: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+24,0+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 24%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 24%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }
}

// case studies section

.case-study {
  height: 500px;

  a {
    color: #fff;
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#33262a+14,161111+75&0+21,0+21,1+89 */
    background: -moz-linear-gradient(top,  rgba(51,38,42,0) 14%, rgba(48,36,39,0) 21%, rgba(22,17,17,0.79) 75%, rgba(22,17,17,1) 89%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(51,38,42,0) 14%,rgba(48,36,39,0) 21%,rgba(22,17,17,0.79) 75%,rgba(22,17,17,1) 89%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(51,38,42,0) 14%,rgba(48,36,39,0) 21%,rgba(22,17,17,0.79) 75%,rgba(22,17,17,1) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0033262a', endColorstr='#161111',GradientType=0 ); /* IE6-9 */

    h3 {
      margin-top: auto;
    }
    
    h2 {
      margin-top: auto;
      color: brown;
    }
  }
}