.home-heading-container {
  width: 43vh;
  max-width: 332px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  @media (max-height: 676px) {
    h1 {
      font-size: 2rem;
    }
  }

  @media (max-width: 767.98px) {
    position: initial;
    left: auto;
    top: auto;
    width: 100%;
    transform: none;
    max-width: none;
    margin-bottom: 2rem;
  }
}

.home-subheading {
  top: 120px;
}

.home-down-arrow {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  line-height: .1rem;
  margin-bottom: 0;

  @media (max-width: 767.98px) {
    display: none;
  }
}

.home-heading-row {
  max-height: calc(100vh - 60px);
  padding: 3rem 0 2rem 0;
  flex-wrap: nowrap;

  img, svg {
    max-height: 100%;
  }
  
  @media (max-width: 767.98px) {
    height: auto;
  }
}

.home-github-row {
  h1 {
    margin-bottom: 1rem;
  }
  
  ol {
    padding-left: 20px;
  }

  img {
    max-height: 300px;

    @media (max-width: 767.98px) {
      margin-top: 1rem;
    }
  }
}

.home-ml-form {
  @media (max-width: 767.98px) {
    flex-flow: column;

    input[type="submit"] {
      display: block;
    }

    .form-group {
      margin-bottom: 1rem;
    }
  }
}

.home-container {
  .github-button-wrapper {
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle
  }

  h5 {
    display: inline-block;
  }
}