.b2c-bookend-left {
  position: absolute;
  height: 100%;
}

.b2c-bookend-right {
  color: #5E464D;
}

.banner-truffle-1page {
  background-color: #A5DBD6;
}

.banner-ganache-1page {
  background-color: #FFE0BE;
}

.banner-drizzle-1page {
  background-color: #D072AE;
}

.banner-truffle-1page-darker {
  background-color: #63C5B7;
}

.banner-ganache-1page-darker {
  background-color: #E4A663;
}

.banner-drizzle-1page-darker {
  background-color: #E03DC1;
}

.b2c-bookend-left-container {
  @media (max-width:991.98px) {
    height: 50px;
    background-color: #63C5B7;
  }
}

.b2c-bookend-left-container-ganache {
  @media (max-width:991.98px) {
    height: 50px;
    background-color: #E4A663;
  }
}

.b2c-bookend-left-container-drizzle {
  @media (max-width:991.98px) {
    height: 50px;
    background-color: #E03DC1;
  }
}