.policy-container {
  .c3 {
    font-weight: bold;
  }
  
  .c6 {
    font-style: italic;
  }

  .c23 {
    text-align: center;
  }

  .lst-kix_list_1-0,
  .lst-kix_list_2-0,
  .lst-kix_list_5-0 {
    padding-left: 1.25rem;
  }

  .table {
    color: #5e464d;

    td {
      border-color: #efe5dc;
      border-width: 2px;
    }
  }
}
