.policy-container {
  .c27 {
    text-align: center;
    margin-bottom: 0;

    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }

  td .c27:last-of-type {
    margin-bottom: 1rem;
  }

  .c39 {
    font-family: 'Oswald', sans-serif;
  }

  .c6, .c37 {
    font-weight: bold;
  }

  .c20 {
    font-style: italic;
    font-weight: bold;
  }

  .lst-kix_list_1-1 {
    padding-left: 2rem;
  }
}
