.tt-hero-banner {
  background: url(/img/truffle-teams/landing-background.png);
  background-size: cover;
  color: #fff;
  text-align: center;

  h2 {
    font-size: 1.75rem;
  }

  .sign-in-link {
    color: #fff;
    display: block;
    margin-top: .5rem;
    text-decoration: underline;

    &:hover {
      color: #fff;
      opacity: .8;
    }
  }

  .tt-screenshot {
    margin: 0;
    transform: translateY(8rem);
  }

  .link-truffle {
    color: #3fe0c5;
  }

  .triangle-br {
    position: absolute;
    background: transparent;
    border-width: 0 0 50px 100vw;
    bottom: 0;
    border-color: transparent transparent #f8f5f0 transparent;
  }

  @media (max-width: 991.98px) {
    padding: 2.5rem 0;

    .tt-screenshot {
      transform: translateY(5rem);
    }
  }

  @media (max-width: 767.98px) {
    text-align: center;

    .tt-screenshot {
      margin: 2rem 0 -18rem 0;
      transform: translateY(0);
    }
  }
}

.tt-logo {
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: .125em;
  position: relative;
  margin: 0 auto 2rem auto;

  img {
    height: 1.8em;
    margin-right: .5em;
  }

  .badge-container {
    position: relative;

    .badge {
      background: #33262a;
      color: #fff;
      position: absolute;
      top: 3.75em;
      right: .333em;
      font-size: .333em;
      padding-right: .125rem;
    }
  }

  @media (min-width: 992px) {
    font-size: 2.5rem;
  }
}

.tt-bowtie-container {
  margin: -80px auto 0 auto;

  @media (min-width: 992px) {
    margin: -145px auto 0 auto;
  }
}

.tt-bowtie-top, .tt-bowtie-bottom {
  margin: 0 -5px;
}

.tt-bowtie-top {
  position: relative;
}

.tt-bowtie {
  background: #8731e8;
  color: #fff;
  margin: -1px 0;
  position: relative;
  z-index: 1;

  @media (max-width: 991.98px) {
    padding: 1.5rem 0;
  }
}

.tt-pricing {
  ul {
    padding-left: 20px;

    li:not(:last-child) {
      margin-bottom: .75rem;
    }
  }

  .card {
    border: none;
    min-width: unset;
    padding: 1.5rem;

    &.free {
      background: #e0dad7;
      //border-radius: 0;
      //transform: skew(-2deg, -1deg);

      ul {
        list-style-image: url('/img/truffle-teams/checkmark-dark.png');
      }

      /*.card-body, .card-footer {
        transform: skew(2deg, 1deg);
      }*/
    }

    &.premium {
      background: #e86591;
      color: #fff;
      //border-radius: 0;
      //transform: skew(0, 2deg);

      ul {
        list-style-image: url('/img/truffle-teams/checkmark-light.png');
      }

      /*.card-body, .card-footer {
        transform: skew(0, -2deg);
      }*/
  
      .btn {
        background: #fff;
        color: #e86591;
        border: 1px solid #fff;

        &:hover {
          background: #e86591;
          color: #fff;
        }
      }
    }

    .card-footer {
      border-top: none;
      background: none;
    }

    @media (min-width: 768px) {
      min-width: 0;
    }
  }
}

.tt-social-proof {
  position: relative;

  >.col-8 {
    z-index: 1;
  }

  .truffle-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 150%;
    opacity: .1;
    z-index: 0;
  }
  
  .stat {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 600;
  }
}

.tt-steps {
  > div {
    margin-bottom: 1rem;
  }

  .enjoy-link {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .number-circle {
    display: inline-block;
    border-radius:50%;
    background: #8731e8;
    color: #fff;
    display:inline-block;
    font-size: 2rem;
    line-height:0px;
    padding: 1rem;
    
    .number {
      display: inline-block;
      padding-top:50%;
      padding-bottom:50%;
    }
  }
}

.tt-container .triangle-tr {
  background: #f8f5f0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 100vw;
  border-color: transparent transparent transparent #7f9dd1;

  &.white {
    border-width: 0 0 50px 100vw;
    border-color: transparent transparent #fff transparent;
  }
  
  &.cream {
    border-width: 0 0 50px 100vw;
    border-color: transparent transparent #f8f5f0 transparent;
  }
}

.tt-container .triangle-br {
  background: #f8f5f0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100vw 0 0;
  border-color: #7f9dd1 transparent transparent transparent;

  &.white {
    border-width: 0 100vw 50px 0;
    border-color: transparent #fff transparent transparent;
  }
}

.tt-hero-img {
  border: 2px solid rgba(51,38,42,1);
}

// SHADOWS

.shadow-dark-chocolate {
  -webkit-box-shadow: 12px 12px 0px 0px rgba(51,38,42,1);
  -moz-box-shadow: 12px 12px 0px 0px rgba(51,38,42,1);
  box-shadow: 12px 12px 0px 0px rgba(51,38,42,1);
  border: 2px solid rgba(51,38,42,1);
}

.shadow-mint {
  -webkit-box-shadow: 12px 12px 0px 0px rgba(63,224,197,1);
  -moz-box-shadow: 12px 12px 0px 0px rgba(63,224,197,1);
  box-shadow: 12px 12px 0px 0px rgba(63,224,197,1);
  border: 2px solid rgba(63,224,197,1);
}

.shadow-periwinkle {
  -webkit-box-shadow: 12px 12px 0px 0px rgba(127,157,209,1);
  -moz-box-shadow: 12px 12px 0px 0px rgba(127,157,209,1);
  box-shadow: 12px 12px 0px 0px rgba(127,157,209,1);
  border: 2px solid rgba(127,157,209,1);
}

.shadow-purple {
  -webkit-box-shadow: 12px 12px 0px 0px rgba(135,49,232,1);
  -moz-box-shadow: 12px 12px 0px 0px rgba(135,49,232,1);
  box-shadow: 12px 12px 0px 0px rgba(135,49,232,1);
  border: 2px solid rgba(135,49,232,1);
}