.tt-hero-banner {
  background: url(/img/truffle-teams/landing-background.png);
  background-size: cover;
  color: #fff;
  border-bottom: 3px solid #33262a;

  .tt-screenshot {
    transform: translateY(8rem);
  }

  .btn-truffle {
    color: #33262a !important;
  }

  .sign-in-link {
    color: #fff;
    display: block;
    margin-top: .5rem;

    &:hover {
      color: #fff;
    }
  }
}

.tt-logo {
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-weight: 700;
  letter-spacing: .125em;

  img {
    height: 1.8em;
    margin-right: .5em;
  }
}

.tt-feature i {
  background: #8731e8;
  padding: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
}

.tt-pricing {
  ul {
    padding-left: 20px;

    li:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  .card {
    border: none;
    padding: 1.5rem;

    &.free {
      background: #e0dad7;

      ul {
        list-style-image: url('/img/truffle-teams/checkmark-dark.png');
      }
    }

    &.premium {
      background: #e86591;
      color: #fff;

      ul {
        list-style-image: url('/img/truffle-teams/checkmark-light.png');
      }
  
      .btn {
        background: #fff;
        color: #e86591;
        border: 1px solid #fff;

        &:hover {
          background: #e86591;
          color: #fff;
        }
      }
    }

    .card-footer {
      border-top: none;
      background: none;
    }
  }
}

.tt-social-proof {
  position: relative;

  >.col-8 {
    z-index: 1;
  }

  .truffle-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 150%;
    opacity: .1;
    z-index: 0;
  }
  
  .stat {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 600;
  }
}

.tt-steps {
  .number-circle {
    display: inline-block;
    border-radius:50%;
    background: #8731e8;
    color: #fff;
    display:inline-block;
    font-size: 2rem;
    line-height:0px;
    padding: 1rem;
    
    .number {
      display: inline-block;
      padding-top:50%;
      padding-bottom:50%;
    }
  }
}