.trufflecon-heading {
  max-height: none;
  padding-top: 6rem;

  h1 {
    font-size: 4rem;
    letter-spacing: .35em;

    span {
      display: none;
    }

    img {
      height: 1em;
      margin-top: -.25em;
      margin-right: .35em;
    }

    @media (max-width: 991.98px) {
      font-size: 2.75rem;
      letter-spacing: .2em;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  .btn-block {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 767.98px) {
    padding: 4rem 15px 3rem 15px;
    max-height: none;
  }
}

.faq {
  list-style: none;
  padding-left: 0;

  li:nth-child(odd) {
    font-weight: bold;
  }

  li:nth-child(even):not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.trufflecon-heading-bd {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(/img/trufflecon/trufflecon-banner.jpg);
  background-size: cover;
  background-position: center center;
  opacity: .3;
  z-index: -1;
}

.trufflecon-nav {
  position: fixed;
  top: 58px;
  width: 100%;
  padding: .5rem 1rem .5rem 0;
  background: transparent;
  z-index: 2;
  transition: all .125s ease-in-out;
  -ms-transition: all .125s ease-in-out;
  -moz-transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;

  a {
    color: #fff;
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    text-transform: uppercase;

    &:hover {
      opacity: .8;
    }
  }

  .btn-eventbrite {
    flex-grow: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 1rem;
    opacity: 0;
    visibility: hidden;  
  }

  &.scroll {
    background: #5e464d; 

    .btn-eventbrite {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 767.98px) {
    .nav-link {
      padding: .5rem;
      font-size: .8rem;
    }

    .btn-eventbrite {
      margin-right: .5rem;
    }
  }
}

.trufflecon-opening {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}

.trufflecon-speakers {
  .circle-image-container {
    margin: 0 auto .5rem auto;
    padding-bottom: 0;
    border: 4px solid #3fe0c5;
    overflow: hidden;

    @media (max-width: 991.98px) {
      width: 200px;
      height: 200px;

      img {
        width: 200px;
      }
    }
  }
}