.trufflecon-subnav {
  z-index: 10;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58484e+0,58484e+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(88,72,78,.7) 0%, rgba(88,72,78,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(88,72,78,.7) 0%,rgba(88,72,78,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(88,72,78,.7) 0%,rgba(88,72,78,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58484e', endColorstr='#0058484e',GradientType=0 ); /* IE6-9 */

  &.scroll {
    background: #3fe0c5;

    a {
      color: #58484e;
    }
  }
}

.trufflecon-heading {
  max-height: none;
  padding-top: 6rem;

  h1 {
    font-size: 6rem;
    letter-spacing: .35em;

    span {
      display: none;
    }

    img {
      height: 1em;
      margin-top: -.25em;
      margin-right: .35em;
    }

    @media (max-width: 991.98px) {
      font-size: 2.75rem;
      letter-spacing: .2em;
    }
  }

  h2 {
    font-size: 3rem;
  }

  h2, h3 {
    color: #58484E;
  }

  h3 {
    margin-bottom: 1rem;
    font-weight: 100;
  }

  .btn-block {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 767.98px) {
    padding: 4rem 15px 3rem 15px;
    max-height: none;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}

.choc {
  color: #5e464d;
  font-size: 1rem;
}

blockquote {
  font-size: 1.4rem;
  margin-bottom: 24px;

  @media (max-width: 767.98px) {
    font-size: 1rem;
  }
} 

.faq {
  list-style: none;
  padding-left: 0;

  li:nth-child(odd) {
    font-weight: bold;
  }

  li:nth-child(even):not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.trufflecon-heading-bd {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  background-image: url(/img/trufflecon/trufflecon-banner-hdr-2019a.jpg);
  background-size: cover;
  background-position: center center;
  opacity: .3;
  z-index: -1;
}

.trufflecon-heading-funky {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  background-image: url(/img/trufflecon/header-2019.svg);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.trufflecon-heading-stage {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  background-image: url(/img/trufflecon/trufflecon-stage.png);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.triangle-tr {
  background: #fff;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 50px 0;
  border-color: transparent #ca37af transparent transparent;
    
  &.cream {
    background: #f8f5f0;
  }
}

.triangle-br {
  background: #f8f5f0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 100vw;
  border-color: transparent transparent #f7a34e transparent;
}

.trufflecon-segment-footer {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  background-image: url(/img/trufflecon/segment-footer.svg);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.trufflecon-nav-inline {
  z-index: 2;
  transition: all .125s ease-in-out;
  -ms-transition: all .125s ease-in-out;
  -moz-transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
  a {
    color: #39DCB9;
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;

    &:hover {
      opacity: .8;
    }
  }
  @media (max-width: 767.98px) {
    .nav-link {
      padding: .5rem;
      font-size: .8rem;
    }

    .btn-eventbrite {
      margin-right: .5rem;
    }
  }
}

.speak-at-cta {
  margin-left: 0.5rem;
}

.trufflecon-opening {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}

.trufflecon-speakers {
  img {
    border: 4px solid #3fe0c5;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  h3 {
    text-transform: uppercase;
    color: #3fe0c5;
  }

  &.featured {
    img {
      border-color: #fff;
    }

    h3{
      color: #5e464d
    }
  }

  &.trufflecon-team {
    img {
      max-width: 240px;
      width: 100%;
    }
  }
}

.trufflecon-guests {
  text-align: center;
  .circle-image-container {
    margin: 0 2.4rem .5rem 2.4rem;
    padding-bottom: 0;
    border: 4px solid #3fe0c5;
    overflow: hidden;

    @media (max-width: 991.98px) {
      margin: 0 auto .5rem auto;
      width: 200px;
      height: 200px;

      img {
        width: 200px;
      }
    }
  }
}

.trufflecon-map-heading {
  font-size: 1.3em;
  line-height: 48px;
  padding-left: 1rem;
}

.trufflecon-map {
  padding: 0;
  background: #3fe0c5;

  .map-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
  }

  .map-toolbar-nested {
    background: #3fe0c5;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 49px;
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
    .fas {
      font-size: 1.3rem;
      &:hover {
      cursor: pointer;
      }
    }
    .fa-bars {
      margin-left: 25px;
    }
    .fa-share-alt, .fa-external-link-alt {
      margin-right: 25px;
    }
    .unclickable {
      flex-grow: 1;
      align-self: stretch;
      pointer-events: initial;
    }
  }

  iframe {
    width: 100%
  }
}

.speaker-icon {
  position:absolute;
  bottom: 0;
  left: 50px;
  z-index: 2;
}

.countdown-align {
  object-position: center;
}

.tcon-countdown {
  margin: 0 auto;
}

.map-overlay {
  background: rgba(0,0,0,.6);
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  
  &:hover {
    cursor: pointer;
  }

  p {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    width: 100%;
  }
}

.btn-buytickets-xlg {
  font-size: 1.5rem;
  min-width: 17rem;
}

.container {
  &.keynotes {
    @media (min-width: 1200px) {
      max-width: 1500px;
    }
  }
} 

.media-image {
  max-width: 150px; 
}

.alert-slides {
  border-color: #fff;
  color: #58484E;
  background: rgba(255,255,255,.8);

  a {
    color: #58484E;
  }
}