.university {

  background-color: #3fe0c5;
  border-bottom: solid 1px #e0dad7;

  h1 {
    width: 100%;
    text-align: center;
  }

  h2 {
    text-transform: uppercase;
  }

  .university-header-text {
    width: 20.8rem;
  }

  .text-truffle {
    font-size: 4.2rem;
    border-bottom: dotted 2px white;
    margin-bottom: 0;
    padding-bottom: 0.4rem;
    width: 20.8rem;
    margin-left: auto;
    margin-right: auto;
  }
    
  .university-logo-text {
    font-family: 'Cinzel', serif; 
    font-size: 2rem;
    letter-spacing: 16px;
    margin-top: 0.8rem;
    margin-bottom: 4rem;
    width: 20.8rem;
    margin-left: auto;
    margin-right: auto;
  }

  .university-logo {
    width: 6rem;
  }

  .form-col {
    
  } 

  .description {
    font-size: 1.3rem;
    z-index: 1;
  }

  .callout {
    // color: #5e464d;
    // color: #e0dad7; 
    // text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    text-decoration: underline;
  }

  .spacer {
    border-top: solid 1px rgba(255,255,255,0.8);
  }

  .btn-lg {
    line-height: 2.5rem;
    font-size: 1.3rem;
  }

}

.university-details {
  background-color: #f8f5f0;
  color: #5e464d;

  

  h2 {
    color: #5e464d;
    text-transform: uppercase; 
  }

  h3 {
    color: #5e464d;
    // border-bottom: dotted 2px #5e464d;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;

    .number {
      font-weight: normal;
      text-align: center;
      line-height: 2rem;
      font-size: 1.1rem;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      vertical-align: bottom;
      margin-right: 0.8rem;
      color: white;
      background-color: #3fe0c5;
      border-radius: 50%;
    }
  }

  p {
    font-size: 1rem;
    // color: #5e464d;
    margin-bottom: 5rem; 
    padding-left: 2.9rem;

    a {
      color: #3fe0c5;
      text-decoration: underline;
  
      &:hover {
        text-decoration: none;
      }
    }
  }

  .item-list {
    position: relative;
    left: -1.5rem;
  }

  .btn-lg {
    line-height: 2.5rem;
    font-size: 1.3rem;
  }
}

.university-catch {
  background-color: white;

  h2 {
    color: #5e464d;
    text-transform: uppercase;
  }

  p {
    color: #5e464d;

    a {
      color: #3fe0c5;
      text-decoration: underline;
  
      &:hover {
        text-decoration: none;
      }
    }
  }
}