<div style="max-width: 800px; margin: auto; text-align: center; padding-top: 60px;">
  <h1>Page Not Found</h1>
  <p>Sorry, but the page you were trying to view does not exist. <a href="/">Home</a></p>
</div>