<% include _includes/typogr %>
<!doctype html>
<html lang="en">
  <% include _includes/head %>
  <body class="
    <%= (current.path[0] === 'docs') ? 'body-docs' : ''; %>
    <%= (current.path[0] === 'boxes') ? 'Ballotin' : ''; %>
    <%= (current.path[0] === 'suite' && current.path[1] === 'ganache') ? 'Ganache' : ''; %>
  ">
    <main>
      <%- typogr.smartypants(yield) %>
    </main>
    <% include _includes/scripts %>
    <% include _includes/analytics %>
  </body>
</html>
