<section class="Community">
  <% include _includes/navbar %>
  <section class="MainContent">
    <div class="container">
      <h1 class="Uppercase WithDash">Community</h1>
      <ul class="list-unstyled">
        <li>
          <h2>Chat with us on Gitter</h2>
          <p>If you're stuck trying to get something to work, have any questions, or suggestions, the best place to get help is in our <a href="http://gitter.im/ConsenSys/truffle">Gitter channel</a>.</p>
        </li>
        <li>
          <h2>Submit an issue on GitHub</h2>
          <p>If something's not working as expected, or you have an idea for a feature or change you'd like to see, please <a href="https://github.com/trufflesuite/">open an issue</a> and start a discussion.</p>
        </li>
        <li>
          <h2>Help improve the documentation</h2>
          <p>We're only human, and need all the help you can give us to improve the documentation. If you'd like to submit any feedback or suggestions, please create a pull request on <a href="https://github.com/trufflesuite/trufflesuite.github.io/">our documentation repository</a>.</p>
        </li>
      </ul>
    </div>
    <footer class="container m-t-4 m-b-4">
      <p class="text-center">See a way to make this page better? <br class="visible-xs" /><a href="<%="https://github.com/" + service.contributing + "/edit/master/_site/public/" + current.path.join('/') + ".md" %>">Edit here &rarr;</a></p>
    </footer>
  </section>
</section>
<% include _includes/landing_page/footer %>
