<section class="Support">
  <% include _includes/navbar %>
  <section class="MainContent">
    <div class="container">
      <h1 class="Uppercase WithDash">Dedicated Enterprise Support</h1>
      <div class="custom-box">
        <img class="livesaver" src="/images/life-buoy.png" /-->
        <ul class="m-t-3">
          <li>Dedicated support staff for your developers, focused on your issues</li>
          <li>Private communication channels, with non-disclosure agreements</li>
          <li>Direct access to Truffle developers</li>
          <li>Priority issue scheduling - your issues and feature requests come first</li>
          <li>Opportunity for 1-on-1 video calls with developers and support staff</li>
          <li>Possibility of on-site travel and training</li>
          <li>Staffing at hackathons for your company or school</li>
        </ul>
      </div>
      <p class="m-t-2">
        If you're interested in acquiring dedicated support for your smart contract developers, don't hesitate to contact us.
      </p>
      <a class="btn btn-secondary m-t-2 m-b-2" href="mailto:inquiry@trufflesuite.com?subject=Truffle Support Quote Request">
        Get a Quote
      </a>
    </div>
    <div class="container m-b-4">
      <h1 class="Uppercase WithDash">Free Support</h1>
      <p>If you're stuck trying to get something to work, have any questions, or suggestions - the best place to get help is in the <a href="http://gitter.im/Consensys/truffle">Truffle Gitter channel</a>. We appreciate all feedback and staff this channel on a regular basis.</p>
    </div>
  </section>
</section>
<% include _includes/landing_page/footer %>
