<section class="TruffleCon">
  <% include _includes/navbar-ganache %>

  <section class="MainContent">
    <div class="container">
      <h1 class="Uppercase">TruffleC<span style="display: none">o</span><img id="LetsGetGroovy" src="/images/trufflecon18/truffle-logomark.svg" alt="Truffle Logo"><img class="groovy-logo" src="/images/trufflecon18/truffle-logomark-groovy.svg" alt="Groovy Truffle Logo">n 2018</h1>
      <h3>Portland, Oregon, USA • October 5th - 7th, 2018</h3>

      <p class="m-b-2"><a class="link-truffle" href="https://goo.gl/forms/OTFyk8PrbGzKNCWq1"><i class="fa fa-lg fa-comment text-truffle"></i></a>&nbsp;&nbsp;July 23, 2018: Are you a student or affiliated with a university? <a class="link-truffle" href="https://goo.gl/forms/OTFyk8PrbGzKNCWq1" target="_blank">Our scholarship application is now live!</a> Also, <a class="link-truffle" href="https://goo.gl/forms/wNvTbdOZz8Yn5qHz1" target="_blank">we are looking for volunteers!</a></p>

      <p class="m-b-2"><a class="link-truffle" href="/blog/why-were-organizing-trufflecon-2018" target="_blank"><i class="fa fa-lg fa-comment text-truffle"></i></a>&nbsp;&nbsp;July 19, 2018: Read about <a class="link-truffle" href="/blog/why-were-organizing-trufflecon-2018" target="_blank">why we're organizing TruffleCon 2018</a> on our <a class="link-truffle" href="/blog">blog</a>. </p>

      <p class="m-b-2">
        <a class="link-eventbrite" href="https://trufflecon2018.eventbrite.com" target="_blank"><i class="fa fa-lg fa-ticket-alt text-eventbrite"></i></a>&nbsp;&nbsp;July 16, 2018: <a class="link-eventbrite" href="https://trufflecon2018.eventbrite.com" target="_blank">Tickets are on sale now!</a> Check out our ticket sales page for pricing and other details. <em>Early Bird pricing ends August 15, 2018.</em>
        <a href="https://trufflecon2018.eventbrite.com" class="btn btn-eventbrite m-t-1">Buy Tickets!</a>
      </p>
      
      <p class="m-b-2"><a class="link-truffle" href="https://goo.gl/forms/MrwB4IOkyt3WFt3g2"><i class="fa fa-lg fa-comment text-truffle"></i></a>&nbsp;&nbsp;May 29, 2018: <a class="link-truffle" href="https://goo.gl/forms/MrwB4IOkyt3WFt3g2" target="_blank">Call for speakers and workshops is now live!</a> Sign up to be a part of this event while space is available. <em>Submissions will close on July 31, 2018.</em></p>

      <p class="m-b-2"><a class="link-truffle" href="https://goo.gl/forms/dwZsqTiJR7P4XxhD2"><i class="fa fa-lg fa-comment text-truffle"></i></a>&nbsp;&nbsp;Interested in sponsoring TruffleCon 2018? <a class="link-truffle" href="/files/TruffleCon2018SponsorshipProspectus.pdf" target="_blank">Download our sponsorship prospectus</a> and <a class="link-truffle" href="mailto:trufflecon@trufflesuite.com">contact us!</a></p>

      <p><i class="fa fa-lg fa-envelope text-truffle"></i>&nbsp;&nbsp;For announcements about all things TruffleCon, including discounts, schedule, and more: sign up for our mailing list!</p>
      <div id="mc_embed_signup" class="BetaSignup">
        <form action="https://consensys.us11.list-manage.com/subscribe/post?u=947c9b18fc27e0b00fc2ad055&amp;id=a6051053da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="FormWrapper">
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>

              <div class="mc-field-group">
                <label for="mce-EMAIL">Email</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_947c9b18fc27e0b00fc2ad055_a6051053da" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <% include _includes/footer-ganache %>
</section>