<section class="BetaSignup">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>SIGN UP FOR THE TRUFFLE MAILING LIST</h2>
        <p>Sign up today to be a member of the Truffle users mailing list. We'll send out periodic updates about new releases, upcoming changes, and other developments.</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="mc_embed_signup">
          <form action="https://truffleframework.us11.list-manage.com/subscribe/post?u=947c9b18fc27e0b00fc2ad055&amp;id=97cfd4251b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class='FormWrapper'>
                  <div class="mc-field-group">
                    <label for="mce-FNAME">First Name</label>
                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                  </div>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Email</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_947c9b18fc27e0b00fc2ad055_97cfd4251b" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
