
<section class="BuiltWith m-t-4">
  <div class="container-fluid">
    <div class="row">
      <div class="Left col-xs-12 col-md-8 p-b-4">
        <h3 class="WithDash m-b-4">BUILT WITH GRIT IN THE WILD PACIFIC NORTH WEST BY THESE FOLKS</h3>
        <ol class="list-unstyled list-inline text-center">
          <li><img src="images/tim_face.png"/> <h5>Tim Coulter</h5></li>
          <li><img src="images/john_face.png"/> <h5>John McDowall</h5></li>
          <li><img src="images/josh_face.png"/> <h5>Josh Quintal</h5></li>
        </ol>
      </div>
      <div class="Right col-xs-12 col-md-4 p-b-4">
        <h3 class="WithDash m-b-4">SPONSORED BY CONSENSYS</h3>
        <section class="text-center">
          <img src="/images/consensys_logo.svg" alt="ConsenSys Logo" />
        </section>
      </div>
    </div>
  </div>
</section>
