<section class="Contributing p-t-4 p-b-4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3 class="WithDash m-b-4">CONTRIBUTING TO TRUFFLE</h3>
        <p class="p-b-2">We need your help! There are many ways you can help contribute to the Truffle project. Here are some ways that you can contribute:</p>
        <ol>
          <li>Open issues in our <a href="<%= service.github %>">Github project</a></li>
          <li>Submit Pull Requests to the Github project - but please open an issue to discuss the feature first!</li>
          <li>Test out the Beta versions of Truffle to help us nail down issues and stomp bugs.</li>
          <li>Participate in our <a href="<%= service.gitter %>">Gitter chat room</a> helping out other users.</li>
        </ol>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1 Flex FlexVerticalCenter m-t-4 m-b-4 col-github-logo">
        <%- include ../gh_logo.svg %>
      </div>
    </div>
  </div>
</section>
