<section class="Features p-t-4 p-b-4" id="features">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <h3 class="WithDash m-b-4">TRUFFLE FEATURES</h3>
        <ol class="FeatureList list-unstyled">
          <li>
            <h4>Built-in smart contract compilation, linking, deployment and binary management.</h4>
            <p>Truffle takes care of managing your contract artifacts so you don't have to. Includes support for custom deployments, library linking and complex Ethereum applications.</p>
            <div class="LinkSection">
              <a href="/docs/getting_started/compile">Learn More</a>
            </div>
          </li>
          <li>
            <h4>Automated contract testing for rapid develpoment.</h4>
            <p>Bring your dapp development to the 21st century. Write automated tests for your contracts in both Javascript and Solidity, and get your contracts developed quickly.</p>
            <div class="LinkSection">
              <a href="/docs/getting_started/testing">Learn More</a>
            </div>
          </li>
          <li>
            <h4>Scriptable deployment &amp; migrations framework.</h4>
            <p>Write simple, manageable deployment scripts that acknowledge your application will change over time. Foster your dapp's evolution and ensure you can maintain your contracts far into the future.</p>
            <div class="LinkSection">
              <a href="/docs/getting_started/migrations">Learn More</a>
            </div>
          </li>
          <li>
            <h4>Network management for deploying to both public &amp; private networks.</h4>
            <p>Don't manage network artifacts ever again. Let Truffle do it for you, and put your focus on dapp development where it belongs.</p>
            <div class="LinkSection">
              <a href="/docs/advanced/networks">Learn More</a>
            </div>
          </li>
          <li>
            <h4>Access to hundreds of external packages.</h4>
            <p>Pull in hundreds of smart contract dependencies from NPM and EthPM to have your code stand on the shoulders of giants.</p>
            <div class="LinkSection">
              <a href="/docs/advanced/networks">Learn More</a>
            </div>
          </li>
          <li>
            <h4>Interactive console for direct contract communication.</h4>
            <p>Use Truffle to save time and talk to your contracts via an interactive console, which includes access to all your built contracts and all available truffle commands.</p>
            <div class="LinkSection">
              <a href="/docs/getting_started/console">Learn More</a>
            </div>
          </li>
          <li>
            <h4>External script runner that executes scripts within a Truffle environment.</h4>
            <p>Use Truffle to bootstrap your contracts and run a network-aware script, without hassle. </p>
            <div class="LinkSection">
              <a href="/docs/getting_started/scripts">Learn More</a>
            </div>
          </li>
          <li>
            <h4>Built for speed.</h4>
            <p>Whether you're compiling contracts or running unit tests, Truffle includes clever optimizations to ensure you only compile what you have to and your tests run as quickly as possible. Along with the <a href="https://github.com/ethereumjs/testrpc">EthereumJS TestRPC</a>, you can develop your dapps quickly and get real code deployed, fast.</p>
          </li>
        </ol>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <section class="FeatureCard m-t-4">
          <div class="FeatureBody">
            <h6>MODULAR FROM THE GROUND UP</h6>
            <p>Truffle is written in Javascript in a completely modular fashion, allowing you to pick and choose the functionality you'd like to use.</p>
            <p>For example, you could use Truffle as a library in your own tool, using only the modules that you need. This lets you to take advantage of powerful features like Truffle Migrations in your own command line tools.</p>
            <p>Check out the source code on Guthub!</p>
          </div>
					<footer>
						<a href="https://github.com/trufflesuite/truffle">
							<img src="images/gh_logo.png"/>
							<p>trufflesuite/truffle</p>
						</a>
					</footer>
        </section>
        <section class="FeatureCard m-t-4">
          <div class="FeatureBody">
            <h6>NEED HELP?</h6>
            <p>We offer various levels of support for your company and team.</p>
          </div>
          <footer>
            <a class="btn btn-primary m-t-1 m-b-1" href="/support">
              Get Support
            </a>
          </footer>
        </section>
      </div>
    </div>
  </div>
</section>
