
<section class="Footer p-t-4 ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <div class="Logo">
          <%- include ../truffle_logo %>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/tutorials">Tutorials</a></li>
          <li><a href="/community">Community</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="<%= service.github %>">Github</a></li>
          <li><a href="<%= service.twitter %>">Twitter</a></li>
        </ul>
        <strong>A CONSENSYS FORMATION &copy; 2017</strong>
        <strong>DESIGN BY JOHN MCDOWALL</strong>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="BetaSignup">
        <h5>SIGN UP FOR THE TRUFFLE MAILING LIST</h5>
        <div id="mc_embed_signup">
          <form action="//readthedocs.us14.list-manage.com/subscribe/post?u=563e4b50100f771d2d17cf7a5&amp;id=b754a8ab50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class='FormWrapper'>
                  <div class="mc-field-group">
                    <label for="mce-FNAME">First Name </label>
                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                  </div>

                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Your Email Address</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_563e4b50100f771d2d17cf7a5_b754a8ab50" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </div>
            </form>
        </div>
      </div>
      </div>
    </div>
<svg width="1171px" height="187px" viewBox="145 231 1171 187" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Logo-Text" opacity="0.0299999993" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(145.000000, 231.000000)">
        <polygon id="Fill-12" fill="#5F464D" points="0 2 94.8103448 2 94.8103448 35.4000214 63.5590326 35.4000214 63.5590326 180 30.4337441 180 30.4337441 35.4000214 0 35.4000214"></polygon>
        <path d="M202.080259,71.573846 L221.485044,71.573846 C231.857517,71.573846 239.008098,70.1631145 242.918429,67.3321195 C246.828759,64.5011246 248.783924,59.8113955 248.783924,53.2343365 C248.783924,49.3643569 247.810931,45.9709757 245.874124,43.1113848 C243.946497,40.242262 241.348789,38.1738246 238.099359,36.9060726 C234.84993,35.6573846 228.883463,35.0282746 220.209138,35.0282746 L202.080259,35.0282746 L202.080259,71.573846 Z M169.448276,2 L213.205425,2 C232.132893,2 245.626287,3.7538824 253.658069,7.25211524 C261.680671,10.769412 268.142814,16.5934454 273.035317,24.7528114 C277.91864,32.8835815 280.369481,42.5299347 280.369481,53.6632751 C280.369481,65.3780658 277.661623,75.1483346 272.264265,83.0026775 C266.876087,90.8760844 258.734155,96.8335654 247.856827,100.856057 L288.465517,180 L252.795226,180 L214.251851,104.621185 L202.080259,104.621185 L202.080259,180 L169.448276,180 L169.448276,2 Z" id="Fill-14" fill="#5F464D"></path>
        <path d="M369.155172,0 L401.021365,0 L401.021365,117.953095 C401.021365,128.101593 401.834323,135.300287 403.460241,139.510107 C405.086158,143.729694 407.766241,147.089736 411.518358,149.6 C415.252608,152.120031 419.773015,153.380047 425.070647,153.380047 C430.663087,153.380047 435.487238,151.993053 439.52523,149.16046 C443.572156,146.357169 446.37731,142.792008 447.913891,138.464978 C449.46834,134.108645 450.245564,125.835518 450.245564,113.606529 L450.245564,0 L482.12069,0 L482.12069,108.742283 C482.12069,127.095534 481.173727,139.832437 479.279801,146.933455 C477.385876,154.044241 473.776697,160.920606 468.452264,167.513711 C463.118898,174.136119 456.972573,179.039436 450.022224,182.204126 C443.06294,185.388352 434.969088,187 425.749601,187 C413.644558,187 403.129697,183.942753 394.160351,177.877096 C385.208872,171.791904 378.794539,164.202507 374.935219,155.060068 C371.084832,145.917629 369.155172,130.484879 369.155172,108.742283 L369.155172,0 Z" id="Fill-16" fill="#5F464D"></path>
        <polygon id="Fill-19" fill="#5F464D" points="578.948276 2 666.698276 2 666.698276 35.0282746 612.355204 35.0282746 612.355204 67.3416515 666.698276 67.3416515 666.698276 99.8933276 612.355204 99.8933276 612.355204 180 578.948276 180"></polygon>
        <polygon id="Fill-21" fill="#5F464D" points="748.396552 2 836.146552 2 836.146552 35.0282746 781.809343 35.0282746 781.809343 67.3416515 836.146552 67.3416515 836.146552 99.8933276 781.809343 99.8933276 781.809343 180 748.396552 180"></polygon>
        <polygon id="Fill-23" fill="#5F464D" points="918.853448 2 952.107097 2 952.107097 147.696155 1000.55172 147.696155 1000.55172 180 918.853448 180"></polygon>
        <polygon id="Fill-25" fill="#5F464D" points="1075.18966 2 1170 2 1170 35.1617222 1108.01148 35.1617222 1108.01148 67.3416515 1170 67.3416515 1170 99.8933276 1108.01148 99.8933276 1108.01148 146.733426 1170 146.733426 1170 180 1075.18966 180"></polygon>
    </g>
</svg>
  </div>
</section>
