<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center p-t-4">
      <%- include ../../images/logo.svg %>
      <div class="m-t-2 m-b-4">
        <a class="github-button" href="https://github.com/consensys/truffle" data-icon="octicon-star" data-count-href="/consensys/truffle/stargazers" data-count-api="/repos/consensys/truffle#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star consensys/truffle on GitHub">Star</a>
        <a class="github-button" href="https://github.com/consensys/truffle/fork" data-icon="octicon-repo-forked" data-count-href="/consensys/truffle/network" data-count-api="/repos/consensys/truffle#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork consensys/truffle on GitHub">Fork</a>
				<a href="https://gitter.im/consensys/truffle?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge"><img src="https://badges.gitter.im/Join%20Chat.svg"/></a>
      </div>
    </div>
  </div>
</div>
