
<section class="NotableUsers p-t-4 p-b-4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="WithDash m-b-4">AWESOME COMPANIES USING TRUFFLE IN PRODUCTION</h3>
        <ol class="list-unstyled list-inline w-100 text-center">
          <li><img src="images/zeppelin.png" /></li>
          <li><img src="images/status.png" /></li>
          <li><img src="images/ownage.png" /></li>
          <li><img src="images/digix.png" /></li>
          <li><img src="images/colony.png" /></li>
          <li><img src="images/stabl.png" /></li>
          <li><img src="images/aragon.png" /></li>
          <li><img src="images/bitgo.png" /></li>
          <li><img src="images/melonport_logo.png" /></li>
          <li><img src="images/upchain_logo.png" /></li>
          <li><img src="images/shapeshift-logo.png" /></li>
        </ol>
      </div>
    </div>
  </div>
</section>
