<div class="container p-b-4">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="text-center m-t-3">Your Ethereum Swiss Army Knife</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p class="text-center">Truffle is the most popular development framework for Ethereum with a mission to make your life a whole lot easier. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 p-t-1">
      <section class="InstallInstruction">
        <h5>INSTALL VIA NPM</h5>
        <div class="Box">
          <code>$ npm install -g truffle</code>
        </div>
        <i class="text-muted">Requires NodeJS 5.0+, MacOS, Linux or Windows</i>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center m-t-2">
      <a class="btn btn-primary" href="/docs" target="_blank">
        Read the Docs
      </a>
      <a class="btn btn-secondary" href="#tutorials">
        Latest Tutorials
      </a>
    </div>
  </div>
</div>
