<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="text-center m-t-0">Your Ethereum Swiss Army Knife</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <p class="text-center">Truffle is the most popular development framework for Ethereum with a mission to make your life a whole lot easier. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center p-t-1">
      <div>
        <a class="github-button" href="https://github.com/trufflesuite/truffle" data-icon="octicon-star" data-show-count="true" aria-label="Star trufflesuite/truffle on GitHub">Star</a>
        <a class="github-button" href="https://github.com/trufflesuite/truffle/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork trufflesuite/truffle on GitHub">Fork</a>
        <a href="https://gitter.im/consensys/truffle?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge"><img src="https://badges.gitter.im/Join%20Chat.svg"/></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 p-t-3">
      <section class="InstallInstruction">
        <h5>INSTALL VIA NPM</h5>
        <div class="Box">
          <code>$ npm install -g truffle</code>
        </div>
        <i class="text-muted">Requires NodeJS 5.0+. Works on Linux, macOS, or Windows.</i>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center m-t-2">
      <a class="btn btn-primary" href="/docs">
        Documentation
      </a>
      <a class="btn btn-secondary" href="/tutorials">
        Tutorials
      </a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <p class="text-center hint"><br/>Don't know where to start? Get yourself a <a href="/boxes">Truffle Box!</a></p>
      </div>
    </div>
  </div>
</div>

<img class="trufflecon-note" src="/images/trufflecon18/trufflecon-note.png" alt="TruffleCon 2018" />