@font-face {
	font-family: 'Century Gothic';
	src: url('./gothic.eot');
	src: local('gothic'), url('/fonts/gothic.woff') format('woff'), url('/fonts/gothic.ttf') format('truetype');
}

/* Font downloaded from FontsForWeb.com */