- function capitalize(string) {
  - return string.charAt(0).toUpperCase() + string.slice(1);
- }

mixin breadcrumb(url, title)
  span(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
    a(href='https://ole.michelsen.dk/', itemprop='url')
      span(itemprop='title')= title

+breadcrumb('/', 'Home')
each item in current.path.slice(0, -1)
  | ›
  +breadcrumb(item, capitalize(item))
| ›
span.current= capitalize(current.source)
