<section>
  <h2 class="h6">Credits</h2>
  <% for(handle in authors) { var author = authors[handle] %>
  <p>
    <strong><%= author.name %></strong> <%= author.role %><br>
    <% if(author.twitter) { %> @<%= author.twitter %><br> <% } %>
  </p>
  <% } %>
</section>
