<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs" href="/">
        <%- include ../_includes/svg/truffle-logo-white.svg %>
      </a>
      <a class="navbar-brand visible-xs" href="/">
        <%- include ../_includes/svg/truffle-logomark.svg %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/docs">Docs</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/boxes">Boxes</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/ganache"><img class="ganache-navbar" src="/images/suite/ganache/ganache-logomark.svg" alt="Ganache" />&nbsp;&nbsp;Ganache</a></li>
        <li><a href="/docs/drizzle/getting-started"><img class="drizzle-navbar" src="/images/suite/drizzle/drizzle-logomark.svg" alt="Drizzle" />&nbsp;&nbsp;Drizzle</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
