<span class="label label-truffle">
  <svg class="truffle-logo" width="100%" height="100%" viewBox="655 52 131 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <polyline id="path-1" points="0 0.426 130.715 0.426 130.715 128 0 128"></polyline>
          <polygon id="path-3" points="0 0.426 130.715 0.426 130.715 128 0 128"></polygon>
      </defs>
      <g id="Logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(655.000000, 52.000000)">
          <!-- Truffle Logo -->

          <path d="M100.8574,99.9258 C100.8574,102.0878 82.8804,103.8378 65.6344,103.8378 C48.3884,103.8378 30.4124,102.0878 30.4124,99.9258 C30.4124,97.7658 48.3884,96.0138 65.6344,96.0138 C82.8804,96.0138 100.8574,97.7658 100.8574,99.9258" id="Fill-1" fill="#E6E7E8"></path>
          <g id="Group-5">
              <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
              </mask>
              <g id="Clip-4"></g>
              <path d="M117.7813,50.4258 C117.7813,78.0398 95.3943,100.4258 67.7813,100.4258 C51.0803,100.4258 36.2913,92.2378 27.2113,79.6558 C21.2773,71.4358 18.9393,61.3388 18.9403,50.4258 C18.9403,35.2618 24.5313,21.6738 35.1913,12.5048 C43.9433,4.9768 55.3313,0.4258 67.7813,0.4258 C95.3943,0.4258 117.7813,22.8118 117.7813,50.4258" id="Fill-3" fill="#5E464D" mask="url(#mask-2)"></path>
          </g>
          <path d="M53.8936,94.4175 C55.9346,95.0525 62.7846,97.0835 63.0116,94.9175 C63.1366,93.7305 59.5436,92.6085 54.6076,90.1675 C47.5826,86.6945 41.1946,82.2065 35.5246,76.8335 C29.1906,70.8335 22.6076,61.2925 21.8576,47.2925 C21.0476,32.1835 26.6756,19.8005 36.1896,11.6595 C24.9566,20.8285 17.7816,34.7795 17.7816,50.4105 C17.7816,61.3545 21.2466,71.4225 27.2106,79.6565 C29.1966,81.4595 31.3236,83.1725 33.4116,84.6675 C39.0236,88.6875 47.1746,92.3275 53.8936,94.4175" id="Fill-6" fill="#FFFFFF"></path>
          <path d="M118.4668,38.9644 C115.3988,24.5534 105.8718,14.4624 93.1328,7.3374 C102.8738,14.2754 116.5888,29.0214 108.5048,42.0234 C101.6488,52.4484 84.9838,50.4034 75.8768,45.4644 C65.0498,39.5924 51.4838,26.3724 64.8638,13.4504 C73.5248,5.0894 101.1068,14.4644 96.2358,26.9644 C93.4048,34.2294 82.3948,32.6164 77.4388,29.0604 C73.7848,26.4384 70.7128,21.9294 72.3408,17.2754 C72.8628,15.7824 72.7868,13.4654 70.6798,15.1704 C69.1068,16.4434 68.3158,18.5384 68.0398,20.4864 C65.7358,36.7834 94.7688,49.4154 103.3798,33.6494 C107.8508,25.4644 100.6068,13.5894 91.4888,8.7144 C84.6208,5.0424 77.4998,2.4644 68.7578,3.0894 C54.7818,4.0884 43.0478,12.8314 41.5788,27.1154 C40.1228,41.2914 49.5978,54.0844 60.7748,61.7264 C72.5128,69.7534 88.3168,75.0464 102.7678,70.2574 C115.7198,65.9644 121.0708,51.0974 118.4668,38.9644" id="Fill-8" fill="#FFFFFF"></path>
          <path d="M100.2344,27.9272 C101.6234,18.5872 93.1804,12.1762 85.3844,9.2612 C76.1884,5.8212 64.0464,7.3312 57.3504,14.9472 C52.4384,20.5352 52.7724,28.6592 55.2964,35.2182 C59.1144,45.1422 67.7354,52.3152 77.7704,55.4112 C84.9014,57.6132 93.5214,58.5732 100.7504,56.2472 C111.2874,52.8582 114.7194,41.8662 112.5424,31.7982 C112.0734,29.6302 111.3594,27.4952 110.4064,25.4932 C109.0764,22.6982 104.9984,17.0422 110.6194,23.9312 C111.2334,24.6842 111.7204,25.5142 112.2424,26.3332 C113.4294,28.2002 114.2954,30.3142 114.9784,32.4102 C118.0444,41.8102 115.6374,52.7752 107.1294,58.4472 C100.6124,62.7912 92.3294,63.3062 84.7694,62.2222 C74.6384,60.7702 65.0854,55.8372 58.4524,47.9822 C52.3874,40.8022 48.2554,30.4882 50.7474,21.0642 C52.5704,14.1662 58.1724,9.0192 64.8764,6.8492 C73.3604,4.1012 82.6984,5.3762 90.3444,9.8372 C94.1684,12.0682 97.6714,15.1532 99.6164,19.1932 C100.4904,21.0072 100.9934,23.0192 101.0114,25.0352 C101.0184,25.8482 100.9834,26.6872 100.8214,27.4862 C100.7684,27.7782 100.1484,28.6072 100.2344,27.9272" id="Fill-10" fill="#3FE0C5"></path>
      </g>
  </svg>

  OFFICIAL
</span>
