<section class="BallotinIndexContainer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>TRUFFLE BOXES</h1>
        <p><strong>Truffle Boxes</strong> are helpful boilerplates that allow you to focus on what makes your dapp unique. In addition to Truffle, Truffle Boxes can contain other helpful modules, Solidity contracts &amp; libraries, front-end views and more; all the way up to complete example dapps.</p>
      </div>
    </div>

    <div class="row m-b-2">
      <div class="col-xs-12 m-b-2">
        <h2>Official Boxes</h2>
        <p>Our official boxes come from the developers at Truffle. This first set of boxes is aimed at integration with the React library, with others on the way. <a href="mailto:info@trufflesuite.com">Reach out</a> with other official Truffle Boxes you'd like to see, or scroll down to get more information on making your own boxes.</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxTruffleReact">
          <a href="/boxes/react">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/react-box/blob/master/box-img-sm.png?raw=true" alt="react-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/react"><h3>react<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/react-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/react-box on GitHub">Star</a></small></h3></a>

            <p>This box comes with everything you need to start using smart contracts from a react app. This is as barebones as it gets, so nothing stands in your way.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">react</a>
              </li>
              <li>
                <a href="#">webpack</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxTruffleReactAuth">
          <a href="/boxes/react-auth">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/react-auth-box/blob/master/box-img-sm.png?raw=true" alt="react-auth-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/react-auth"><h3>react-auth<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/react-auth-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/react-auth-box on GitHub">Star</a></small></h3></a>

            <p>This box adds react-router, redux and redux-auth-wrapper for authentication powered by a smart contract. Great for building your own auth system.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">auth</a>
              </li>
              <li>
                <a href="#">react</a>
              </li>
              <li>
                <a href="#">redux</a>
              </li>
              <li>
                <a href="#">webpack</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxTruffleReactUport">
          <a href="/boxes/react-uport">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/react-uport-box/blob/master/box-img-sm.png?raw=true" alt="react-uport-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/react-uport"><h3>react-uport<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/react-uport-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/react-uport-box on GitHub">Star</a></small></h3></a>

            <p>This box adds react-router, redux and redux-auth-wrapper for authentication powered by UPort. The easiest way to get started with UPort.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">uport</a>
              </li>
              <li>
                <a href="#">react</a>
              </li>
              <li>
                <a href="#">redux</a>
              </li>
              <li>
                <a href="#">webpack</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxPetShop">
          <a href="/boxes/pet-shop">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/pet-shop-box/blob/master/box-img-sm.png?raw=true" alt="pet-shop-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/pet-shop"><h3>pet-shop<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/pet-shop-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/pet-shop-box on GitHub">Star</a></small></h3></a>

            <p>This box contains all you need to get started with our Pet Shop tutorial.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">tutorial</a>
              </li>
              <li>
                <a href="#">jquery</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>
    </div>
  </div>

  <div class="CommunityBoxes">
    <div class="container">
      <div class="row row-flex">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <h2>Community Boxes</h2>
          <p>Our first community Truffle Box comes from the <strong><a href="http://status.im/" target="_blank">Status.im</a></strong> messaging platform and mobile Ethereum client. This box empowers you to make Ethereum dapps for iOS and Android using the Status platform.</a></p>

          <h2 class="hidden-xs">Creating Your Own</h2>
          <p class="hidden-xs">Eventually anyone will be able to create a truffle box! All boxes undergo a screening process to ensure compatibility with Truffle. To start the pre-screening process, <a href="mailto:info@trufflesuite.com">send us an email</a> with your desired box name and brief description, along with a link to its GitHub repo to: <a href="mailto:info@trufflesuite.com">info@trufflesuite.com</a>.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-1">
          <section class="FeatureCard" id="BoxStatusIm">
            <a href="/boxes/truffle-box-status">
              <div class="FeatureBody withImage">
                <img class="FeatureImage" src="/images/ballotin/status-banner.png" alt="truffle-box-status" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
              </div>
            </a>

            <footer class="BoxRundown">
              <a href="/boxes/truffle-box-status"><h3>status<small class="GitHubStars"><a class="github-button" href="https://github.com/status-im/truffle-box-status" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/truffle-box-react on GitHub">Star</a></small></h3></a>

              <p>This box comes with everything you need to start using smart contracts from a react app on your mobile. Of course, testing of this box requires you to have iOS/Android device with Status installed on it.</p>

              <ul class="BoxTagsList">
                <li>
                  <a href="#">status</a>
                </li>
                <li>
                  <a href="#">react</a>
                </li>
                <li>
                  <a href="#">webpack</a>
                </li>
                <li>
                  <a href="#">webapp</a>
                </li>
              </ul>
            </footer>
          </section>
        </div>

        <div class="col-xs-12 visible-xs">
          <h2>Create Your Own!</h2>
          <p>Soon you'll be able to create a boxes. All boxes undergo a screening process to ensure compatibility with Truffle. To start the pre-screening process, <a href="mailto:info@trufflesuite.com">send us an email</a> with your desired box name and brief description, along with a link to its GitHub repo to: <a href="mailto:info@trufflesuite.com">info@trufflesuite.com</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
