<section class="BallotinIndexContainer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>TRUFFLE BOXES</h1>
        <p><strong>Truffle Boxes</strong> are helpful boilerplates that allow you to focus on what makes your dapp unique. In addition to Truffle, Truffle Boxes can contain other helpful modules, Solidity contracts &amp; libraries, front-end views and more; all the way up to complete example dapps.</p>
      </div>
    </div>

    <div class="row row-flex-left m-b-2">
      <div class="col-xs-12 m-b-2">
        <h2>Official Boxes</h2>
        <p>Our official boxes come from the developers at Truffle. This first set of boxes is aimed at integration with the React library, with others on the way. <a href="mailto:info@trufflesuite.com">Reach out</a> with other official Truffle Boxes you'd like to see, or scroll down to get more information on making your own boxes.</p>
      </div>

      <% include _includes/official_boxes %>
    </div>
  </div>

  <div class="CommunityBoxes">
    <div class="container">
      <% include _includes/community_boxes_intro %>
      <% include _includes/community_boxes %>
    </div>
  </div>
</div>
