<section class="BallotinIndexContainer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>TRUFFLE BOXES</h1>
        <p><strong>Truffle Boxes</strong> are helpful boilerplates that allow you to focus on what makes your dapp unique. In addition to Truffle, Truffle Boxes can contain other helpful modules, Solidity contracts &amp; libraries, front-end views and more; all the way up to complete example dapps.</p>
      </div>
    </div>

    <div class="row m-b-2">
      <div class="col-xs-12 m-b-2">
        <h2>Official Boxes</h2>
        <p>Our official boxes come from the developers at Truffle. This first set of boxes is aimed at integration with the React library, with others on the way. <a href="mailto:info@trufflesuite.com">Reach out</a> with other official Truffle Boxes you'd like to see, or scroll down to get more information on making your own boxes.</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxTruffleReact">
          <a href="/boxes/react">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/react-box/blob/master/box-img-sm.png?raw=true" alt="react-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/react"><h3>react<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/react-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/react-box on GitHub">Star</a></small></h3></a>

            <p>This box comes with everything you need to start using smart contracts from a react app. This is as barebones as it gets, so nothing stands in your way.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">react</a>
              </li>
              <li>
                <a href="#">webpack</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxTruffleReactAuth">
          <a href="/boxes/react-auth">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/react-auth-box/blob/master/box-img-sm.png?raw=true" alt="react-auth-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/react-auth"><h3>react-auth<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/react-auth-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/react-auth-box on GitHub">Star</a></small></h3></a>

            <p>This box adds react-router, redux and redux-auth-wrapper for authentication powered by a smart contract. Great for building your own auth system.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">auth</a>
              </li>
              <li>
                <a href="#">react</a>
              </li>
              <li>
                <a href="#">redux</a>
              </li>
              <li>
                <a href="#">webpack</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxTruffleReactUport">
          <a href="/boxes/react-uport">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/react-uport-box/blob/master/box-img-sm.png?raw=true" alt="react-uport-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/react-uport"><h3>react-uport<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/react-uport-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/react-uport-box on GitHub">Star</a></small></h3></a>

            <p>This box adds react-router, redux and redux-auth-wrapper for authentication powered by UPort. The easiest way to get started with UPort.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">uport</a>
              </li>
              <li>
                <a href="#">react</a>
              </li>
              <li>
                <a href="#">redux</a>
              </li>
              <li>
                <a href="#">webpack</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxPetShop">
          <a href="/boxes/pet-shop">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/pet-shop-box/blob/master/box-img-sm.png?raw=true" alt="pet-shop-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/pet-shop"><h3>pet-shop<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/pet-shop-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/pet-shop-box on GitHub">Star</a></small></h3></a>

            <p>This box contains all you need to get started with our Pet Shop tutorial.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">tutorial</a>
              </li>
              <li>
                <a href="#">jquery</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxTutorialToken">
          <a href="/boxes/tutorialtoken">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/tutorialtoken-box/blob/master/box-img-sm.png?raw=true" alt="tutorialtoken-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/tutorialtoken"><h3>tutorialtoken<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/tutorialtoken-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/tutorialtoken-box on GitHub">Star</a></small></h3></a>

            <p>This box contains all you need to get started with our OpenZeppelin (TutorialToken) tutorial.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">tutorial</a>
              </li>
              <li>
                <a href="#">jquery</a>
              </li>
              <li>
                <a href="#">webapp</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
              <li>
                <a href="#">openzeppelin</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <section class="FeatureCard" id="BoxWebpack">
          <a href="/boxes/webpack">
            <div class="FeatureBody withImage">
              <img class="FeatureImage" src="https://github.com/truffle-box/webpack-box/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
            </div>
          </a>

          <footer class="BoxRundown">
            <a href="/boxes/webpack"><h3>webpack<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/webpack-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/webpack-box on GitHub">Star</a></small></h3></a>

            <p>Example webpack project with Truffle. Includes contracts, migrations, tests, user interface and webpack build pipeline.</p>

            <ul class="BoxTagsList">
              <li>
                <a href="#">webpack</a>
              </li>
              <li>
                <a href="#">official</a>
              </li>
            </ul>
          </footer>
        </section>
      </div>
    </div>
  </div>

  <div class="CommunityBoxes">
    <div class="container">
      <div class="row row-flex">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <h2>Community Boxes</h2>
          <p>These boxes are lovingly crafted by members of the Truffle community.</p>

          <h2 class="hidden-xs">Creating Your Own</h2>
          <p class="hidden-xs">Anyone can create a truffle box! To get started check out <a href="/docs/advanced/truffle-boxes">our documentation</a> and unbox <a href="/boxes/blueprint">the blueprint Truffle Box</a> to have all you need to get started. All boxes undergo a screening process to ensure compatibility with Truffle. To start the pre-screening process, <a href="mailto:info@trufflesuite.com">send us an email</a> with your desired box name and brief description, along with a link to its GitHub repo to: <a href="mailto:info@trufflesuite.com">info@trufflesuite.com</a>.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-1">
          <section class="FeatureCard" id="BoxBlueprint">
            <a href="/boxes/blueprint">
              <div class="FeatureBody withImage">
                <img class="FeatureImage" src="https://github.com/truffle-box/blueprint-box/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
              </div>
            </a>

            <footer class="BoxRundown">
              <a href="/boxes/blueprint"><h3>blueprint<small class="GitHubStars"><a class="github-button" href="https://github.com/truffle-box/blueprint-box" data-icon="octicon-star" data-show-count="true" aria-label="Star truffle-box/blueprint-box on GitHub">Star</a></small></h3></a>

              <p>All you need to get started making your own Truffle Box!</p>

              <ul class="BoxTagsList">
                <li>
                  <a href="#">template</a>
                </li>
                <li>
                  <a href="#">official</a>
                </li>
              </ul>
            </footer>
          </section>
        </div>

        <div class="col-xs-12 visible-xs">
          <h2>Create Your Own!</h2>
          <p>Anyone can create a truffle box! To get started check out <a href="/docs/advanced/truffle-boxes">our documentation</a> and unbox <a href="/boxes/blueprint">the blueprint Truffle Box</a> to have all you need to get started. All boxes undergo a screening process to ensure compatibility with Truffle. To start the pre-screening process, <a href="mailto:info@trufflesuite.com">send us an email</a> with your desired box name and brief description, along with a link to its GitHub repo to: <a href="mailto:info@trufflesuite.com">info@trufflesuite.com</a>.</p>
        </div>
      </div>

      <!-- NEW COMMUNITY BOXES -->

      <div class="row row-flex-left row-boxes">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <section class="FeatureCard" id="BoxStatusIm">
            <a href="/boxes/status">
              <div class="FeatureBody withImage">
                <img class="FeatureImage" src="/images/ballotin/status-banner.png" alt="truffle-box-status" onerror="javascript:this.src='/images/ballotin/loading-banner.png'">
              </div>
            </a>

            <footer class="BoxRundown">
              <a href="/boxes/status"></a><h3><a href="/boxes/status">status<small class="GitHubStars"></small></a><small class="GitHubStars"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fstatus-im%2Ftruffle-box-status&amp;aria-label=Star%20truffle-box%2Ftruffle-box-status%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star&amp;data-show-count=true" style="width: 77px; height: 20px; border: none;"></iframe></small></h3>

              <p>This box comes with everything you need to start using smart contracts from a react app on your mobile. Of course, testing of this box requires you to have iOS/Android device with Status installed on it.</p>

              <ul class="BoxTagsList">
                <li>
                  <a href="#">status</a>
                </li>
                <li>
                  <a href="#">react</a>
                </li>
                <li>
                  <a href="#">webpack</a>
                </li>
                <li>
                  <a href="#">webapp</a>
                </li>
              </ul>
            </footer>
          </section>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <section class="FeatureCard" id="BoxQunitorAngular">
            <a href="/boxes/angular-truffle-box">
              <div class="FeatureBody withImage">
                <img class="FeatureImage" src="https://github.com/Quintor/angular-truffle-box/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
              </div>
            </a>

            <footer class="BoxRundown">
              <a href="/boxes/angular-truffle-box"><h3>Quintor/</br>angular-truffle-box<small class="GitHubStars"><a class="github-button" href="https://github.com/Quintor/angular-truffle-box" data-icon="octicon-star" data-show-count="true" aria-label="Star Quintor/angular-truffle-box on GitHub">Star</a></small></h3></a>

              <p>This Truffle Box provides a base for working with the Truffle Framework and Angular. It provides a basic working example of the MetaCoin contracts with Angular components. This project is generated with Angular CLI.</p>

              <ul class="BoxTagsList">
                <li>
                  <a href="#">angular</a>
                </li>
              </ul>
            </footer>
          </section>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <section class="FeatureCard" id="BoxReactDappMaterialUI">
            <a href="/boxes/react-dapp-material-ui">
              <div class="FeatureBody withImage">
                <img class="FeatureImage" src="https://github.com/hackingbeauty/react-dapp-material-ui/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
              </div>
            </a>

            <footer class="BoxRundown">
              <a href="/boxes/react-dapp-material-ui"><h3>hackingbeauty/<br/>react-dapp-material-ui<small class="GitHubStars"><a class="github-button" href="https://github.com/hackingbeauty/react-dapp-material-ui" data-icon="octicon-star" data-show-count="true" aria-label="Star hackingbeauty/react-dapp-material-ui on GitHub">Star</a></small></h3></a>

              <p>In addition to Webpack and React, this box adds: React-Router, Redux and Material-UI for easy skinning of a Dapp.</p>

              <ul class="BoxTagsList">
                <li>
                  <a href="#">material</a>
                </li>
                <li>
                  <a href="#">react</a>
                </li>
                <li>
                  <a href="#">redux</a>
                </li>
                <li>
                  <a href="#">webpack</a>
                </li>
                <li>
                  <a href="#">webapp</a>
                </li>
              </ul>
            </footer>
          </section>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <section class="FeatureCard" id="BoxSvelte">
            <a href="/boxes/svelte-box">
              <div class="FeatureBody withImage">
                <img class="FeatureImage" src="https://github.com/antony/svelte-box/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
              </div>
            </a>

            <footer class="BoxRundown">
              <a href="/boxes/svelte-box"><h3>antony/<br/>svelte-box<small class="GitHubStars"><a class="github-button" href="https://github.com/antony/svelte-box" data-icon="octicon-star" data-show-count="true" aria-label="Star antony/svelte-box on GitHub">Star</a></small></h3></a>

              <p>A Truffle box using SvelteJS and Rollup. This box contains everything you need to start building a smart-contract app.</p>

              <ul class="BoxTagsList">
                <li>
                  <a href="#">rollup</a>
                </li>
                <li>
                  <a href="#">svelte</a>
                </li>
              </ul>
            </footer>
          </section>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <section class="FeatureCard" id="BoxVueDarkChocolate">
            <a href="/boxes/vue-dark-chocolate">
              <div class="FeatureBody withImage">
                <img class="FeatureImage" src="https://github.com/kierenh/vue-dark-chocolate/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
              </div>
            </a>

            <footer class="BoxRundown">
              <a href="/boxes/vue-dark-chocolate"><h3>kierenh/<br/>vue-dark-chocolate<small class="GitHubStars"><a class="github-button" href="https://github.com/kierenh/vue-dark-chocolate" data-icon="octicon-star" data-show-count="true" aria-label="Star kierenh/vue-dark-chocolate on GitHub">Star</a></small></h3></a>

              <p>A truffle box that comes with everything you need to start using smart contracts from a Vue App with Bootstrap styling and components. Supporting frameworks include Vuex, Vue-Router &amp; Bootstrap 4 (via Bootstrap-Vue) and webpack. The sample uses webpack-dev-server for hot-reloading or you can build and serve from express.</p>

              <ul class="BoxTagsList">
                <li>
                  <a href="#">vue</a>
                </li>
                <li>
                  <a href="#">vue-bootstrap</a>
                </li>
                <li>
                  <a href="#">vue-router</a>
                </li>
              </ul>
            </footer>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
