<section class="BallotinSingleContainer" data-box="truffle-react-ts-template" data-user="LibertyLocked">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="WithDash">LibertyLocked/truffle-react-ts-template</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-7 BoxReadme" id="BoxReadme">
        <div class="alert alert-info" role="alert">Loading readme...</div>
      </div>

      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <div class="row Sidebar">
          <div class="col-xs-12 col-sm-6 col-md-12">
            <section class="FeatureCard">
              <div class="FeatureBody withImage">
                <img class="FeatureImageLg" src="https://github.com/LibertyLocked/truffle-react-ts-template/blob/master/box-img-lg.png?raw=true" alt="truffle-react-ts-template" onerror="javascript:this.src='/images/ballotin/loading-thumb.png'" />
                <img class="FeatureImageSm" src="https://github.com/LibertyLocked/truffle-react-ts-template/blob/master/box-img-sm.png?raw=true" alt="truffle-react-ts-template" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
              </div>

              <footer class="BoxRundown">
                <ul class="BoxRundownList">
                  <li><strong>Tags</strong><br/><hr/></li>
                  <li>
                    <ul class="BoxTagsList">
                      <li>
                        <a href="#">react</a>
                      </li>
                      <li>
                        <a href="#">typescript</a>
                      </li>
                      <li>
                        <a href="#">webpack</a>
                      </li>
                      <li>
                        <a href="#">webapp</a>
                      </li>
                    </ul>
                  </li>
                  <li><strong>Created</strong><br/><hr/></li>
                  <li id="BoxDateCreated">X-X-X</li>
                  <li><strong>Last Updated</strong><br/><hr/></li>
                  <li id="BoxDateUpdated">X-X-X</li>
                  <li><strong>Stars</strong><br/><hr/></li>
                  <li><a class="github-button" href="https://github.com/LibertyLocked/truffle-react-ts-template" data-icon="octicon-star" data-show-count="true" data-size="large" aria-label="Star LibertyLocked/truffle-react-ts-template on GitHub">Star</a></li>
                </ul>
              </footer>
            </section>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-12">
            <section class="FeatureCard">
              <div class="FeatureBody">
                <h3>Installing</h3>
                <p>Run this command to create a new Truffle project with this box:</p>
                <p><pre>truffle unbox LibertyLocked/truffle-react-ts-template</pre></p>
              </div>

              <footer>
                <a class="btn btn-primary m-t-1 m-b-1" id="BoxDownloadLink" href="#">Download</a>
                <a class="btn btn-primary m-t-1 m-b-1" id="BoxGitHubLink" href="#">GitHub</a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/github-api/dist/GitHub.bundle.min.js"></script>
<script src="/scripts/ballotin/marked.min.js"></script>
<script src="/scripts/ballotin/single-truffle-box.js"></script>
