<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Truffle Suite | Search</title>

    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans|Oswald|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    {{> navbar}}

    <main class="container container-heading">
      <div class="row">
        <div class="col">
          <h1>SEARCH</h1>
          <p>Results for "<span id="searchQuery"></span>"</p>
          <form id="searchForm" class="mt-4">
            <div class="input-group">
              <input type="text" class="form-control" id="searchInput" placeholder="Search">
              <div class="input-group-append">
                <button type="submit" class="btn btn-truffle">SEARCH</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <main class="banner banner-light-cream pt-5 pb-5" role="main">
      <div class="container" id="searchResults">
        <!-- Search results go here. -->
      </div>
    </main>

    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="/js/docs-search.js"></script>
  </body>
</html>