{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

<section>
    <div class="container p-5">
        <div class="row align-items-center">
            <h1>Accessibility</h1>
            <p class="mt-4">
                Truffle is commited to providing a website that is accessible to the widest possible audience,
                regardless of technology or ability. We are actively working to increase the accessibility and
                usability of our website and the developer tools we create.
            </p>
            <p class="mt-4">
                We endeavour to conform to level Double-A of the World Wide Web Consortium (W3C) Web Content
                Accessibility Guidelines 2.1. These guidelines explain how to make web content more accessible
                for people with disabilities. Conformance with these guidelines will help make the web and our 
                tools more user friendly for all people.
            </p>
            <p class="mt-4">
                Whilst we strive to adhere to the accepted guidelines and standards for accessibility and usability,
                it is not always possible to do so in all areas of the website or tools.
            </p>
            <p class="mt-4">
                We are continually seeking out solutions that will bring all areas of this website and our tools up to the
                same level of overall web accessibility. In the meantime should you experience any difficulty in accessing
                the website, please don't hesitate to contact us.
            </p>
            <p>
                You can contact us by sending and email to <a href="mailto:accessibility@trufflesuite.com">accessibility@trufflesuite.com</a>
            </p>
        </div>
    </div>
</section>
  
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
