{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

<!-- Additional styles for landing page -->
<link rel="stylesheet" href="/assets/stylesheets/boxes.min.css">

<section class="container p-5">

  <h1>Truffle Boxes</h1>
  <h2>The easiest way to get started</h2>
  <p>Truffle Boxes are helpful boilerplates that allow you to focus on what makes your dapp unique. In addition to Truffle, Truffle Boxes can contain other helpful modules, Solidity contracts & libraries, front-end views and more; all the way up to complete example dapps.</p>

  <div class="w-100">
    <div class="float-start">
      <a href="/docs/truffle/advanced/creating-a-truffle-box.html" class="btn btn-sm btn-truffle">Create a Box</a>
    </div>
    <div class="float-end">
      <div class="box-search-container-radio">
        <input class="form-check-input" type="radio" name="boxes.filter.radio" id="boxes.filter.radio.name" value="name" checked>
        <label class="form-check-label" for="boxes.filter.radio.name">Name</label>
      </div>
      <div class="box-search-container-radio">
        <input class="form-check-input" type="radio" name="boxes.filter.radio" id="boxes.filter.radio.tags" value="tags">
        <label class="form-check-label" for="boxes.filter.radio.tags">Tags</label>
      </div> 
      <div class="box-search-container-input">
        <input type="text" id="boxes.filter.input" class="box-search-inner-input" placeholder="Search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
        <label class="box-search-icon md-icon"> 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16 6.5 6.5 0 0 1 3 9.5 6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5z"></path></svg> 
        </label>
      </div>      
    </div>
  </div>

  <div id="boxes" class="row g-4">

    {% for box in config.extra.boxes %}
      <div id={{ box.displayName }} data-type="boxes.container" data-tags="{{ box.deets.tags }}" class="col-xs-12 col-md-6 col-lg-4">
          <a href="{{ box.displayName }}/">
            <div class="card">
                <img alt="{{ box.displayName }}" src={{ "https://raw.githubusercontent.com/" + box.userOrg + "/" + box.repoName + "/master/box-img-sm.png" }} class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{ box.displayName }}</h5>
                    <p class="card-text">{{ box.deets.stars }}</p>
                    <p class="card-text">{{ box.deets.description }}</p>
                    <p class="card-text">
                      {% for tag in box.deets.tags %}
                        <span class="badge bg-secondary">{{ tag }}</span>
                      {% endfor %}
                    </p>
                </div>
            </div>
          </a>
      </div>
    {% endfor %}

  </div>

</section>

<script src="/assets/js/boxes.min.js"></script>

<script type="text/javascript">
  window.addEventListener('load', function () {
    boxes.init();
  });
</script>

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
