{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

  </style>

<section class="container p-5">

    <main role="main" class="container container-heading">
        <div class="row">
          <div class="col">
            <h1>XBox</h1>
            <h2>The Problem</h2>

            <p>Financial reporting used to compensate game publishers have not kept up with the gaming industry. Video games are developed at warp speed in today’s world and relying on systems that were not built for this scale was a problem. Games involve not just programming, but also musicians, special effects studios, and others. Streamlining the reconciliation process to ensure royalty payments are made faster benefits everyone contributing to the product. Using traditional model of spreadsheets and custom reporting, kept the finance teams from working on more strategic work as well.</p>
            <div class="media align-items-center">
              <div class="media-body">
                <p>Truffle removes the complexity required to make changes and build solutions, increasing developer productivity and getting to market faster.</p>
              </div>
            </div>
            
            <h2>The Solution</h2>
            
            <p>Partnered with EY, Microsoft was able to leverage blockchain technology to create a new application that reduced statement access times from 45 days to a few minutes. Along with this velocity, the integrity of the data was not compromised and in fact the tamper proof nature of immutable transaction record, adds more confidence and reliability to the system. The core blockchain technology used is Quorum. This brings the ability to handle more advanced privacy requirements and the fast transaction throughput needed for this system.
            
            <figure>
              <img class="mb-2" src="/img/case-studies/case-study-microsoft-xbox/figure-1.jpg" alt="Mallgoers take the XBox One X for a spin." style="width:100%">
            </figure>
            
            <p>Lastly, the system was built on top of the Azure Blockchain Service, which is a managed blockchain offering that reduces the infrastructure maintenance and allowed the team to focus on building the core application and features and less on the blockchain infrastructure complexity. It also streamlined the extensibility of the platform, allowing the participants to grow without any changes needed for the infrastructure.</p>
            <p>At the core of building the application on this platform, is the Truffle suite of tools. Using Truffle, the team is able easily create the business logic in the smart contracts, test these contracts, and deploy to various environments. With blockchain technology and the digital signatures required for all changes, Truffle removes the complexity required to make changes and build solutions, increasing developer productivity and getting to market faster.</p>
          </div>
        </div>
      </main>
      

</section>

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
