{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

    .support-heading {
      display: inline-block;
      margin: 0 .5em 0 0;
      width: 2.5rem;
      max-height: 2.5rem;
    }

  </style>

<div class="container">
  <section class="p-5">
    <main role="main" class="container">
      <div class="row align-items-center">
        <div class="col-sm">
          <h1><img class="support-heading" src="../img/support-header.svg" alt="Life Preserver" title="Support" /> COMMUNITY &amp; SUPPORT</h1>
        </div>
      </div>

      <hr class="container">
        <div class="row">
          <div class="col">
            <h2 class="mt-3"><i class="fab fa-github"></i> Find us on GitHub! 👋</h2>
            <p>Truffle not behaving as intended? Stuck on installation issues? Have a suggestion for a new feature? We are here for you. </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md mb-3">
            <div class="card">
              <div class="card-body card-zendesk">
                <p>Github discussions is your one-stop shop for getting
                  your questions answered. You can search discussions to see if your question has already been answered, and if not, ask
                  the question yourself! It’s a place for fellow Trufflers as well as our support team to help each other out!</p>
                  <a target="_blank" rel="noopener noreferrer" href="https://github.com/orgs/trufflesuite/discussions"
                    class="btn btn-truffle text-uppercase">Join GitHub Discussions</a>
                </div>
            </div>
          </div>

          <div class="col-md">
            <h3>Submit a GitHub Issue</h3>
            <p class="mt-3"><a class="minty" target="_blank" rel="noopener noreferrer" href="https://github.com/trufflesuite/">Create a Github issue</a> to make feature requests and report bugs. See an issue you want to address? Make a PR! Our
              developers will be keeping an eye on these, so a github issue should be filed only if the outcome would be a code
              change. If not - discussions are the way to go!</p>
          </div>

          <div class="col-md">
            <h3>Help Improve the Documentation</h3>
            <p class="mt-3">We’re only human, and need all the help you can give us to improve the documentation. If you’d like to submit any
              feedback or suggestions, please <a class="minty" target="_blank" rel="noopener noreferrer"
                href="https://github.com/trufflesuite/trufflesuite.com/">create a pull request</a> on our documentation repository.</p>
          </div>
        </div>
      </main>
      <hr class="container">
        <p class="mt-3">Running into a very specific issue and need more 1:1 support? <a target="_blank" rel="noopener noreferrer" href="https://trufflesuite.zendesk.com/hc/en-us/requests/new" class="minty">Create a support ticket!</a>
        </p>
  </section>
</div>

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
