{% extends "main.html" %}

{% block htmltitle %}
  {% if config.extra.contentful_page.community and config.extra.contentful_page.community.seo %}
    <title>{{config.extra.contentful_page.community.seo.page_title}}</title>
    <meta name="description" content="{{config.extra.contentful_page.community.seo.page_description}}">
    <meta property="og:site_name" content="{{config.site_name}}">
    <meta property="og:url" content="{{ page.canonical_url }}">
    <meta property="og:type" content="page">
    <meta property="og:title" content="{{config.extra.contentful_page.community.seo.page_title}}">
    <meta property="og:description" content="{{config.extra.contentful_page.community.seo.page_description}}">
    <meta property="og:image" content="{{config.extra.contentful_page.community.seo.featured_image.url()}}">
    <meta name="twitter:url" content="{{ page.canonical_url }}">
    <meta name="twitter:title" content="{{config.extra.contentful_page.community.seo.page_title}}">
    <meta name="twitter:description" content="{{config.extra.contentful_page.community.seo.page_description}}">
    <meta name="twitter:image" content="{{config.extra.contentful_page.community.seo.featured_image.url()}}">
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

    .support-heading {
      display: inline-block;
      margin: 0 .5em 0 0;
      width: 2.5rem;
      max-height: 2.5rem;
    }

  </style>

{% with modules = config.extra.contentful_page.community.modules %}
  {% for module in modules %}
    {% with %}
      {% set props = module %}
      <!-- {% set template = module.template %} -->
      {% set template = config.extra.module_id_parse(module.sys['content_type'].id) %}
      {% include 'partials/contentful/'+template+'.html' %}
    {% endwith %}
  {% endfor %}
{% endwith %}

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
