{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %} {{ super() }}

<!-- Additional styles for landing page -->
<style>
  /* Remove spacing, as we cannot hide it completely */
  .md-main__inner {
    margin: 0;
  }

  /* Hide main content for now */
  .md-content {
    display: none;
  }

  /* Hide table of contents */
  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  .card-img-top {
    display: inline-block;
    margin: 0 0.5em 0 0;
    width: 2.5rem;
    max-height: 2.5rem;
  }
</style>

<section class="container p-5">
  <h1>Documentation</h1>

  <p class="my-4">
    The Truffle Suite has everything you need to develop smart contracts for
    Ethereum and other EVM-compatible chains: a CLI tool to build, test, and
    deploy smart contracts; a Dashboard to inspect and debug transactions; and a
    simulator to test your ideas quickly and work with forked networks.
  </p>

  <div class="row docs-row-cards">
    <div class="col-md-6">
      <a class="link-card" href="truffle/">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title mt-0 text-truffle">
              <img
                class="card-img-top"
                src="../img/truffle-logomark.svg"
                alt="Truffle Logo"
              /><span class="narrow">T</span>RUFFLE
            </h5>
            <hr />
            <p class="mb-0">
              <strong>SMART CONTRACTS MADE SWEETER</strong> Compile, test, debug
              and deploy with the most popular smart contract development tool.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6">
      <a class="link-card" href="truffle-dashboard/">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title mt-0 text-truffle-dashboard">
              <img
                class="card-img-top"
                src="../img/truffle-logomark.svg"
                alt="Truffle Logo"
              /><span>Dashboard</span>
            </h5>
            <hr />
            <p class="mb-0">
              <strong>INSIGHTFUL DEVELOPMENT</strong> A platform for dapp
              developers to get insights about smart contracts and their
              transactions.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6">
      <a class="link-card" href="ganache/">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title mt-0 text-ganache">
              <img
                class="card-img-top"
                src="../img/ganache-logomark.svg"
                alt="Ganache Logo"
              />Ganache
            </h5>
            <hr />
            <p class="mb-0">
              <strong>ONE CLICK BLOCKCHAIN</strong> Fast, easy, local
              development blockchain in UI and CLI flavors. Introspection of
              contract data and events.
            </p>
          </div>
        </div>
      </a>
    </div>

    <!--<div class="col-md-6">
      <a class="link-card" href="drizzle/">
        <div class="card docs-drizzle-card mb-3">
          <div class="card-body">
            <h5 class="card-title mt-0 text-drizzle">
              <img
                class="card-img-top"
                src="../img/drizzle-logomark.svg"
                alt="Drizzle Logo"
              />dri<span class="drizzle-z-skew-1">z</span
              ><span class="drizzle-z-skew-2">z</span>le
            </h5>
            <hr />
            <p class="mb-0">
              <strong>FRESH CHAIN-DATA FOR FRONT-ENDS</strong>
              Standards-compliant wallet connection, account and contract state
              management. Turn-key React component library.
            </p>
          </div>
        </div>
      </a>
    </div>-->

    <div class="col-md-6">
      <a class="link-card" href="vscode-ext/">
        <div class="card docs-drizzle-card mb-3">
          <div class="card-body">
            <h5 class="card-title mt-0 text-truffle">
              <img
                class="card-img-top"
                src="../img/vscode-logo.svg"
                alt="Truffle for VSCode Logo"
              /><span class="narrow">T</span>RUFFLE for VSCode
            </h5>
            <hr />
            <p class="mb-0">
              <strong>DAPP DEVELOPMENT SIMPLIFIED</strong> Truffle for VSCode
              simplifies how you create, connect to, build and deploy smart
              contracts on an EVM-based blockchain.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %} {% include "partials/footer.html" %} {% endblock %}
