{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

    .card::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 5px;
      border-radius: .25rem 0 0 .25rem;
      background: rgb(63,224,197); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(63,224,197,1) 0%, rgba(228,166,99,1) 50%, rgba(233,17,189,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(63,224,197,1) 0%,rgba(228,166,99,1) 50%,rgba(233,17,189,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(63,224,197,1) 0%,rgba(228,166,99,1) 50%,rgba(233,17,189,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fe0c5', endColorstr='#e911bd',GradientType=0 ); /* IE6-9 */
    }

  </style>

<section class="container p-5">

    <h1>Guides</h1>
  
    <p class="mt-4">
      <div id="guides" class="row row-cols-3 row-cols-md-3 g-4">
        {% for guide in config.extra.guides %}
          <a href="{{ guide.route }}">
            <div class="col" >
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">{{ guide.title }}</h5>
                        <p class="card-text">{{ guide.date }}</p>
                        <p class="card-text">{{ guide.author }}</p>
                    </div>
                </div>
            </div>
          </a>
        {% endfor %}
      </div>

    </p>
        
</section>

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}