{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

    <!-- Additional styles for landing page -->
    <style>

      /* Remove spacing, as we cannot hide it completely */
      .md-main__inner {
        margin: 0;
      }

      /* Hide main content for now */
      .md-content {
        display: none;
      }

      /* Hide table of contents */
      @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
          display: none;
        }
      }

      /* Hide navigation */
      @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
          display: none;
        }
      }

      .home-hero-container {
        background: url(img/truffle-hero-bg.png) no-repeat;
        background-size: cover;
        min-height: 24rem;
      }
      .home-hero-truffle-logo {
        margin: 2rem 0 0 0;
        max-width: 24rem;
      }
      .home-hero-copy {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        max-width: 36rem;
        line-height: 2.2rem;
        margin-top: 1rem;
      }

      .rainbow {
        background-image: linear-gradient(to right, #eaa65b, #f98d5a, #ff7267, #ff557e, #f93e9e, #d65ed0, #9b7cf2, #3a92ff, #00b3ff, #00cef5, #00e2d8, #89f2be);
      }

      .card-header {
        font-size: 1.6rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      .card-header.blue-to-green {
        background-color: none;
        background-image: linear-gradient(to right, #8f7bd7, #6394e9, #2fa8ed, #05b9e7, #3ac7da, #4cd0d5, #62d8cf, #79e0c8, #7be7c6, #7feec4, #86f5c0, #8efbbb);
      }

      .card-header.pink-to-purple {
        background-color: none;
        background-image: linear-gradient(to right, #dd46b0, #da45b6, #d644bd, #d144c4, #cc44cb, #c34dd1, #ba55d6, #b15cdb, #a469dd, #9973dd, #8f7cdb, #8883d7);
      }

      .card-header.brown-to-orange {
        background-color: none;
        background-image: linear-gradient(to right, #58474e, #74545b, #916262, #ab7366, #c18667, #cb9670, #d5a679, #deb784, #e5c59a, #ecd2b0, #f3e0c7, #faeede);
      }

      .card-header.purple-to-turquoise {
        background-color: none;
        background-image: linear-gradient(to right, #b751d7, #a763dd, #9871e0, #8b7de0, #8287dd, #808adb, #7f8cd9, #7f8fd6, #818cd7, #8389d7, #8586d7, #8883d7);
      }

      .card-header.orange-to-cream {
        background-color: none;
        background-image: linear-gradient(to right, #e69743, #e89f51, #eaa75f, #ecaf6c, #eeb77a, #f0be87, #f1c694, #f3cda1, #f5d5b0, #f6debf, #f8e6ce, #faeede);
      }

      .card-header.orange-to-green {
        background-color: none;
        background-image: linear-gradient(to right, #de992d, #cea432, #bead3d, #aeb54c, #9fbc5e, #99c36b, #94ca79, #8ed187, #8fdb93, #8fe6a0, #8ff0ad, #8efbbb);
      }
    </style>

<!-- Hero for landing page -->
<section class="pt-5">
  <div class="container p-5 home-hero-container">
      <img class="home-hero-truffle-logo" src="/img/truffle-color.png" alt="Truffle Logo">
      <p class="home-hero-copy">The most comprehensive suite of tools for smart contract development</p>
  </div>
</section>

<section class="p-2 rainbow">
</section>

<section>
  <div class="container p-5">

    <div class="row align-items-center justify-content-center text-center mb-2">
      <div class="col-md-6 col-sm-12">
        <div class="card border-dark mb-3">
          <div class="card-header blue-to-green">End-to-end development</div>
          <div class="card-body text-dark">
            <p class="card-text">Quickly build, test, debug, and deploy using the Truffle CLI. Write scripts and plugins to automate common processes. Interact directly with the blockchain using the Truffle console. Write tests in Solidity, JavaScript, and TypeScript. Truffle will manage your entire workflow.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Create your first project</small>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card border-dark mb-3">
          <div class="card-header pink-to-purple">Best-in-class debugging</div>
          <div class="card-body text-dark">
            <p class="card-text">Get a deeper understanding of transactions with the Truffle debugger. Step in/out, set breakpoints, and analyze variables through the CLI and the native VS Code debugger. Debug mainnet transactions by stepping through verified contract source code. Truffle will give you the best view into what's happening
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Debug a contract</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-center text-center mb-2">
      <div class="col-md-12 col-sm-12">
        <div class="card border-dark mb-3">
          <div class="card-header brown-to-orange">Faster, easier, and safer Ethereum simulation</div>
          <div class="card-body text-dark">
            <p class="card-text">Bring up a local blockchain with pre-funded accounts for fast testing with Truffle’s Ganache. Fork mainnet with zero-config, impersonate accounts, auto-mine blocks, and use Ganache programmatically with Node.js. Print variables for quick analysis using console.log and Vyper’s print. Ganache lets you customize a local blockchain for quick testing and mimicking production environments.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Get started with Ganache</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-center text-center mb-2">
      <div class="col-md-6 col-sm-12">
        <div class="card border-dark mb-3">
          <div class="card-header purple-to-turquoise">UX-centered design</div>
          <div class="card-body text-dark">
            <p class="card-text">Manage your entire workflow through the VS Code extension. Build, deploy, visually debug and bring up your testing environment all without touching the CLI. Surface your most important smart contract artifacts in one UI. Truffle keeps the developer experience front and center.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Get started with Truffle for VS Code</small>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card border-dark mb-3">
          <div class="card-header orange-to-cream">Security-first</div>
          <div class="card-body text-dark">
            <p class="card-text">Deploy contracts and sign transactions with your wallet using Truffle Dashboard. With Truffle, you don't have to risk exposing your private keys. In partnership with ConsenSys Diligence we're bringing “Continuous Security” to your projects. Diligence's best-in-class tooling offers automated security analysis, fuzzing, and visualization, helping you easily adopt security best practices.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Secure yourself and your projects</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-center text-center mb-2">
      <div class="col-md-12 col-sm-12">
        <div class="card border-dark mb-3">
          <div class="card-header orange-to-green">Robust L1 & L2 support</div>
          <div class="card-body text-dark">
            <p class="card-text">Develop on any EVM and Ethereum JSON-RPC compatible chain. Truffle lets you build on Ethereum, Optimism, Arbitrum, Avalanche, and much more.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Achieve scale with Layer 2</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="p-2 rainbow">
</section>

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
