{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

    <!-- Additional styles for landing page -->
    <style>

      /* Remove spacing, as we cannot hide it completely */
      .md-main__inner {
        margin: 0;
      }

      /* Hide main content for now */
      .md-content {
        display: none;
      }

      /* Hide table of contents */
      @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
          display: none;
        }
      }

      /* Hide navigation */
      @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
          display: none;
        }
      }

      /* stop page from jumping on load */
      .home-hero-container .img-fluid.home-hero{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
      }
      .home-hero-container {
        padding-top: 36.13556485355648%;
        position: relative;
        height:0;
        overflow: hidden;
      }
    </style>

<!-- Hero for landing page -->
<section class="pt-5">
    <h1 class="text-center">Sweet Tools for Smart Contracts</h1>
    <p class="text-center">The <strong>Truffle Suite</strong> gets developers from idea to dapp as comfortably as possible.</p>
    <!-- if this image changes update the .home-hero CSS rule to reflect the new aspect ratio -->
    <div class="home-hero-container">
      <img class="img-fluid home-hero" src="img/homepage-hero-sept2021.svg" alt="" />
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container p-5">
        <div class="row">
            <div class="col">
            <h2 class="text-truffle"><span class="narrow">T</span>RUFFLE</h2>
            <h5 class="color-truffle">SMART CONTRACTS MADE SWEETER</h5>
            <p>A world class development environment, testing framework and asset pipeline for blockchains using the Ethereum Virtual Machine (EVM), aiming to make life as a developer easier.</p>
            <a href="/truffle/" class="btn btn-sm btn-truffle" aria-label="Learn more about Truffle">LEARN MORE</a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/trufflesuite/truffle" class="btn btn-sm btn-truffle" aria-label="Truffle GitHub Repository">GITHUB REPO</a>
            <a href="/docs/truffle/" class="btn btn-sm btn-truffle" aria-label="Truffle Documentation">DOCS</a>

                <h2 class="text-ganache mt-5">Ganache</h2>
                <h5 class="color-ganache">ONE CLICK BLOCKCHAIN</h5>
                <p>A personal blockchain for Ethereum development you can use to deploy contracts, develop your applications, and run tests. It is available as both a desktop application as well as a command-line tool (formerly known as the TestRPC). Ganache is available for Windows, Mac, and Linux.</p>
                <a href="/ganache/" class="btn btn-sm btn-ganache" aria-label="Learn more about Ganache">LEARN MORE</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/trufflesuite/ganache" class="btn btn-sm btn-ganache" aria-label="Ganache GitHub Repository">GITHUB REPO</a>
                <a href="/docs/ganache/" class="btn btn-sm btn-ganache" aria-label="Ganache Documentation">DOCS</a>

                <h2 class="text-drizzle mt-5">dri<span class="drizzle-z-skew-1">z</span><span class="drizzle-z-skew-2">z</span>le</h2>
                <h5 class="color-drizzle">FRESH CHAIN-DATA FOR FRONT-ENDS</h5>
                <p>A collection of front-end libraries that make writing dapp front-ends easier and more predictable. The core of Drizzle is based on a Redux store, so you have access to the spectacular development tools around Redux. We take care of synchronizing your contract data, transaction data and more.</p>
                <a href="/drizzle/" class="btn btn-sm btn-drizzle" aria-label="Learn more about Drizzle">LEARN MORE</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/trufflesuite/drizzle" class="btn btn-sm btn-drizzle" aria-label="Drizzle GitHub Repository">GITHUB REPO</a>
                <a href="/docs/drizzle/" class="btn btn-sm btn-drizzle" aria-label="Drizzle Documentation">DOCS</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container p-5">
      <div class="row">
        <div class="col">
          <h2>CASE STUDIES</h2>
        </div>
      </div>

      <div class="row align-items-center justify-content-center text-center mb-2">
        <div class="col-8 col-sm-6 col-md-3 mt-5 mt-sm-3 mb-4 mb-sm-3">
          <a href="/case-studies/case-study-dish-network/">
            <img class="img-fluid" src="img/case-studies/case-study-dish-network/dish-logo.svg" alt="DISH Network" />
          </a>
        </div>
        <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
          <a href="/case-studies/case-study-microsoft-xbox/">
            <img class="img-fluid" src="img/case-studies/case-study-microsoft-xbox/xbox-logo.svg" alt="Microsoft Xbox" />
          </a>
        </div>
        <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
          <a href="/case-studies/case-study-starbucks/">
            <img class="img-fluid pl-5 pr-5" src="img/case-studies/case-study-starbucks/starbucks-logo.svg" alt="Starbucks" />
          </a>
        </div>
        <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
          <a href="/case-studies/case-study-microsoft-and-the-world-bank/">
            <img class="img-fluid" src="img/case-studies/case-study-microsoft-and-the-world-bank/msft-wb-logo.svg" alt="Microsoft & The World Bank" />
          </a>
        </div>
      </div>
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <h2>Awesome Companies Using Truffle</h2>
            </div>
        </div>

        <div class="row align-items-center justify-content-center text-center mb-2">
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art02-consensys.svg" alt="ConsenSys" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/consensys-diligence-logo.svg" alt="ConsenSys Diligence" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-5 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art01-microsoft.svg" alt="Microsoft" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art03-ey.svg" alt="Ernst & Young" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art04-airbus.svg" alt="Airbus" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art05-gd.svg" alt="General Dynamics" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art06-amazon.svg" alt="Amazon" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art07-jpmorgan.svg" alt="J.P.Morgan" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid pl-4 pr-4 sepia" src="img/home/art08-vmware.svg" alt="VMWare" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art09-shapeshift.svg" alt="ShapeShift" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid sepia" src="img/home/art10-colony.svg" alt="Colony" />
            </div>
            <div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
                <img class="img-fluid pl-4 pr-4 sepia" src="img/home/art11-amberdata.svg" alt="Amberdata" />
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container p-5">
      <div class="row text-center justify-content-center">
        <div class="col-md-10 hs-form-inline">
          <h3>SIGN UP FOR THE TRUFFLE MAILING LIST</h2>
          <p>Sign up today to be a member of the Truffle mailing list. You'll be added to our low volume mailing list which we'll
            use to communicate future changes, development ideas and allow you to shape Truffle's development.
          </p>
          <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="/js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "4795067",
              formId: "d18995c8-32bb-4b2d-bde9-3f49fb3d2837"
            });
          </script>
        </div>
      </div>
    </div>
</section>

  <section class="bg-dark text-white">
    <div class="container p-5">
      <div class="row align-items-center home-github-row">
        <div class="col-md-8">
          <h2>CONTRIBUTE TO THE TRUFFLE SUITE</h2>

          <p>We need your help! There are many ways you can help contribute to the Truffle project. Here are some ways that you
            can contribute:</p>

          <ol>
            <li>Open issues on our <a class="minty" target="_blank" rel="noopener noreferrer" href="https://github.com/trufflesuite">GitHub page</a>.</li>
            <li>Submit Pull Requests to the GitHub project - but please open an issue to discuss the feature first!</li>
            <li>Test out the Beta versions of Truffle to help us nail down issues and stomp bugs.</li>
            <li>Participate in our <a class="minty" target="_blank" rel="noopener noreferrer" href="https://github.com/orgs/trufflesuite/discussions">GitHub Discussions</a> helping out other users.</li>
          </ol>
        </div>

        <div class="col-md-4">
          <img src="img/github-logo-gradient.svg" class="img-fluid" alt="GitHub Logo" title="GitHub Logo" />
        </div>
      </div>
    </div>
</section>

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
