{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

    <!-- Additional styles for landing page -->
    <style>

      /* Remove spacing, as we cannot hide it completely */
      .md-main__inner {
        margin: 0;
      }
  
      /* Hide main content for now */
      .md-content {
        display: none;
      }
  
      /* Hide table of contents */
      @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
          display: none;
        }
      }
  
      /* Hide navigation */
      @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
          display: none;
        }
      }
    </style>

<!-- Contentful modules render -->

{% with modules = config.extra.contentful_page.home.modules %}
  {% for module in modules %}
    {% with %}
      {% set props = module %}
      <!-- {% set template = module.template %} -->
      {% set template = config.extra.module_id_parse(module.sys['content_type'].id) %}
      {% include 'partials/contentful/'+template+'.html' %}
    {% endwith %}
  {% endfor %}
{% endwith %}

<script async defer src="https://buttons.github.io/buttons.js"></script>

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}