{% extends "base.html" %}

{% block site_meta %}
    {{ super() }}
    <!-- <base href="/" /> -->
{% endblock %}

<!-- Announcement bar -->
{% block announce %}
  <a href="https://github.com/trufflesuite/ganache/releases/tag/v7.0.0" rel="nofollow">
    <strong>Ganache v7 Stable Release is ready for you to install!</strong> Try out the new <em>zero-config mainnet forking</em>!
    <!-- <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/github.svg" %}
    </span> -->
  </a>
{% endblock %}

{% block scripts %}
  <script>(function(){ var s = document.createElement('script'), e = ! document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, language : 'en', position : 'left', leadColor : '#146ff8', triggerColor : '#2c6fdd', triggerRadius : '50%', triggerPositionX : 'left', triggerPositionY : 'bottom', triggerIcon : 'wheels', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'left', triggerPositionY : 'bottom', triggerOffsetX : 10, triggerOffsetY : 10, triggerRadius : '50%' } }); }; e.appendChild(s);}());</script>
{% endblock %}
