<div class="row row-flex-left row-boxes">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxStatusIm">
      <a href="/boxes/status">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="/images/ballotin/status-banner.png" alt="truffle-box-status" onerror="javascript:this.src='/images/ballotin/loading-banner.png'">
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/status"></a><h3><a href="/boxes/status">status-im/<br/>truffle-box-status<small class="GitHubStars"></small></a><small class="GitHubStars"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fstatus-im%2Ftruffle-box-status&amp;aria-label=Star%20truffle-box%2Ftruffle-box-status%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star&amp;data-show-count=true" style="width: 77px; height: 20px; border: none;"></iframe></small></h3>

        <p>This box comes with everything you need to start using smart contracts from a react app on your mobile. Of course, testing of this box requires you to have iOS/Android device with Status installed on it.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">status</a>
          </li>
          <li>
            <a href="#">react</a>
          </li>
          <li>
            <a href="#">webpack</a>
          </li>
          <li>
            <a href="#">webapp</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxQunitorAngular">
      <a href="/boxes/angular-truffle-box">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/Quintor/angular-truffle-box/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/angular-truffle-box"><h3>Quintor/<br/>angular-truffle-box<small class="GitHubStars"><a class="github-button" href="https://github.com/Quintor/angular-truffle-box" data-icon="octicon-star" data-show-count="true" aria-label="Star Quintor/angular-truffle-box on GitHub">Star</a></small></h3></a>

        <p>This Truffle Box provides a base for working with the Truffle Framework and Angular. It provides a basic working example of the MetaCoin contracts with Angular components. This project is generated with Angular CLI.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">angular</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxEnsBid">
      <a href="/boxes/ens-bid-truffle-box">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/ens-bid/ens-bid-truffle-box/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/ens-bid-truffle-box"><h3>ens-bid/<br/>ens-bid-truffle-box<small class="GitHubStars"><a class="github-button" href="https://github.com/ens-bid/ens-bid-truffle-box" data-icon="octicon-star" data-show-count="true" aria-label="Star ens-bid/ens-bid-truffle-box on GitHub">Star</a></small></h3></a>

        <p>This box comes with everything you need to start using smart contracts on Ethereum blockchain and interact with MetaMask to send transactions.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">material-ui</a>
          </li>
          <li>
            <a href="#">react</a>
          </li>
          <li>
            <a href="#">redux</a>
          </li>
          <li>
            <a href="#">sass</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxEthVue">
      <a href="/boxes/eth-vue">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/DOkwufulueze/eth-vue/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/eth-vue"><h3>DOkwufulueze/<br/>eth-vue<small class="GitHubStars"><a class="github-button" href="https://github.com/DOkwufulueze/eth-vue" data-icon="octicon-star" data-show-count="true" aria-label="Star DOkwufulueze/eth-vue on GitHub">Star</a></small></h3></a>

        <p>A vue boilerplate for Ethereum dApps, built on Truffle 4. Uses vuex for state management, vuex-persist for local storage of app state, and vue-router for routing. Authentication functionalities are handled by Smart Contracts running on the Ethereum blockchain.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">vue</a>
          </li>
          <li>
            <a href="#">vue-router</a>
          </li>
          <li>
            <a href="#">vuex</a>
          </li>
          <li>
            <a href="#">vuex-persist</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxLimelabsAngular">
      <a href="/boxes/limelabs-angular-box">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/LimelabsTech/limelabs-angular-box/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/limelabs-angular-box"><h3>LimelabsTech/<br/>limelabs-angular-box<small class="GitHubStars"><a class="github-button" href="https://github.com/LimelabsTech/limelabs-angular-box" data-icon="octicon-star" data-show-count="true" aria-label="Star Quintor/angular-truffle-box on GitHub">Star</a></small></h3></a>

        <p>This is a fork from Quintor: I've added: SCSS instead of CSS, Upgraded the typescript as I love async/await, Added bootstrap 3, Added Axios</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">angular</a>
          </li>
          <li>
            <a href="#">axios</a>
          </li>
          <li>
            <a href="#">bootstrap</a>
          </li>
          <li>
            <a href="#">scss</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxLimelabsAngular">
      <a href="/boxes/peerai-api">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/peerism/peerai-api/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/peerai-api"><h3>peerism/<br/>peerai-api<small class="GitHubStars"><a class="github-button" href="https://github.com/peerism/peerai-api" data-icon="octicon-star" data-show-count="true" aria-label="Star Quintor/angular-truffle-box on GitHub">Star</a></small></h3></a>

        <p>Peerism's Peer.ai API built with Truffle, Node.js, Express.js, Solidity, and Ethereum TestRPC <a href="https://trello.com/b/haKEDtJ7/peerai">https://trello.com/b/haKEDtJ7/peerai</a></p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">express</a>
          </li>
          <li>
            <a href="#">jwt</a>
          </li>
          <li>
            <a href="#">mongodb</a>
          </li>
          <li>
            <a href="#">mongoose</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxReactTodo">
      <a href="/boxes/react-box-web3-todo">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/shanejonas/react-box-web3-todo/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/react-box-web3-todo"><h3>shanejonas/<br/>react-box-web3-todo<small class="GitHubStars"><a class="github-button" href="https://github.com/shanejonas/react-box-web3-todo" data-icon="octicon-star" data-show-count="true" aria-label="Star shanejonas/react-box-web3-todo on GitHub">Star</a></small></h3></a>

        <p>This box comes with everything you need to start using smart contracts from a react app. This is as barebones as it gets, so nothing stands in your way.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">react</a>
          </li>
          <li>
            <a href="#">redux</a>
          </li>
          <li>
            <a href="#">todo</a>
          </li>
          <li>
            <a href="#">webpack</a>
          </li>
          <li>
            <a href="#">webapp</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxReactDappMaterialUI">
      <a href="/boxes/react-dapp-material-ui">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/hackingbeauty/react-dapp-material-ui/blob/master/box-img-sm.png?raw=true" alt="webpack-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/react-dapp-material-ui"><h3>hackingbeauty/<br/>react-dapp-material-ui<small class="GitHubStars"><a class="github-button" href="https://github.com/hackingbeauty/react-dapp-material-ui" data-icon="octicon-star" data-show-count="true" aria-label="Star hackingbeauty/react-dapp-material-ui on GitHub">Star</a></small></h3></a>

        <p>In addition to Webpack and React, this box adds: React-Router, Redux and Material-UI for easy skinning of a Dapp.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">material</a>
          </li>
          <li>
            <a href="#">react</a>
          </li>
          <li>
            <a href="#">redux</a>
          </li>
          <li>
            <a href="#">webpack</a>
          </li>
          <li>
            <a href="#">webapp</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxScoreboard">
      <a href="/boxes/scoreboard">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/3of5of7/scoreboard/blob/master/box-img-sm.png?raw=true" alt="scoreboard" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/scoreboard"><h3>3of5of7/<br/>scoreboard<small class="GitHubStars"><a class="github-button" href="https://github.com/3of5of7/scoreboard" data-icon="octicon-star" data-show-count="true" aria-label="Star 3of5of7/scoreboard on GitHub">Star</a></small></h3></a>

        <p>Each example from the blog post series can be found within this repo. You can either look at the files in a completed state, or check out the changes that were made in a particular section by changing the branch above.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">gaming</a>
          </li>
          <li>
            <a href="#">tap</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxSvelte">
      <a href="/boxes/svelte-box">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/antony/svelte-box/blob/master/box-img-sm.png?raw=true" alt="svelte-box" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/svelte-box"><h3>antony/<br/>svelte-box<small class="GitHubStars"><a class="github-button" href="https://github.com/antony/svelte-box" data-icon="octicon-star" data-show-count="true" aria-label="Star antony/svelte-box on GitHub">Star</a></small></h3></a>

        <p>A Truffle box using SvelteJS and Rollup. This box contains everything you need to start building a smart-contract app.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">rollup</a>
          </li>
          <li>
            <a href="#">svelte</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxSvelte">
      <a href="/boxes/truffle-create-react-app">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/Charterhouse/truffle-create-react-app/blob/master/box-img-sm.png?raw=true" alt="truffle-create-react-app" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/truffle-create-react-app"><h3>Charterhouse/<br/>truffle-create-react-app<small class="GitHubStars"><a class="github-button" href="https://github.com/Charterhouse/truffle-create-react-app" data-icon="octicon-star" data-show-count="true" aria-label="Star Charterhouse/truffle-create-react-app on GitHub">Star</a></small></h3></a>

        <p>This box provides a basic integration between truffle and React app without using the eject mode of create-react-app.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">react</a>
          </li>
          <li>
            <a href="#">vscode</a>
          </li>
          <li>
            <a href="#">webapp</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxTruffleNextJS">
      <a href="/boxes/truffle-next">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/adrianmcli/truffle-next/blob/master/box-img-sm.png?raw=true" alt="truffle-next" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/truffle-next"><h3>adrianmcli/<br/>truffle-next<small class="GitHubStars"><a class="github-button" href="https://github.com/adrianmcli/truffle-next" data-icon="octicon-star" data-show-count="true" aria-label="Star adrianmcli/truffle-next on GitHub">Star</a></small></h3></a>

        <p>A boilerplate project with Truffle and Next.js</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">nextjs</a>
          </li>
          <li>
            <a href="#">react</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxTruffleNextJS">
      <a href="/boxes/truffle-react-ts-template">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/LibertyLocked/truffle-react-ts-template/blob/master/box-img-sm.png?raw=true" alt="truffle-react-ts-template" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/truffle-react-ts-template"><h3>LibertyLocked/<br/>truffle-react-ts-template<small class="GitHubStars"><a class="github-button" href="https://github.com/LibertyLocked/truffle-react-ts-template" data-icon="octicon-star" data-show-count="true" aria-label="Star LibertyLocked/truffle-react-ts-template on GitHub">Star</a></small></h3></a>

        <p>This box comes with everything you need to start using smart contracts from a React app using TypeScript.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">react</a>
          </li>
          <li>
            <a href="#">typescript</a>
          </li>
          <li>
            <a href="#">webpack</a>
          </li>
          <li>
            <a href="#">webapp</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxSvelte">
      <a href="/boxes/truffle-security">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/UtkarshGupta-CS/truffle-security/blob/master/box-img-sm.png?raw=true" alt="truffle-security" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/truffle-security"><h3>UtkarshGupta-CS/<br/>truffle-security<small class="GitHubStars"><a class="github-button" href="https://github.com/UtkarshGupta-CS/truffle-security" data-icon="octicon-star" data-show-count="true" aria-label="Star UtkarshGupta-CS/truffle-security on GitHub">Star</a></small></h3></a>

        <p>This is a Truffle Box providing the security infrastructure for your DApp backend.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">solium</a>
          </li>
          <li>
            <a href="#">security</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxTruffleVue">
      <a href="/boxes/truffle-vue">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/wespr/truffle-vue/blob/master/box-img-sm.png?raw=true" alt="truffle-vue" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/truffle-vue"><h3>wespr/<br/>truffle-vue<small class="GitHubStars"><a class="github-button" href="https://github.com/wespr/truffle-vue" data-icon="octicon-star" data-show-count="true" aria-label="Star wespr/truffle-vue on GitHub">Star</a></small></h3></a>

        <p>A <a href="http://truffleframework.com/boxes/"><code>truffle box</code></a> to serve as the foundation of any <a href="http://truffleframework.com"><code>Truffle</code></a> and <a href="https://vuejs.org/"><code>Vue.js</code></a> dApp. Comes with <a href="https://vuejs.org/"><code>Vue.js</code></a>, <a href="https://router.vuejs.org/en/"><code>vue-router</code></a>, <a href="https://vuex.vuejs.org/en/intro.html"><code>Vuex</code></a> and <a href="https://github.com/webpack-contrib/sass-loader"><code>sass-loader</code></a>. A minimalist user authentication smart contract is also provided.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">vue</a>
          </li>
          <li>
            <a href="#">vue-router</a>
          </li>
          <li>
            <a href="#">vuex</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="FeatureCard" id="BoxVueDarkChocolate">
      <a href="/boxes/vue-dark-chocolate">
        <div class="FeatureBody withImage">
          <img class="FeatureImage" src="https://github.com/kierenh/vue-dark-chocolate/blob/master/box-img-sm.png?raw=true" alt="vue-dark-chocolate" onerror="javascript:this.src='/images/ballotin/loading-banner.png'" />
        </div>
      </a>

      <footer class="BoxRundown">
        <a href="/boxes/vue-dark-chocolate"><h3>kierenh/<br/>vue-dark-chocolate<small class="GitHubStars"><a class="github-button" href="https://github.com/kierenh/vue-dark-chocolate" data-icon="octicon-star" data-show-count="true" aria-label="Star kierenh/vue-dark-chocolate on GitHub">Star</a></small></h3></a>

        <p>A truffle box that comes with everything you need to start using smart contracts from a Vue App with Bootstrap styling and components. Supporting frameworks include Vuex, Vue-Router &amp; Bootstrap 4 (via Bootstrap-Vue) and webpack. The sample uses webpack-dev-server for hot-reloading or you can build and serve from express.</p>

        <ul class="BoxTagsList">
          <li>
            <a href="#">vue</a>
          </li>
          <li>
            <a href="#">vue-bootstrap</a>
          </li>
          <li>
            <a href="#">vue-router</a>
          </li>
        </ul>
      </footer>
    </section>
  </div>
</div>
