<% include ../_includes/typogr %>
<!doctype html>
<html lang="en">
  <% include ../_includes/head %>
  <body>
    <section class="Tutorials">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <%- include ../_includes/truffle_logo %>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/docs">Documentation</a></li>
              <li><a class="active" href="/tutorials">Tutorials</a></li>
              <li><a href="<%= service.github %>">Github</a></li>
              <li><a href="/community">Community</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <section class="MainContent">
        <div class="container-fluid">
          <div class="row">
            <%- yield %>
          </div>
        </div>
        <footer class="container">
          <p class="text-center">See a way to make this page better? <a href="<%="https://github.com/" + service.contributing + "/edit/master/_site/public/" + current.path.join('/') + ".md" %>">Edit here &rarr;</a></p>
        </footer>
      </section>
    </section>
    <% include ../_includes/scripts %>
    <% include ../_includes/analytics %>
  </body>
</html>
