<table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th class="row-header freezebar-origin-ltr"></th>
            <th id="1665344402C0" style="width:90px" class="column-headers-background">A</th>
            <th id="1665344402C1" style="width:240px" class="column-headers-background">B</th>
            <th id="1665344402C2" style="width:227px" class="column-headers-background">C</th>
            <th id="1665344402C3" style="width:204px" class="column-headers-background">D</th>
            <th id="1665344402C4" style="width:204px" class="column-headers-background">E</th>
            <th id="1665344402C5" style="width:204px" class="column-headers-background">F</th>
            <th id="1665344402C6" style="width:100px" class="column-headers-background">G</th>
            <th id="1665344402C7" style="width:100px" class="column-headers-background">H</th>
        </tr>
    </thead>
    <tbody>
        <tr style='height:55px;'>
            <th id="1665344402R0" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">1</div>
            </th>
            <td class="s0" dir="ltr"><span style="font-weight:bold;">Friday</span></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s2"></td>
            <td class="s2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R1" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">2</div>
            </th>
            <td class="s3" dir="ltr"></td>
            <td class="s4" dir="ltr"><span style="font-weight:bold;">Room 104 (102 max)</span></td>
            <td class="s4" dir="ltr"><span style="font-weight:bold;">Room 302/303 (36 max)</span></td>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Room 102 (24 max)</span></td>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Room 306 (24 max)</span></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R2" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">3</div>
            </th>
            <td class="s6" dir="ltr">8:30 AM -</td>
            <td class="s7" dir="ltr" rowspan="2">Ben Burns<br>Truffle Crash Course for Beginners</td>
            <td class="s7" dir="ltr" rowspan="2">Josh Quintal + Adrian Li<br>Using Drizzle to build dapps</td>
            <td class="s8" dir="ltr" rowspan="2">Trevor Clarke<br>I wrote my first smart contract, now what?</td>
            <td class="s7" dir="ltr" rowspan="2">Mike Seese<br>It&#39;s a trap! Use forking within Ganache to check for
                traps without the risk</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R3" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">4</div>
            </th>
            <td class="s6" dir="ltr">- 12:00 PM</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:24px;'>
            <th id="1665344402R4" style="height: 24px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 24px;">5</div>
            </th>
            <td class="s10" dir="ltr"><span style="font-weight:bold;">12:00 PM- 1:00 PM</span></td>
            <td class="s11" dir="ltr"><span style="font-weight:bold;color:#000000;">Lunch</span></td>
            <td class="s11" dir="ltr"><span style="font-weight:bold;color:#000000;">Lunch</span></td>
            <td class="s11" dir="ltr"><span style="font-weight:bold;color:#000000;">Lunch</span></td>
            <td class="s11" dir="ltr"><span style="font-weight:bold;color:#000000;">Lunch</span></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R5" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">6</div>
            </th>
            <td class="s6" dir="ltr">1:00 PM -</td>
            <td class="s7" dir="ltr" rowspan="2">Nick D&#39;Andrea + Elena Dimitrova + Friends<br>Hands-On: Upgrade to
                v5 with Colony and Truffle</td>
            <td class="s8" dir="ltr" rowspan="2">Michael Lewellen<br>Testing Ethereum Smart Contracts</td>
            <td class="s8" dir="ltr" rowspan="2">Josselin Feist<br>Automated Smart Contracts Audit</td>
            <td class="s8" dir="ltr" rowspan="2">Mick Ayzenberg<br>Smart Contract &quot;Capture The Flag&quot; Workshop</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R6" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">7</div>
            </th>
            <td class="s12" dir="ltr">- 4:30 PM</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R7" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">8</div>
            </th>
            <td class="s4" dir="ltr"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R8" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">9</div>
            </th>
            <td class="s14" dir="ltr"><span style="font-weight:bold;">Saturday</span></td>
            <td class="s15"></td>
            <td class="s15"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:33px;'>
            <th id="1665344402R9" style="height: 33px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 33px;">10</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Time</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Plenary</span></td>
            <td class="s5" dir="ltr"></td>
            <td></td>
            <td class="s17" dir="ltr"></td>
            <td></td>
            <td class="s18" dir="ltr"></td>
            <td class="s19" dir="ltr"></td>
        </tr>
        <tr style='height:30px;'>
            <th id="1665344402R10" style="height: 30px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 30px;">11</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Location</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Pavillion Ballroom</span></td>
            <td class="s5" dir="ltr"></td>
            <td></td>
            <td class="s17" dir="ltr"></td>
            <td class="s20" dir="ltr"></td>
            <td class="s18" dir="ltr"></td>
            <td class="s19" dir="ltr"></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R11" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">12</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">8:30 AM</span></td>
            <td class="s21" dir="ltr"><span style="color:#000000;">Yorke Rhodes<br>Opening Remarks<br></span></td>
            <td class="s22" dir="ltr">10 mins</td>
            <td class="s23 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 610px; left: -1px;">Used headshot Yorke has used previously
                    at other conferences</div>
            </td>
            <td class="s24" dir="ltr"></td>
            <td class="s25"></td>
            <td class="s25"></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R12" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">13</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">8:40 AM</span></td>
            <td class="s26" dir="ltr">Tim Coulter<br> Keynote</td>
            <td class="s22" dir="ltr">20 mins</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R13" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">14</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">9:00 AM</span></td>
            <td class="s26" dir="ltr">Joe Lubin <br>Keynote</td>
            <td class="s22" dir="ltr">30 mins</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R14" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">15</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">9:30 AM</span></td>
            <td class="s26" dir="ltr">Tim Coulter + Joe Lubin<br>Fireside Chat</td>
            <td class="s22" dir="ltr">30 mins</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R15" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">16</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">10:00 AM</span></td>
            <td class="s26" dir="ltr">Product Updates from Truffle</td>
            <td class="s22" dir="ltr">20 mins</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R16" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">17</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">10:20 AM</span></td>
            <td class="s27" dir="ltr"><span style="font-weight:bold;">Coffee Break</span></td>
            <td class="s22" dir="ltr">10 mins</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R17" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">18</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">10:30 AM</span></td>
            <td class="s28" dir="ltr"><span style="font-family:arial;font-weight:400;color:#000000;">Brandon Arvanaghi</span></td>
            <td class="s22" dir="ltr">15 Mins</td>
            <td class="s20" dir="ltr">*Get Gemini to sponsor</td>
            <td class="s23 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 406px; left: -1px;">No card, keeps announcement a surprise/
                    called </div>
            </td>
            <td class="s25"></td>
            <td class="s25"></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R18" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">19</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">10:45 AM</span></td>
            <td class="s21" dir="ltr"><span style="color:#000000;">Brian Behlendorf </span></td>
            <td class="s22" dir="ltr">30 Mins</td>
            <td class="s20" dir="ltr">*Need to check w/ Brian</td>
            <td class="s23 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 406px; left: -1px;">No card, keeps announcement a surprise,
                    confirm topic</div>
            </td>
            <td class="s25"></td>
            <td class="s25"></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R19" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">20</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">11:15 PM</span></td>
            <td class="s21" dir="ltr"><span style="color:#000000;">David Bruela<br>How a Microsoft Engineer Uses
                    Truffle on Customer Engagements</span></td>
            <td class="s22" dir="ltr">30 Mins</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R20" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">21</div>
            </th>
            <td class="s29" dir="ltr"><span style="font-weight:bold;">11:45 AM</span></td>
            <td class="s30 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 239px; left: -3px;"><span style="color:#000000;">Elena
                        Dimitrova<br>Wiring Upgradable Contracts</span></div>
            </td>
            <td class="s22" dir="ltr">30 Mins</td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:32px;'>
            <th id="1665344402R21" style="height: 32px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 32px;">22</div>
            </th>
            <td class="s31" dir="ltr"><span style="font-weight:bold;">12:15 PM - 1:25PM </span></td>
            <td class="s27" dir="ltr"><span style="font-weight:bold;">Lunch</span></td>
            <td class="s22"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R22" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">23</div>
            </th>
            <td class="s32" dir="ltr"></td>
            <td class="s33" dir="ltr">Saturday, Oct 6</td>
            <td class="s34"></td>
            <td class="s34"></td>
            <td class="s34"></td>
            <td class="s15"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:30px;'>
            <th id="1665344402R23" style="height: 30px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 30px;">24</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Time</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Track 1</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Track 2</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Track 3</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Track 4</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Track 5</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:30px;'>
            <th id="1665344402R24" style="height: 30px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 30px;">25</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Name</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Willamette (50 Max)</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">St. John&#39;s (50 Max)</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Pearl (50 Max)</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Hawthorne (50 Max)</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Mill Ends (50 Max)</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:30px;'>
            <th id="1665344402R25" style="height: 30px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 30px;">26</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Location</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Pavillion Ballroom</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Broadway I</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Broadway II</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Broadway III</span></td>
            <td class="s16" dir="ltr"><span style="font-weight:bold;">Broadway IV</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:58px;'>
            <th id="1665344402R26" style="height: 58px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 58px;">27</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">1:30 PM</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Alex Beregszaszi<br></span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Brandon Arvanaghi<br>Effective smart contract unit
                    testing through Truffle</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Eric Weinstein (do not move)<br>Internet
                    Cats, Virtual Worlds, and the Future of Collecting</span></td>
            <td class="s7" dir="ltr"><span style="color:#000000;">Josh Quintal + Adrian Li<br>The future of Drizzle and
                    Truffle front-ends</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">James Levy (no not move)<br>Has Security Been Solved?</span></td>
            <td class="s9"></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R27" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">28</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">2:05 PM</span></td>
            <td class="s7" dir="ltr"><span style="color:#000000;">Mike Seese<br>Just when you thought Ganache
                    couldn&#39;t get any sweeter</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Sally MacFarlane<br>Truffle + Pantheon: Previewing
                    the newest Eth Client</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Randall Kanna (do not move)<br>React + Truffle + IPFS</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Alex Sherbuck<br>Adoption through Consensus,
                    Corporations &amp; Charities</span></td>
            <td class="s9"></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R28" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">29</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">2:40 PM</span></td>
            <td class="s35" dir="ltr" rowspan="2"><span style="color:#000000;">Nick D&#39;Andrea<br>Dissect the
                    Debugger</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Chris Smith<br>Truffle Test Strategies</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Matias Seijas<br>Exploring Contract
                    Upgrade Patterns</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Christian Ruink<br>Web3 Design Principles
                    with Drizzle</span></td>
            <td class="s36" dir="ltr" rowspan="2"><span style="font-family:arial;font-weight:400;color:#000000;">Destry
                    Saul<br>ECRecover and You: Using Signed Messages for Flexibility and Security</span></td>
            <td class="s9"></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R29" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">30</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">3:10 PM</span></td>
            <td class="s9"></td>
            <td></td>
        </tr>
        <tr style='height:27px;'>
            <th id="1665344402R30" style="height: 27px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 27px;">31</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">3:40 PM</span></td>
            <td class="s27" dir="ltr"><span style="font-weight:bold;color:#000000;">Snack + Coffee Break</span></td>
            <td class="s27" dir="ltr"><span style="font-weight:bold;color:#000000;">Snack + Coffee Break</span></td>
            <td class="s27" dir="ltr"><span style="font-weight:bold;color:#000000;">Snack + Coffee Break</span></td>
            <td class="s27" dir="ltr"><span style="font-weight:bold;color:#000000;">Snack + Coffee Break</span></td>
            <td class="s27" dir="ltr"><span style="font-weight:bold;color:#000000;">Snack + Coffee Break</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R31" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">32</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">3:50 PM</span></td>
            <td class="s7" dir="ltr"><span style="color:#000000;">Scott Olson &amp; Ben Burns<br>A Day in the Life @
                    Truffle</span></td>
            <td class="s37" dir="ltr"><span style="color:#000000;">Scott Street<br>Tailor-Made Smart Contract
                    Interaction</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Shuvendu Lahiri + Shuo Chen<br>Smart Contract
                    Analysis and Verification for the Azure Blockchain Workbench</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Brian Wheeler<br>The Web3 Browser War: Making dApps
                    compatible with many different Ethereum wallets.</span></td>
            <td class="s37" dir="ltr"><span style="color:#000000;">Henry Sraigman + Martin Coll<br>RSK: Smart contracts
                    on Bitcoin</span></td>
            <td class="s38" dir="ltr"></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R32" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">33</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">4:25 PM</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Bernhard Mueller + Tom Lindeman<br>Truffle
                    &lt;&gt; Mythril integration 2.0</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Thomas Bertani<br>Using Oraclize in your
                    smart contract: from zero to hero</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Roman Storm<br>Access Control List using
                    Merkle Proofs</span></td>
            <td class="s36" dir="ltr" rowspan="2"><span style="font-family:arial;font-weight:400;color:#000000;">Roderik
                    van der Veer<br>How we use Truffle as a basis to provide exceptional developer experience in the
                    application sphere</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Joseph Schiarizzi<br>Blockchains are
                    People: Making Fun Things for In-Person Interactions</span></td>
            <td class="s39" dir="ltr"></td>
            <td class="s13"></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R33" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">34</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">4:55 PM</span></td>
            <td class="s40" dir="ltr"></td>
            <td class="s8" dir="ltr"></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R34" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">35</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">5:30 PM</span></td>
            <td class="s8" dir="ltr">TRUFFLE ANNOUNCEMENT?</td>
            <td class="s22" dir="ltr">Return to Pavillion Ballroom</td>
            <td class="s22" dir="ltr">Return to Pavillion Ballroom</td>
            <td class="s22" dir="ltr">Return to Pavillion Ballroom</td>
            <td class="s22" dir="ltr">Return to Pavillion Ballroom</td>
            <td class="s17" dir="ltr"></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R35" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">36</div>
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R36" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">37</div>
            </th>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td class="s13"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R37" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">38</div>
            </th>
            <td class="s41" dir="ltr"><span style="font-weight:bold;">Sunday</span></td>
            <td class="s42" dir="ltr">Sunday, Oct 7</td>
            <td class="s34"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td class="s1"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R38" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">39</div>
            </th>
            <td class="s22" dir="ltr"></td>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Track 1</span></td>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Track 2</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R39" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">40</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Time</span></td>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Skyline II</span></td>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">Skyline I</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R40" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">41</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">8:30 AM</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Angello Pozo<br>GraphQL and Ethereum</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Kevin Weiler<br>DevOps for Decentralized Applications</span></td>
            <td class="s43" dir="ltr"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R41" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">42</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">9:00 AM</span></td>
            <td class="s8" dir="ltr"></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Eric Berry<br>Incentivizing and Sustaining Open
                    Source</span></td>
            <td class="s23 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 610px; left: -1px;">Card in folder, but waiting on
                    confirmation of Weija as presenter</div>
            </td>
            <td class="s44"></td>
            <td class="s25"></td>
            <td class="s25"></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R42" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">43</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">9:30 AM</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">John Egan<br>Mobile First: Crafting Ethereum
                    Applications for the iOS App Store</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Alan Krassowski and Scott Bigelow <br><br>Unobvious
                    Ethereum Hacks</span></td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R43" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">44</div>
            </th>
            <td class="s45" dir="ltr"><span style="font-weight:bold;">10:00 AM</span></td>
            <td class="s46" dir="ltr"><span style="color:#000000;">Break</span></td>
            <td class="s46" dir="ltr"><span style="color:#000000;">Break</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R44" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">45</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">10:15 AM</span></td>
            <td class="s36" dir="ltr"><span style="font-family:arial;font-weight:400;color:#000000;">Will Villanueva<br>The
                    building blocks of the P2P economy</span></td>
            <td class="s28" dir="ltr">Will Scott <span style="font-weight:bold;">(do not move)</span><br>Contract
                continuous deployment and integrated truffle testing<br></td>
            <td class="s9" dir="ltr">*Will arrives in PDX at 8:30am</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R45" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">46</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">10:45 AM</span></td>
            <td class="s8" dir="ltr" rowspan="2"><span style="color:#000000;">Evan Sultanik<br>Introducing Etheno: a
                    Tool for Simplifying Formal Methods and Differential Testing</span></td>
            <td class="s36" dir="ltr" rowspan="2"><span style="font-family:arial;font-weight:400;color:#000000;">Griffin
                    Hotchkiss + Ryan Christoffersen<br>Build with Colony: Rapid dApp development</span></td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R46" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">47</div>
            </th>
            <td class="s5" dir="ltr"></td>
            <td class="s9"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R47" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">48</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">11:45 AM</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Austin Fatheree<br>Building Stateless Coins With
                    Merkle Trees</span></td>
            <td class="s8" dir="ltr"><span style="color:#000000;">Rosco Kalis<br>Using Solidity Events for Unit Testing</span></td>
            <td class="s9"></td>
            <td class="s17" dir="ltr"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style='height:55px;'>
            <th id="1665344402R48" style="height: 55px;" class="row-headers-background">
                <div class="row-header-wrapper" style="line-height: 55px;">49</div>
            </th>
            <td class="s5" dir="ltr"><span style="font-weight:bold;">12:15 PM</span></td>
            <td class="s26">Closing Remarks</td>
            <td class="s26">Return to Skyline II</td>
            <td></td>
            <td class="s17" dir="ltr"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>