@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  scroll-behavior: auto;
}

:root {
  --milk: #F6F5EF;
  --cream: #F2EDE7;
  --foil: #6d6d6d;
  --light-chocolate: #5e464d;
  --dark-chocolate: #33262A;
  --mint: #3fe0c5;
  --ganache: #e4a663;
  --drizzle: #e911bd;

  --md-primary-fg-color:        var(--milk);
  --md-default-fg-color--light: var(--dark-chocolate);
  --md-primary-fg-color--light: var(--light-chocolate);
  --md-default-fg-color--lightest: var(--light-chocolate);  
  --md-primary-fg-color--dark:  var(--light-chocolate);
  --md-primary-bg-color:        var(--dark-chocolate);

  --md-typeset-a-color: var(--dark-chocolate);

  --bs-body-color: var(--dark-chocolate);
  --bs-body-bg: var(--cream);
  --bs-dark: var(--dark-chocolate);
  --bs-body-font-size: 0.8rem;
  --bs-dark-rgb: 51,38,42;
}

[data-md-color-scheme="chocolatey"] {
  --md-primary-fg-color:        var(--light-chocolate);
  --md-primary-fg-color--light: var(--cream);
  --md-default-fg-color--light: var(--foil);
  --md-default-fg-color--lightest: var(--milk);    
  --md-primary-fg-color--dark:  var(--foil);
  --md-primary-bg-color:        var(--milk);

  --md-typeset-a-color: var(--cream);

  --bs-body-color: var(--milk);
  --bs-body-bg: var(--dark-chocolate);
  --bs-dark: var(--dark-chocolate);
  --bs-dark-rgb: 51,38,42;
}

a, .md-typeset a, .md-typeset .alert a {
  text-decoration: dashed;
  color: var(--md-primary-fg-color--light);
}

.md-typeset a {
  color: var(--ganache);
}

.md-announce__inner a {
  color: var(--cream);
}

a:hover {
  text-decoration: none;
  color: var(--mint);
}

pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.5em;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title,
  .md-nav--primary .md-nav__title~.md-nav__list
  {
    background-color: var(--bs-body-bg);
  }

  .md-nav__title .md-nav__title {
    background-color: var(--bs-body-bg);
  }

  .md-nav--primary .md-nav__item {
    border-top: 0px;
    background-color: var(--bs-body-bg);
    border-top-color: var(--md-primary-fg-color);
  }
}

.md-nav__link, .md-nav__item .md-nav__link--active,
.md-nav--primary .md-nav__item--active>.md-nav__link {
  color: var(--md-primary-fg-color--light);
}

/* material overrides */

.md-ellipsis, .md-nav__title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400 !important;
}

.md-header__topic:first-child {
  font-weight: 400;
}

[dir=ltr] .md-header__title {
  margin-left: 0rem;
}

.mdx-hero__image {
  display: block;
  margin: auto;
  width: 800px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mdx-hero__content {
  margin: 2rem 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.md-tabs__link {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.mdx-hero__content h1 {
  text-transform: uppercase;
  margin-bottom: 0.1rem;
}

.mdx-hero__content p {
  font-family: sans-serif;
}

.mdx-hero__buttons {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 2rem;
}

.md-search-result__more summary {
  color: var(--md-primary-fg-color--light);
}

.md-search-result__item, .md-search-result__meta {
  background-color: var(--bs-body-bg);
  color: var(--md-primary-fg-color--light);
}

@media screen and (min-width: 60em) {
  .md-search__form:hover, .md-search__input {
    color: var(--md-primary-fg-color--dark);
  }
  .md-search__input:hover::-webkit-input-placeholder {
      color: var(--md-primary-bg-color);
  }
  /* Firefox < 19 */
  .md-search__input:hover:-moz-placeholder {
      color: var(--md-primary-bg-color);
  } 
  /* Firefox > 19 */
  .md-search__input:hover::-moz-placeholder {
      color: var(--md-primary-bg-color);
  } 
  /* Internet Explorer 10 */
  .md-search__input:hover:-ms-input-placeholder {
      color: var(--md-primary-bg-color);
  } 
}

.md-footer {
  background-color: var(--bs-dark);
  color: var(--md-primary-fg-color--light);
}

/* custom */

.sepia {
  filter: invert(0.5) sepia(1);
}

.minty {
  color: var(--mint);
}

.green-border {
  border: solid 0.2rem var(--mint);
}

.text-ganache {
  font-family: 'Grand Hotel', serif;
  text-transform: none;
}

.text-truffle {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  letter-spacing: .125em;
  text-transform: uppercase;
}

.text-drizzle {
  font-family: 'Varela Round', sans-serif;
  text-transform: lowercase;
}

.drizzle-z-skew-1 {
  display: inline-block;
  transform: skewY(-20deg) translateX(.06em);
}

.drizzle-z-skew-2 {
  display: inline-block;
  transform: skewY(-20deg) translate(-.06em, .26em);
}

.docs-badges {
  height: auto;
  margin-top: .5rem;
  margin-right: .5rem;
}

.bd-milk-chocolate {
  background-color: var(--light-chocolate);
  color: var(--milk);
}

/* bootstrap overrides */

.card {
  background-color: var(--md-primary-fg-color);
}

.btn {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.btn-truffle {
  color: var(--dark-chocolate);
  background-color: var(--mint);
  border-color: var(--mint);
}

.btn-ganache {
  color: var(--dark-chocolate);
  background-color: var(--ganache);
  border-color: var(--ganache);
}

.btn-drizzle {
  color: var(--milk);
  background-color: var(--drizzle);
  border-color: var(--drizzle);;
}

.alert-info {
  color: var(--dark-chocolate);
  background-color: var(--mint);
  border-color: var(--mint);
}

.alert-warning {
  color: var(--dark-chocolate);
  background-color: var(--ganache);
  border-color: var(--ganache);
}

.alert-danger {
  color: var(--milk);
  background-color: var(--drizzle);
  border-color: var(--drizzle);
}

/* HubSpot Matching */
.hs-form label {
  margin-bottom: 0.25rem;
}
.hs-form label .hs-form-required {
  color: #d80b0b;
}
.hs-form input[type="text"], .hs-form input[type="email"] {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f8f5f0;
  border: none;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}
.hs-form input[type="text"]:focus, .hs-form input[type="email"]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #3fe0c5;
  box-shadow: 0 0 0 0.2rem rgba(63, 224, 197, 0.5);
  outline: none;
}
.hs-form input[type="checkbox"] {
  margin-right: 0.5em;
}
.hs-form input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  background: #3fe0c5;
  color: #5e464d;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.hs-form input[type="submit"]:hover {
  background: #fff;
  color: #5e464d;
}
.hs-form .legal-consent-container {
  font-size: 0.85rem;
}
.hs-form ul.hs-error-msgs {
  margin-top: -0.75rem;
  color: #d80b0b;
}
footer .hs-form label {
  margin-bottom: 0.25rem;
}
footer .hs-form label .hs-form-required {
  color: #e35353;
}
footer .hs-form ul.hs-error-msgs {
  margin-top: -0.75rem;
  color: #e35353;
}
.hs-form-inline .hs-form .hs-form-field {
  display: inline-block;
}
.hs-form-inline .hs-form .hs-email {
  margin-right: 0.5rem;
}
.hs-form-inline .hs-form .hs-fieldtype-booleancheckbox {
  display: block;
}
.hs-form-inline .hs-form .inputs-list {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (max-width: 767.98px) {
  .hs-form-inline .hs-form .hs-form-field {
    display: block;
 }
}
.hs-form-docs input[type="text"], .hs-form-docs input[type="email"] {
  background-color: #f8f5f0;
  color: #495057;
}

.truffle-feature-row h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.5;
}
.truffle-feature-row img {
  max-height: 400px;
}
@media (max-width: 767.98px) {
  .truffle-feature-row img {
    max-height: 260px;
    margin-bottom: 2rem;
 }
}

/* custom */

.feature-icon-sm {
  max-width: 7.5rem;
}

.feature-icon-md {
  max-width: 11.5rem;
}

.feature-icon-lg {
  max-width: 15rem;
}

.banner-taste {
  position: relative;
  background-image: url("/img/truffle-accent.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10rem 0;
  margin-top: 4rem;
}
.banner-taste.truffle {
  background-image: url("/img/truffle-accent.svg");
  background-position: -5% center;
  background-size: 100vh;
  border-top: 1px solid #3fe0c5;
}
.banner-taste.ganache {
  background-image: url("/img/ganache-accent.png");
  background-repeat: repeat-x;
}
.banner-taste.drizzle {
  background-image: url("/img/drizzle-accent.svg");
  background-position: -5% center;
  background-size: 80vh;
  border-top: 1px solid #e911bd;
}
