@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  scroll-behavior: auto;
}

:root {
  --milk: #F6F5EF;
  /* mint, but transparent*/
  --transparent-mint: #3fe0c533;
  --dark-mint: #0C5A4E;
  --cream: #F2EDE7;
  --foil: #6d6d6d;
  --light-chocolate: #5e464d;
  --dark-chocolate: #33262A;
  --mint: #3fe0c5;
  --ganache: #e4a663;
  --drizzle: #e911bd;

  --md-accent-fg-color:        var(--dark-mint);
  --md-primary-fg-color:        var(--milk);
  --md-default-fg-color--light: var(--dark-chocolate);
  --md-primary-fg-color--light: var(--light-chocolate);
  --md-default-fg-color--lightest: var(--light-chocolate);  
  --md-primary-fg-color--dark:  var(--light-chocolate);
  --md-primary-bg-color:        var(--dark-chocolate);
  --md-accent-fg-color--transparent: var(--transparent-mint);
  --md-typeset-a-color: var(--dark-chocolate);

  --bs-body-color: var(--dark-chocolate);
  --bs-body-bg: var(--cream);
  --bs-dark: var(--dark-chocolate);
  --bs-body-font-size: 0.8rem;
  --bs-dark-rgb: 51,38,42;
}

[data-md-color-scheme="chocolatey"] {
  --md-primary-fg-color:        var(--light-chocolate);
  --md-primary-fg-color--light: var(--cream);
  --md-default-fg-color--light: var(--foil);
  --md-default-fg-color--lightest: var(--milk);    
  --md-primary-fg-color--dark:  var(--foil);
  --md-primary-bg-color:        var(--milk);

  --md-typeset-a-color: var(--cream);

  --bs-body-color: var(--milk);
  --bs-body-bg: var(--dark-chocolate);
  --bs-dark: var(--dark-chocolate);
  --bs-dark-rgb: 51,38,42;
}

a, .md-typeset a, .md-typeset .alert a {
  /*
    it would be nice if we could use one of our primary brand colors (truffle, ganache, drizzle), or even
    the "light-chocolate" color, but these are all too lights against our cream background. So we underline
    links (which is better for accessibility anyway) and use the dark version of mint.
  */
  text-decoration: underline;
  color: var(--md-accent-fg-color);
}
a.link-card, nav a, .footer-naviation a {
  /* the footer links are obviously links, so we don't need the underline signal */
  text-decoration: none;
}

@media screen and (max-width: 76.1875em) {
  [data-md-toggle=drawer]:not(:checked)~.md-container .md-sidebar--primary {
    display: none;
  }
  [data-md-toggle=drawer]:checked~.md-container .md-sidebar--primary {
    display: block;
  }
  /*
  make the nav keyboard navigatable. without this hidden parts of the nav drawer are focusable, but invisible.
  */
  .md-nav__toggle~.md-nav{
    visibility: hidden;
  }
  .md-nav__toggle:checked~.md-nav{
    visibility: visible;
  }  
}
.md-banner {
  text-align: center;
}
.md-banner a:hover, .md-banner a:focus {
  color: var(--mint);
}
.md-header__button {
  outline-color: var(--mint);
}

.md-typeset a {
  color: var(--md-accent-fg-color);
}
.md-banner .md-typeset a {
  color: var(--ganache);
}

.md-announce__inner a {
  color: var(--cream);
}
.md-social{
  text-align: right;
}

a:hover {
  color: var(--dark-mint);
}

pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.5em;
}
.md-clipboard {
  margin: 1em 1em 0 0;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title,
  .md-nav--primary .md-nav__title~.md-nav__list
  {
    background-color: var(--bs-body-bg);
  }

  .md-nav__title .md-nav__title {
    background-color: var(--bs-body-bg);
  }

  .md-nav--primary .md-nav__item {
    border-top: 0px;
    background-color: var(--bs-body-bg);
    border-top-color: var(--md-primary-fg-color);
  }
}

.md-nav__link, .md-nav__item .md-nav__link--active,
.md-nav--primary .md-nav__item--active>.md-nav__link {
  color: var(--md-primary-fg-color--light);
}
.md-nav--primary .md-nav__link {
  /*
    make sure the focus outline is completely visible when navigatin with the keyboard.
  */
  outline-offset: -1px;
}

/* material overrides */

.md-ellipsis, .md-nav__title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400 !important;
}

.md-header__topic:first-child {
  font-weight: 400;
}

[dir=ltr] .md-header__title {
  margin-left: 0rem;
}

.mdx-hero__image {
  display: block;
  margin: auto;
  width: 800px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mdx-hero__content {
  margin: 2rem 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.md-tabs__link {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  /* ensure there is enough contrast to improve legibility */
  opacity: .85;
  color:var(--md-primary-fg-color--light);
}
.md-tabs__link--active{
  opacity: 1;
}

.mdx-hero__content h1 {
  text-transform: uppercase;
  margin-bottom: 0.1rem;
}

.mdx-hero__content p {
  font-family: sans-serif;
}

.mdx-hero__buttons {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 2rem;
}

.md-search-result__more summary {
  color: var(--md-primary-fg-color--light);
}

.md-search-result__item, .md-search-result__meta, .md-search-result__link {
  background-color: var(--bs-body-bg);
  color: var(--md-primary-fg-color--light);
}
.md-search-result__more summary:is(:focus,:hover),
.md-search-result__link:hover {
  color: var(--md-primary-bg-color);
}
.md-search-result mark {
  /*
    prevent the use of the truffle blue highlight on search result matches,
    as it is difficult to read on our light background
  */
  color: var(--md-primary-bg-color);
  /* reset the padding because: why would this have padding?!?! */
  padding: 0;
}

.md-search__input::placeholder {
  /* make sure contrast is high enough */
  color: #2B2B2B;
}

.md-search__form:focus-within {
  outline: var(--mint) 3px auto;
}

@media screen and (min-width: 60em) {
  .md-search__form:hover, .md-search__input {
    color: var(--md-primary-fg-color--dark);
  }
  .md-search__input:hover:not(:focus) {
    /*
      don't make the background invisible on hover, as it makes the form border invisible.
      clickable elements with no discernible end make for a bad experience.
      without this line the background of the input form matches the background of the page.
    */
    background-color: rgba(0,0,0,.1) !important;
  }
  .md-search__input:hover::-webkit-input-placeholder {
      color: var(--md-primary-bg-color);
  }
  /* Firefox < 19 */
  .md-search__input:hover:-moz-placeholder {
      color: var(--md-primary-bg-color);
  } 
  /* Firefox > 19 */
  .md-search__input:hover::-moz-placeholder {
      color: var(--md-primary-bg-color);
  } 
  /* Internet Explorer 10 */
  .md-search__input:hover:-ms-input-placeholder {
      color: var(--md-primary-bg-color);
  } 
}

.md-footer {
  background-color: var(--bs-dark);
  color: var(--md-primary-fg-color--light);
}
.md-footer a:hover {
  color: var(--milk);
}

/* custom */
a.link-card {
  color: var(--md-primary-fg-color--dark);
}
a.link-card:hover {
  color: var(--md-primary-fg-color--light);
}

.sepia {
  filter: invert(0.5) sepia(1);
}

.minty {
  color: var(--mint);
}

.green-border {
  border: solid 0.2rem var(--mint);
}

.text-ganache {
  font-family: 'Grand Hotel', serif;
  text-transform: none;
}

.text-truffle {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  letter-spacing: .125em;
  text-transform: uppercase;
}

.text-drizzle {
  font-family: 'Varela Round', sans-serif;
  text-transform: lowercase;
}

.drizzle-z-skew-1 {
  display: inline-block;
  transform: skewY(-20deg) translateX(.06em);
}

.drizzle-z-skew-2 {
  display: inline-block;
  transform: skewY(-20deg) translate(-.06em, .26em);
}


.bd-milk-chocolate {
  background-color: var(--light-chocolate);
  color: var(--milk);
}

/* bootstrap overrides */

input:focus {
  /* an outline is required for accessibility */
  outline: solid 2px var(--mint);
}

.card {
  background-color: var(--md-primary-fg-color);
}
a.link-card:is(:hover, :focus, :focus-visible) {
  outline: none; /* outline is on the inner .card */
}
a.link-card:is(:hover, :focus, :focus-visible) > .card {
  outline: 2px solid var(--mint);
  box-shadow:0 0 5px rgba(0,0,0,.2);
}

.btn {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  /* separate buttons to ensure click targets are easy to hit */
  margin-right:.25em;
  transition: all .1 ease-in-out;
}
.btn:hover {
  /* a darker version of dark-chocolate to increase contrast against the drizzle pink for better accessibility */
  color: #1A1416;
  filter: brightness(110%);
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

.btn-truffle {
  color: var(--dark-chocolate);
  background-color: var(--mint);
  border-color: var(--mint);
}
.btn:focus{
  box-shadow: 0 0 0 .25rem var(--mint);
}
.btn-truffle:focus {
  box-shadow: 0 0 0 .25rem var(--drizzle);
}
.btn-drizzle:focus {
  box-shadow: 0 0 0 .25rem var(--ganache);
}

.btn-ganache {
  color: var(--dark-chocolate);
  background-color: var(--ganache);
  border-color: var(--ganache);
}

.btn-drizzle {
  /* a darker version of dark-chocolate to increase contrast against the drizzle pink for better accessibility */
  color: #1A1416;
  background-color: var(--drizzle);
  border-color: var(--drizzle);;
}

.alert-info {
  color: var(--dark-chocolate);
  background-color: var(--mint);
  border-color: var(--mint);
}

.alert-warning {
  color: var(--dark-chocolate);
  background-color: var(--ganache);
  border-color: var(--ganache);
}

.alert-danger {
  color: var(--milk);
  background-color: var(--drizzle);
  border-color: var(--drizzle);
}

/* HubSpot Matching */
.hs-form label {
  margin-bottom: 0.25rem;
}
.hs-form label .hs-form-required {
  color: #d80b0b;
}
.hs-form input[type="text"], .hs-form input[type="email"] {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f8f5f0;
  border: none;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}
.hs-form input[type="text"]:focus, .hs-form input[type="email"]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #3fe0c5;
  box-shadow: 0 0 0 0.2rem rgba(63, 224, 197, 0.5);
}
.hs-form input[type="checkbox"] {
  margin-right: 0.5em;
}
.hs-form input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  background: #3fe0c5;
  color: #5e464d;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}
.hs-form input[type="submit"]:hover {
  filter: brightness(110%);
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.hs-form input[type="submit"]:focus {
  outline: solid 2px var(--drizzle);
}
.hs-form .legal-consent-container {
  font-size: 0.85rem;
}
.hs-form ul.hs-error-msgs {
  margin-top: -1rem;
  color: #d80b0b;
  position: absolute;
  font-size: .8em;
}
.hjs-form ul.hs_error_rollup.hs-error-msgs{
  position:relative;
}
footer .hs-form label {
  margin-bottom: 0.25rem;
}
footer .hs-form label .hs-form-required {
  color: #e35353;
}
footer .hs-form ul.hs-error-msgs {
  margin-top: -0.75rem;
  color: #e35353;
}
.hs-form-inline .hs-form .hs-form-field {
  display: inline-block;
}
.hs-form-inline .hs-form .hs-email {
  margin-right: 0.5rem;
}
.hs-form-inline .hs-form .hs-fieldtype-booleancheckbox {
  display: block;
}
.hs-form-inline .hs-form .inputs-list {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (max-width: 767.98px) {
  .hs-form-inline .hs-form .hs-form-field {
    display: block;
 }
}
.hs-form-docs input[type="text"], .hs-form-docs input[type="email"] {
  background-color: #f8f5f0;
  color: #495057;
}

.truffle-feature-row h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.5;
}
.truffle-feature-row img {
  max-height: 400px;
}
@media (max-width: 767.98px) {
  .truffle-feature-row img {
    max-height: 260px;
    margin-bottom: 2rem;
 }
}

/* custom */

.feature-icon-sm {
  max-width: 7.5rem;
}

.feature-icon-md {
  max-width: 11.5rem;
}

.feature-icon-lg {
  max-width: 15rem;
}

.banner-taste {
  position: relative;
  background-image: url("/img/truffle-accent.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10rem 0;
  margin-top: 4rem;
}
.banner-taste.truffle {
  background-image: url("/img/truffle-accent.svg");
  background-position: -5% center;
  background-size: 100vh;
  border-top: 1px solid #3fe0c5;
}
.banner-taste.ganache {
  background-image: url("/img/ganache-accent.png");
  background-repeat: repeat-x;
}
.banner-taste.drizzle {
  background-image: url("/img/drizzle-accent.svg");
  background-position: -5% center;
  background-size: 80vh;
  border-top: 1px solid #e911bd;
}

@media screen and (max-width: 76.1875em) {
  /* show the nav section when elemtn within nav is focused */
  .md-nav:focus-within {
    opacity:1;
    transform: translateX(0);
  }
}