.Footer {
  position: relative;
  overflow: hidden;
  background-color: #F7F7F7;
  padding-bottom: 6rem;
  border-top: 1px solid #e7e7e7;
  color: #545452;

  ul,
  ol {
    font-family: $font-family-serif;
    margin-left: 0;
    padding-left: 0;

    li {
      margin-bottom: 1.2em;
      line-height: 1.5rem;
    }
  }

  ul {
    text-transform: uppercase;
  }

  @media screen and (max-width: 991px) {
    ul {
      margin-top: 20px;
    }
  }

  strong {
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
  }

  .Logo {
    width: 100px;
    height: 100px;

    .truffle-wordmark {
      position: relative;
      top: -100px;
    }
  }

  .BetaSignup {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0 !important;

    &:before {
      display: none;
    }

    h5 {
      margin: 0 0 11px 0;
      color: #545452;
      letter-spacing: 0;
      font-weight: 500;
    }

    input[type="submit"] {
      font-family: 'Oswald', 'Arial Narrow', sans-serif;
      font-weight: 500;
    }

    label {
      font-family: 'Oswald', 'Arial Narrow', sans-serif;
      font-weight: 700;
    }

    .FormWrapper {
      margin: 0;
    }
  }

  .copyright {
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
  }

  @media screen and (max-width: 991px) {
    .copyright {
      margin: 0 0 20px 0;
    }
  }

  .container {
    position: relative;

    .footer-wordmark {
      width: calc(100% - 30px);
      position:absolute;
      bottom: -211px;
      left: 15px;
    }
  }

  @media screen and (max-width: 767px) {
    .container .footer-wordmark {
      bottom: -183px;
    }
  }
}
