.nav {
  a {
    text-transform: uppercase;
  }
}

.navbar {
  height: 100px;
  padding: 0 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;

  &.navbar-default {
    background: #fff;
  }
}

.navbar .navbar-collapse {
  background: transparent;
  max-height: none;
  border: none;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 100px;
  height: 100px;
  padding-top: 0;
  font-family: $font-family-sans-serif;
}

.navbar-brand svg {
  height: auto;
  width: 70px;
  float: left;
  margin-top: 12px;
}

.navbar-toggle {
  position: relative;
  height: 32px;
  width: 42px;
  margin-top: 34px;
  margin-right: 30px;
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.ganache-navbar {
  height: 30px;
  margin-top: -3px;
}

.drizzle-navbar {
  height: 24px;
  margin-top: -3px;
}

@media screen and (max-width: 767px) {
  .navbar {
    height: 60px;
  }

  .navbar .navbar-collapse {
    display: block;
    position: fixed;
    top: 59px;
    left: 0;
    width: 100%;
    margin: 0;
    background: #F5F5F5;
    border-bottom: 1px solid #e7e7e7;
    transition: all .25s ease-in-out;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
  }

  .navbar .navbar-collapse.in {
    opacity: 1;
    visibility: visible;
    z-index: 300;
  }

  .navbar .navbar-nav {
    margin: 1.2em 0;
  }

  .navbar .navbar-nav li {
    margin-bottom: 0;
  }

  .navbar-nav li:not(:last-child) {
    margin-bottom: 1.2em;
  }

  .navbar-nav li a {
    line-height: 50px;
    height: 50px;
  }

  .navbar-brand {
    height: 60px;

    svg {
      width: auto;
      height: 32px;
      margin-top: 14px;
    }
  }

  .navbar-toggle {
    margin-top: 15px;
    margin-right: 0;
  }
}

// Navbar Toggle Close Button Animation

.navbar-toggle .icon-bar {
  position: absolute;
  height: 3px;
  width: 22px;
  transition: all .25s ease-in-out;
}

.icon-bar:nth-of-type(2) {
  top: 7px;
  left: 10px;
}

.icon-bar:nth-of-type(3) {
  top: 10px;
  left: 10px;
}

.icon-bar:nth-of-type(4) {
  bottom: 8px;
  left: 10px;
}

.navbar-toggle.close {

  &:hover {
    opacity: 1;
  }

  .icon-bar:nth-of-type(2) {
    top: calc(50% - 2px);
    left: 11px;
    transform: rotate(45deg);
  }

  .icon-bar:nth-of-type(3) {
    opacity: 0;
  }

  .icon-bar:nth-of-type(4) {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
  }
}
